In [2]:
import numpy as np
import pandas as pd
from pandas import json_normalize
import seaborn as sns
import matplotlib.pyplot as plt

import ast

import warnings
warnings.filterwarnings("ignore")

from my_functions import *

In [3]:
df_uk_rock = pd.read_csv('Datasets/df_uk_rock.csv')
df_uk_rock.shape

(12060, 13)

In [7]:
df_uk_rock.head()

,artist_id,master_id,main_release_id,release_country,artist,title,year,album_length,tracks,release_type,genres,styles,artist_profile
0,253712,158153,426893,US,Sparta,Wiretap Scars,2002,47.62,12,['Album'],['Rock'],"['Indie Rock', 'Alternative Rock']","El Paso, Texas based band. Formed in 2001 afte..."
1,1003,11052,7781939,Europe,Muse,Absolution,2003,52.18,14,"['Album', 'Stereo']",['Rock'],['Alternative Rock'],"Muse are an English rock band from Teignmouth,..."
2,1003,11001,446060,UK,Muse,Showbiz,1999,49.65,12,"['Album', 'Stereo']",['Rock'],"['Alternative Rock', 'Prog Rock']","Muse are an English rock band from Teignmouth,..."
3,279192,117961,505983,US,Finch,What It Is to Burn,2002,61.18,13,['Album'],['Rock'],"['Emo', 'Post-Hardcore', 'Alternative Rock']","Finch is a post-hardcore band from Temecula, C..."
4,289490,130980,411599,US,Transplants,Transplants,2002,45.23,12,"['Album', 'Stereo']","['Hip Hop', 'Rock', 'Pop']",['Punk'],"Punk rock/rap rock band Los Angeles, CA, Unite..."

In [8]:
df_uk_rock[df_uk_rock['title']=='Black Sabbath']

,artist_id,master_id,main_release_id,release_country,artist,title,year,album_length,tracks,release_type,genres,styles,artist_profile
254,144998,723,462466,UK,Black Sabbath,Black Sabbath,1970,38.28,7,"['LP', 'Album', 'Stereo']",['Rock'],"['Blues Rock', 'Heavy Metal', 'Hard Rock', 'Do...",Considered by many to be the first heavy metal...

In [9]:
df_masters_scrapped = pd.read_csv('Datasets/df_masters.csv')
df_masters_scrapped.shape

(56660, 13)

# **``styles`` type**

In [5]:
# import the dataframe
df = pd.read_csv('Datasets/df_rock_ratings.csv')
df.shape

(12061, 10)

In [38]:
df.head()

,year,artist,title,rating,votes,album_length,tracks,styles,release_country,artist_profile
0,2002,Sparta,Wiretap Scars,3.79,431,47.62,12,"['Indie Rock', 'Alternative Rock']",US,"El Paso, Texas based band. Formed in 2001 afte..."
1,2003,Muse,Absolution,3.99,4411,52.18,14,['Alternative Rock'],Europe,"Muse are an English rock band from Teignmouth,..."
2,1999,Muse,Showbiz,3.50,2181,49.65,12,"['Alternative Rock', 'Prog Rock']",UK,"Muse are an English rock band from Teignmouth,..."
3,2002,Finch,What It Is to Burn,3.69,864,61.18,13,"['Emo', 'Post-Hardcore', 'Alternative Rock']",US,"Finch is a post-hardcore band from Temecula, C..."
4,2002,Transplants,Transplants,3.35,198,45.23,12,['Punk'],US,"Punk rock/rap rock band Los Angeles, CA, Unite..."

In [39]:
df.styles[0]

"['Indie Rock', 'Alternative Rock']"

In [41]:
df.styles.value_counts().head()

styles
['Indie Rock']          651
['Alternative Rock']    487
['Death Metal']         323
['Pop Rock']            308
[]                      282
Name: count, dtype: int64

It looks like they are lists, but actually...

In [42]:
type(df.styles[0])

str

In [43]:
# convert these strings to 
df.styles=df.styles.apply(ast.literal_eval)
type(df.styles[0])

list

In [44]:
df.styles.value_counts().head()

styles
[Indie Rock]          651
[Alternative Rock]    487
[Death Metal]         323
[Pop Rock]            308
[]                    282
Name: count, dtype: int64

# **``album_length``**

In [47]:
df.album_length.value_counts()

album_length
0.00     3007
41.72      16
42.17      16
42.80      15
39.80      15
         ...
27.63       1
71.53       1
70.58       1
75.12       1
75.17       1
Name: count, Length: 2674, dtype: int64