In [1]:
import numpy as np
import pandas as pd
from pandas import json_normalize
import seaborn as sns
import matplotlib.pyplot as plt

from bs4 import BeautifulSoup
import requests 
import time
import re

# pip install geopy
from geopy.geocoders import Nominatim

import warnings
warnings.filterwarnings("ignore")

from geopy_functions import *
from my_functions import *

In [2]:
# import the dataframes
df_uk_masters = pd.read_csv('Datasets/df_uk_masters.csv')                         # all the albums from the UK
df_us_masters = pd.read_csv('Datasets/df_us_masters.csv')                         # albums from the US until 1996, 1998 and 2000
df_us_new_masters = pd.read_csv('Datasets/df_us_new_masters.csv')                         # albums from the US from 1997, 1999 and 2001
df_us_new_masters_clean = pd.read_csv('Datasets/df_us_new_masters_clean.csv')             # albums from the US from 1997, 1999 and 2001, cleaned, merged with df_ratings_20
df_ratings_20 = pd.read_csv('Datasets/df_ratings_20.csv', keep_default_na=False)  # albums with >= 20 votes, mostly from rock, worldwide
df_masters_blended = pd.read_csv('Datasets/df_masters_blended.csv')               # albums from the UK and US (and others) with >= 20 votes until 2000 aprox
df_artists_origins_coordinates = pd.read_csv('Datasets/df_artists_origins_coordinates.csv')               # merge of df_masters_blended with their locations

# print information
print(f'{df_uk_masters.shape}: df_uk_masters')
print(f'{df_us_masters.shape}: df_us_masters')
print(f'{df_us_new_masters.shape}: df_us_new_masters')
print(f'{df_us_new_masters_clean.shape}: df_us_new_masters_clean')
print(f'{df_ratings_20.shape}: df_ratings_20')
print(f'{df_masters_blended.shape}: df_masters_blended')

(56660, 13): df_uk_masters
(48690, 13): df_us_masters
(74652, 13): df_us_new_masters
(6708, 13): df_us_new_masters_clean
(51222, 5): df_ratings_20
(9667, 13): df_masters_blended

In [5]:
df_masters_blended.head(1)

,artist_id,master_id,main_release_id,release_country,artist,title,year,album_length,tracks,release_type,genres,styles,artist_profile
0,15152368,3747909,31909420,NaN,As Living Arrows,Hope and Ruin,2024,0.0,8,"['LP', 'Album']",['Rock'],['Post-Hardcore'],"Post-screamo band from Brighton, UK\r\n"

In [ ]:
df_us_new_masters_clean.head(1)

,artist_id,master_id,main_release_id,release_country,artist,title,year,album_length,tracks,release_type,genres,styles,artist_profile
0,1441645,396963,3314361,Europe,Devin Townsend Project,Contain Us,2011,1177.03,219,['Album'],"['Electronic', 'Rock', 'Pop']","['Alternative Rock', 'Industrial', 'Prog Rock'...",Rock/metal project of [a251249]. It was founde...

# Locations Wikipedia scraping

## Import dataframes

In [9]:
df = pd.read_csv('Datasets/df_rock_ratings.csv', keep_default_na=False)

print(f"{df['artist'].nunique()} artists")
print(f"{df.shape[0]} albums")
print(f"Average of {round(df.shape[0] / df['artist'].nunique(), 2)} albums per artist in the subset with the (mostly UK) albums with more than 10 votes")

FileNotFoundError: [Errno 2] No such file or directory: 'Datasets/df_rock_ratings.csv'

In [9]:
df_20 = pd.read_csv('Datasets/df_rock_ratings_20.csv', keep_default_na=False)

print(f"{df_20['artist'].nunique()} artists")
print(f"{df_20.shape[0]} albums")
print(f"Average of {round(df_20.shape[0] / df_20['artist'].nunique(), 2)} albums per artist in the subset with the (mostly UK) albums with more than 20 votes")

3823 artists
9380 albums
Average of 2.45 albums per artist in the subset with the (mostly UK) albums with more than 20 votes

In [ ]:
df_ratings_20 = pd.read_csv('Datasets/df_ratings_20.csv')
df_ratings_20.shape

(51252, 5)

## Testing

In [28]:
df.sample(5)

,artist,title,year,album_length,tracks,genres,styles,release_country,artist_profile
10580,The 1975,A Brief Inquiry into Online Relationships,2018,58.43,15,"['Rock', 'Pop']","['Indie Rock', 'Alternative Rock', 'Indie Pop']",UK & Europe,British indie rock band. \r\n\r\nPop-rock band...
9889,Le Butcherettes,A Raw Youth,2015,0.00,12,['Rock'],[],US,Formed by Teri Gender Bender and Auryn Jolene ...
6394,John Fogerty,Centerfield,1985,35.33,9,['Rock'],"['Pop Rock', 'Folk Rock', 'Country Rock']",US,"American musician, songwriter, and guitarist (..."
4498,L7,The Beauty Process: Triple Platinum,1997,41.57,12,['Rock'],"['Punk', 'Grunge']",US,American grunge punk/alternative rock band fro...
5742,The Fall,Are You Are Missing Winner,2001,47.68,10,['Rock'],"['Garage Rock', 'Punk', 'Rockabilly']",UK,"Post-punk band from Greater Manchester, UK. 19..."

In [125]:
artists = df['artist'].unique()
len(artists)

9616

In [106]:
artists[4155]

'Life at These Speeds'

In [116]:
artist = "AABSINTHE"
name_changed = artist.title().replace(' ', '_')
name_changed

'Aabsinthe'

In [658]:
artist = "John Grant"
name_changed = artist.replace(' ', '_')
name_changed_band = artist.replace(' ', '_') + ('_(band)')
name_changed_musician = name_changed + ('_(musician)')

url = f"https://en.wikipedia.org/wiki/{name_changed_musician}"
response = requests.get(url).content
soup = BeautifulSoup(response, "html.parser")
table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

try:
    text = table[0].text

    # Step 1: Extract the part after 'Born'
    after_born = text.split("Born", 1)[1]

    text_age = re.search("aged", after_born)

    if text_age:
        # This means the musician is dead
        location = re.split(r'(19\d{2})', after_born)[4].split('Died')[0].strip()
    else:
        try:
            text = re.split(r'(19\d{2})', after_born)[4].split(')')[1]

            if "Other\xa0names" in text:
                location = text.split('Other\xa0names')[0]
            else:
                if "Citizenship" in text:
                    location = text.split('Citizenship')[0]
                else:
                    if "Genres" in text:
                        location = text.split('Genres')[0]
                        print('Genres')
                    else:
                        if "Occupations" in text:
                            location = text.split('Occupations')[0]
                            print('Occupations')
                        else:
                            location = np.nan
        except:  
            location = np.nan
except:
    print('fuck')

Genres

In [659]:
location

'Buchanan, Michigan, U.S.'

In [652]:
name_changed_musician

'John_Grant_(musician)'

In [533]:
artist = "Stone Gossard"
name_changed = artist.replace(' ', '_')
name_changed_band = artist.replace(' ', '_') + ('_(band)')

url = f"https://en.wikipedia.org/wiki/{name_changed}"
response = requests.get(url).content
soup = BeautifulSoup(response, "html.parser")
table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

try:
    location = table[0].text.split('Origin')[1].split('Genres')[0]

# save info in lists
    print('origin')

except:
    text = table[0].text

    # Step 1: Extract the part after 'Born'
    after_born = text.split("Born", 1)[1]

    text_age = re.search("aged", after_born)

    if text_age:
        # This means the artist is dead
        print('dead')
        location = re.split(r'(19\d{2})', after_born)[4].split('Died')[0].strip()
    else:
        try:
            text = re.split(r'(19\d{2})', after_born)[4].split(')')[1]

            if "Other\xa0names" in text:
                location = text.split('Other\xa0names')[0]
            else:
                if "Citizenship" in text:
                    location = text.split('Citizenship')[0]
                else:
                    if "Occupations" in text:
                        location = text.split('Occupations')[0]
                    else:
                        if "Genres" in text:
                            location = text.split('Genres')[0]
                            print(repr(location))
                        else:
                            location = np.nan
        except:  
            location = np.nan

In [535]:
text

'Seattle, Washington, U.S.GenresAlternative rockgrungeglam punkpunk rockhard rockheavy metalglam metalOccupationsMusiciansongwriterInstrumentsGuitarvocalsYears active'

In [536]:
location

'Seattle, Washington, U.S.GenresAlternative rockgrungeglam punkpunk rockhard rockheavy metalglam metal'

In [118]:
df.head()

   album_id          artist               album  rating  votes
0        37  Less Than Jake       Losing Streak    3.90    414
1        40          Sparta       Wiretap Scars    3.79    431
2        41            Muse          Absolution    3.99   4411
3        42            Muse             Showbiz    3.50   2181
4        45           Finch  What It Is to Burn    3.69    864

## Changing dataframes

### **``df_artists_origins``**

In [93]:
df_artists_origins = pd.read_csv('Datasets/df_artists_origins.csv')
df_artists_origins.shape

(3251, 2)

In [94]:
df_artists_origins.head()

        artist                                     origin
0       Sparta                             El Paso, Texas
1         Muse                 Teignmouth, Devon, England
2        Finch       Temecula, California, Estados Unidos
3  Transplants  Los Angeles, California, United States[1]
4       Rooney              Los Angeles, California, U.S.

In [95]:
df_artists_origins[df_artists_origins['origin']=='United Kingdom']

Empty DataFrame
Columns: [artist, origin]
Index: []

In [86]:
df_new_artists = df_artists_origins[df_artists_origins['origin']=='United Kingdom']

In [89]:
df_new_artists

                      artist                                 origin
1059             Son of Dork                        London, England
1192                Mojave 3                        London, England
1326  Crippled Black Phoenix                       Bristol, England
1597        This Mortal Coil                    Wandsworth, England
2191                 Arcadia                        London, England
2300            Jade Warrior                        London, England
2348           The Waterboys                        London, England
2469       Blackmore's Night         Mount Sinai, NY, United States
2556          Atomic Rooster                        London, England
2609             The Nefilim                       Lambeth, England
2715           Black Spiders                     Sheffield, England
2822                Brontide                        London, England
2878               Gilgamesh                     Hampstead, England
2914       Young Legionnaire                        London, England
2924            The Deviants        Ladbroke Grove, London, England
2956           Head of David  Dudley, West Midlands, United Kingdom
3157            Quintessence                        London, England

In [88]:
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Son of Dork", "London, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Mojave 3", "London, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Crippled Black Phoenix", "Bristol, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="This Mortal Coil", "Wandsworth, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Arcadia", "London, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Jade Warrior", "London, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="The Waterboys", "London, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Blackmore's Night", "Mount Sinai, NY, United States", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Atomic Rooster", "London, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="The Nefilim", "Lambeth, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Black Spiders", "Sheffield, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Brontide", "London, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Gilgamesh", "Hampstead, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Young Legionnaire", "London, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="The Deviants", "Ladbroke Grove, London, England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Head of David", "Dudley, West Midlands, United Kingdom", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Quintessence", "London, England", df_new_artists["origin"])

In [53]:
# check if there's info of the artist origin in the column 'artist_profile'
import textwrap
artist_profile = df.loc[8016]['artist_profile']
splitted_string = textwrap.fill(artist_profile, width=120)
print(splitted_string)

Formed in 1969, they played a blend of jazz, progressive rock, Indian Music, and new age rock.   Members included:
Sambhu Babaji : Bass  Dave Codling : Guitar  Shiva Shankar Jones : Keyboards, Vocals  Jake Milton : Drums  Alan Mostert
: Guitar  Raja Ram : Flute, Piano, Vocals

In [52]:
# look for the albums of the artist in the original df to check it's the correct artist
df[df['artist']=="Quintessence".strip()].sort_values('votes', ascending=False).head()

,year,artist,title,rating,votes,album_length,tracks,styles,release_country,artist_profile
8016,1969,Quintessence,In Blissful Company,3.88,16,0.0,8,['Psychedelic Rock'],UK,"Formed in 1969, they played a blend of jazz, p..."

In [90]:
df_artists_origins = df_artists_origins[df_artists_origins['origin']!='United Kingdom']
df_artists_origins.shape

(3234, 2)

In [91]:
df_artists_origins.to_csv('Datasets/df_artists_origins.csv', index=False)

In [92]:
export_artists_origins_concat(df_new_artists)

df_artists_origins_concat exported to .csv
(3251, 2)

In [56]:
df_coordinates = get_coordinates_geopy(df_new_artists)
df_coordinates

1/9 - London, Greater London, England, United Kingdom
2/9 - Bristol, City of Bristol, West of England, England, United Kingdom
3/9 - Wandsworth, London Borough of Wandsworth, London, Greater London, England, SW18 1UJ, United Kingdom
4/9 - Mount Sinai, Miller Place, Town of Brookhaven, Suffolk County, New York, 11766, United States
5/9 - Lambeth, London Borough of Lambeth, London, Greater London, England, SE1 7JW, United Kingdom
6/9 - Sheffield, South Yorkshire, England, United Kingdom
7/9 - Hampstead, Greater London, England, NW3 1QG, United Kingdom
8/9 - Ladbroke Grove, Westway, Lancaster West Estate, North Kensington, Royal Borough of Kensington and Chelsea, London, Greater London, England, W10 5YG, United Kingdom
9/9 - Dudley, West Midlands, England, United Kingdom

,country,city,origin,origin_clean,latitude,longitude,address
0,United Kingdom,Bristol,"Bristol, England","Bristol, England",51.453802,-2.597298,"Bristol, City of Bristol, West of England, Eng..."
1,United Kingdom,Dudley,"Dudley, West Midlands, United Kingdom","Dudley, West Midlands, United Kingdom",52.511083,-2.081681,"Dudley, West Midlands, England, United Kingdom"
2,United Kingdom,Hampstead,"Hampstead, England","Hampstead, England",51.556530,-0.178301,"Hampstead, Greater London, England, NW3 1QG, U..."
3,United Kingdom,Ladbroke Grove,"Ladbroke Grove, London, England","Ladbroke Grove, London, England",51.517264,-0.211102,"Ladbroke Grove, Westway, Lancaster West Estate..."
4,United Kingdom,Lambeth,"Lambeth, England","Lambeth, England",51.495211,-0.116335,"Lambeth, London Borough of Lambeth, London, Gr..."
5,United Kingdom,London,"London, England","London, England",51.507446,-0.127765,"London, Greater London, England, United Kingdom"
6,United Kingdom,Sheffield,"Sheffield, England","Sheffield, England",53.380663,-1.470228,"Sheffield, South Yorkshire, England, United Ki..."
7,United Kingdom,Wandsworth,"Wandsworth, England","Wandsworth, England",51.457027,-0.193261,"Wandsworth, London Borough of Wandsworth, Lond..."
8,United States,Mount Sinai,"Mount Sinai, NY, United States","Mount Sinai, NY, United States",40.941066,-73.019455,"Mount Sinai, Miller Place, Town of Brookhaven,..."

### **``df_coordinates``**

In [57]:
df_coordinates_scraped = pd.read_csv('Datasets/df_coordinates.csv')
df_coordinates_scraped.shape

(1527, 7)

In [58]:
df_coordinates_scraped.head()

,country,city,origin,origin_clean,latitude,longitude,address
0,Australia,Adelaide,"Adelaide, South Australia, Australia","Adelaide, South Australia, Australia",-34.928181,138.599931,"Adelaide, Adelaide City Council, South Austral..."
1,Australia,Adelaide,"Adelaide, South Australia","Adelaide, South Australia",-34.928181,138.599931,"Adelaide, Adelaide City Council, South Austral..."
2,Australia,Blue Mountains,"Blue Mountains, NSW, Australia","Blue Mountains, NSW, Australia",-33.609741,150.405224,"Blue Mountains, New South Wales, Australia"
3,Australia,Brisbane,"Brisbane, Queensland, Australia","Brisbane, Queensland, Australia",-27.468968,153.023499,"City of Brisbane, Queensland, Australia"
4,Australia,Byron Bay,"Byron Bay, New South Wales, Australia","Byron Bay, New South Wales, Australia",-28.648333,153.617778,"Byron Bay, Byron Shire Council, New South Wale..."

In [59]:
df_coordinates_scraped[df_coordinates_scraped['city']=='United Kingdom']

,country,city,origin,origin_clean,latitude,longitude,address
702,United Kingdom,United Kingdom,United Kingdom,United Kingdom,54.702354,-3.276575,United Kingdom

In [60]:
df_coordinates_scraped.drop(702, axis=0, inplace=True)
df_coordinates_scraped[df_coordinates_scraped['city']=='United Kingdom']

Empty DataFrame
Columns: [country, city, origin, origin_clean, latitude, longitude, address]
Index: []

In [62]:
df_coordinates_scraped.to_csv('Datasets/df_coordinates.csv', index=False)

In [63]:
df_coordinates.shape

(9, 7)

In [64]:
export_coordinates_concat(df_coordinates)

df_coordinates_scraped: (1526, 7)

Found 4 duplicates:
               city         country
324         Bristol  United Kingdom
515  Ladbroke Grove  United Kingdom
542          London  United Kingdom
650       Sheffield  United Kingdom

Resulting dataset: (1531, 7)
Merged artists with coordinates! Found 5 new locations
df_coordinates_concat exported to .csv

### **``df_artists_origins_coordinates_concat``**

In [74]:
df_artists_origins_coordinates_concat = merge_origins_coordinates(df_new_artists)
df_artists_origins_coordinates_concat.tail()

Exported to a .csv file

,artist,country,city,latitude,longitude,address
3246,Gilgamesh,United Kingdom,Hampstead,51.556530,-0.178301,"Hampstead, Greater London, England, NW3 1QG, U..."
3247,Young Legionnaire,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
3248,The Deviants,United Kingdom,Ladbroke Grove,51.517264,-0.211102,"Ladbroke Grove, Westway, Lancaster West Estate..."
3249,Head of David,United Kingdom,Dudley,52.511083,-2.081681,"Dudley, West Midlands, England, United Kingdom"
3250,Quintessence,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"

## Changing values

In [72]:
df_masters_blended[df_masters_blended['artist'].str.contains('Nucleus')]

,artist_id,master_id,main_release_id,release_country,artist,title,year,album_length,tracks,release_type,genres,styles,artist_profile
1004,3821235,1537522,13529787,US,Nucleus (US),Entity,2019,38.42,8,['Album'],['Rock'],['Death Metal'],"Death Metal band from Chicago, Illinois, USA. ..."
1592,3821235,1094310,8362817,US,Nucleus (US),Sentient,2016,37.92,9,['Album'],['Rock'],['Death Metal'],"Death Metal band from Chicago, Illinois, USA. ..."
5257,184256,175620,279855,UK,Nucleus (UK),We'll Talk About It Later,1971,0.00,7,"['LP', 'Album']","['Jazz', 'Rock']","['Fusion', 'Jazz-Funk', 'Jazz-Rock', 'Prog Rock']","Pioneering jazz-rock, progressive, psychedelic..."
10195,184256,23574,465143,UK,Nucleus (UK),Elastic Rock,1970,0.00,13,"['LP', 'Album']","['Jazz', 'Rock']","['Jazz-Rock', 'Fusion', 'Prog Rock']","Pioneering jazz-rock, progressive, psychedelic..."

In [75]:
df_masters_blended[df_masters_blended['title'].str.contains('Alleycat')]

Empty DataFrame
Columns: [artist_id, master_id, main_release_id, release_country, artist, title, year, album_length, tracks, release_type, genres, styles, artist_profile]
Index: []

In [77]:
df_ratings_20[df_ratings_20['artist'].str.contains('Nucleus')]

       album_id        artist                      title  rating  votes
29004     86398  Nucleus (UK)               Elastic Rock    3.55     20
29120     87140  Nucleus (UK)  We'll Talk About It Later    3.79     21
39636    216509  Nucleus (US)                   Sentient    3.29     29
45524    333839  Nucleus (US)                     Entity    3.68     40
46380    352917  Nucleus (UK)                   Alleycat    3.52     20

In [76]:
df_ratings_20.loc[46380, 'artist'] = 'Nucleus (UK)'
df_ratings_20.loc[29004, 'artist'] = 'Nucleus (UK)'
df_ratings_20.loc[29120, 'artist'] = 'Nucleus (UK)'
df_ratings_20.loc[39636, 'artist'] = 'Nucleus (US)'
df_ratings_20.loc[45524, 'artist'] = 'Nucleus (US)'

In [869]:
df.drop([7660, 8037], axis=0, inplace=True)
df.shape

(12059, 10)

In [122]:
df['artist'] = np.where(df['artist']=='pg.99 / Majority Rule', 'Majority Rule', df['artist'])
df[df['artist']=='pg.99 / Majority Rule']

Empty DataFrame
Columns: [album_id, artist, album, rating, votes]
Index: []

In [78]:
df_ratings_20.to_csv('Datasets/df_ratings_20.csv', index=False)

In [581]:
df.shape

(12059, 10)

### **Testing code for strange cases**

In [ ]:
df = pd.read_csv('Datasets/df_ratings.csv')
artists = df['artist'].unique()

artists_list = []
origin_list = []
count=0

for index in artists[140:150]:

    artists_list.append(index)
    name_changed = index.replace(' ', '_')
    name_changed_band = name_changed + ('_(band)')

    try:
        url = f"https://en.wikipedia.org/wiki/{name_changed_band}"
        response = requests.get(url).content
        soup = BeautifulSoup(response, "html.parser")

        origin = soup.select('table tr th', class_='infobox-label')

        if len(origin) > 0:
            try:
                if origin[2].text == 'Origin':
                    location = soup.select('table tr td', class_='infobox-data')[1].text
                elif origin[3].text == 'Origin':
                    location = soup.select('table tr td', class_='infobox-data')[2].text
                # else:
                    
                if 'multiple issues' in location:
                    location = soup.select('table tr td', class_='infobox-data')[7].text        
                    print(f'{count} - {name_changed_band}: multiple issues - {location}')
                    origin_list.append(location)
                elif 'additional citations' in location:
                    location = soup.select('table tr td', class_='infobox-data')[3].text        
                    print(f'{count} - {name_changed_band}: additional citations - {location}')
                    origin_list.append(location)

                else:
                    print(f'{count} - {name_changed_band}: {location}')
                    origin_list.append(location)
            except:
                print(f'{count} - {name_changed_band}: {location}')
                origin_list.append(location)      
        else:
            try:
                url = f"https://en.wikipedia.org/wiki/{name_changed}"
                response = requests.get(url).content
                soup = BeautifulSoup(response, "html.parser")

                origin = soup.select('table tr th', class_='infobox-label')

                if len(origin) > 0:
                    if origin[2].text == 'Origin':
                        location = soup.select('table tr td', class_='infobox-data')[1].text

                        if 'multiple issues' in location:
                            location = soup.select('table tr td', class_='infobox-data')[7].text        
                            print(f'{count} - {name_changed_band}: multiple issues - {location}')
                            origin_list.append(location)
                        elif 'additional citations' in location:
                            location = soup.select('table tr td', class_='infobox-data')[3].text        
                            print(f'{count} - {name_changed_band}: additional citations - {location}')
                            origin_list.append(location)
                        else:
                            print(f'{count} - {name_changed_band}: {location}')
                            origin_list.append(location)

                    elif origin[3].text == 'Origin':
                        location = soup.select('table tr td', class_='infobox-data')[2].text
                        print(f'{count} - {name_changed_band}: {location}')
                        origin_list.append(location) 

                    else:
                        print(f'{count} - {index}: no location found')
                        origin_list.append(np.nan)  
                else:
                    print(f'{count} - {index}: short length')
                    origin_list.append(np.nan)
            except:
                print(f'{count} - {index}: error')
                origin_list.append(np.nan)
    except:
        print(f'{count} - {index}: error')
        origin_list.append(np.nan)

    if len(artists_list) != len(origin_list):
        print('different lengths')
        break

    count+=1

0 - Funeral_for_a_Friend_(band): Bridgend, Wales
1 - Millencolin_(band): multiple issues - Örebro, Sweden
2 - The_Flaming_Lips_(band): Oklahoma City, Oklahoma, U.S.
3 - Feeder_(band): Feeder in 2008
4 - Descendents_(band): Manhattan Beach, California, U.S.
5 - PJ Harvey: no location found
6 - Godsmack_(band): Lawrence, Massachusetts U.S.
7 - Blind_Faith_(band): Ripley, Surrey, England
8 - Van_Halen_(band): Pasadena, California, U.S.
9 - Damageplan_(band): Dallas, Texas, U.S.

## Defining the functions

In [15]:
def get_origins_wikipedia(df, start_index, final_index):
    df = pd.read_csv('Datasets/df_rock_ratings_20.csv')
    artists = df['artist'].unique()

    try:
    # import the DataFrame with the locations whose coordinates I already have
        df_coordinates_scraped = pd.read_csv('Datasets/df_coordinates.csv')
        print('Bingo! df_coordinates.csv found \n')
    except: 
        print('df_coordinates.csv not found \n')

    artists_list = []
    origin_list = []
    count=0
    scraped=0

    for index in artists_us_to_do[start_index:final_index]:

        name_changed = index.replace(' ', '_')
        name_changed_band = name_changed + ('_(band)')

        try:
            url = f"https://en.wikipedia.org/wiki/{name_changed_band}"
            response = requests.get(url).content
            soup = BeautifulSoup(response, "html.parser")

            table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

            location = table[0].text.split('Origin')[1].split('Genres')[0]
            city = location.split(', ')[0]
            count+=1
            
        # save info in lists
            artists_list.append(index)  
            origin_list.append(location)
            scraped+=1
            print(f'{scraped}/{count} - {name_changed_band}: {location}')

        except:
            try:
                url = f"https://en.wikipedia.org/wiki/{name_changed}"
                response = requests.get(url).content
                soup = BeautifulSoup(response, "html.parser")
                table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

                try:
                    location = table[0].text.split('Origin')[1].split('Genres')[0]
                    city = location.split(', ')[0]
                    count+=1 
    
                # save info in lists
                    artists_list.append(index)  
                    origin_list.append(location)
                    scraped+=1
                    print(f'{scraped}/{count} - {name_changed}: {location}')

                except:
                    location = table[0].text.split(')')[2].split('Genres')[0]
                    city = location.split(', ')[0]
                    count+=1

                # save info in lists
                    artists_list.append(index)  
                    origin_list.append(location)
                    scraped+=1
                    print(f'{scraped}/{count} - {name_changed} (individual): {location}')

            except:
                try:
                    url = f"https://es.wikipedia.org/wiki/{name_changed}"
                    response = requests.get(url).content
                    soup = BeautifulSoup(response, "html.parser")

                    table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')
                    location = table[0].text.split('Origen\n')[1].split(' Información')[0]
                    city = location.split(', ')[0]
                    count+=1    
    
                # save info in lists
                    artists_list.append(index)  
                    origin_list.append(location)
                    scraped+=1
                    print(f'{scraped}/{count} - {name_changed} (español): {location}')

                except:
                    count+=1
                    print(f'{scraped}/{count} - {index}: error')
                    artists_list.append(index) 
                    origin_list.append(np.nan)

        if len(artists_list) != len(origin_list):
            print('different lengths')
            break

    df_artists_origins = pd.DataFrame({'artist': artists_list
                             , 'origin': origin_list})
    
    return df_artists_origins

In [102]:
def get_new_artists(df_artists_origins):

# import the df with the artists' origins already scraped
    df_artists_origins_scraped = pd.read_csv('Datasets/df_artists_origins.csv')

    if df_artists_origins['origin'].isna().sum() == 0:        
        print("No null values, but let's take a look just in case there are weird locations")

    else: 
    # take a look at the df with the new artists and make sure there are non null values in origin (when it couldn't find it in Wikipedia)
        print(f'{round(df_artists_origins['origin'].isna().sum() / df_artists_origins.shape[0]*100, 2)} % of nulls')
    
# subset of the new artists I just got, wether there are null values or not
    df_new_artists = df_artists_origins[~df_artists_origins['artist'].isin(df_artists_origins_scraped['artist'].values)]

    print("Here is the dataframe with the new artists, without duplicates")
    return df_new_artists   # so I can take a look at it and then continue

In [ ]:
def export_artists_origins_concat(df_new_artists):

# import the df with the artists' origins already scraped
    df_artists_origins_scraped = pd.read_csv('Datasets/df_artists_origins.csv')

# concat with the df I just got
    df_artists_origins_concat = pd.concat([df_artists_origins_scraped, df_new_artists])
    df_artists_origins_concat.drop_duplicates(inplace=True)     # just in case
    df_artists_origins_concat.reset_index(drop=True, inplace=True)

# export all the artists and their origins to a .csv file (the ones I got plus the new artists)
    df_artists_origins_concat.to_csv('Datasets/df_artists_origins.csv', index=False)
    print('df_artists_origins_concat exported to .csv')
    print(df_artists_origins_concat.shape)

In [175]:
def get_coordinates_geopy(df_new_artists):
    
# replace special characters for spaces
    df_new_artists['origin_clean'] = df_new_artists['origin'].str.replace('.', '')
    df_new_artists['origin_clean'] = df_new_artists['origin_clean'].str.replace(r'\[\d+\]', '', regex=True)

# run the function that gets the coordinates from the origins from Geopy
    geolocator = Nominatim(user_agent="music_analysis", timeout=10)

# if they are 'dirty' origins that after the cleaning, they result in the same 'origin_clean'
    df_unique = df_new_artists[['origin', 'origin_clean']].drop_duplicates() 
    unique_origins = df_unique['origin'].values
    unique_origins_clean = df_unique['origin_clean'].values

    country_list = []
    city_list = []
    latitude_list = []
    longitude_list = []
    address_list = []
    lists = [country_list, city_list, latitude_list, longitude_list, address_list]
    count = 0

    for origin in unique_origins_clean:
        count+=1
        time.sleep(1)
        location = geolocator.geocode(origin)

        print(f'{count}/{len(unique_origins_clean)} - {location.address}')  

    # save the info in lists
        country_list.append(location.address.split(', ')[-1])
        city_list.append(origin.split(', ')[0])
        latitude_list.append(location.latitude)
        longitude_list.append(location.longitude)
        address_list.append(location.address)

        # # Check lengths
        # print(f"{count}/{len(unique_origins_clean)} - {origin}")
        # print(f"Current list lengths -> country: {len(country_list)}, city: {len(city_list)}, "
        #     f"lat: {len(latitude_list)}, lon: {len(longitude_list)}, address: {len(address_list)}")

    df_coordinates = pd.DataFrame({'country': country_list
                                , 'city': city_list
                                , 'origin': unique_origins
                                , 'origin_clean': unique_origins_clean
                                , 'latitude': latitude_list
                                , 'longitude': longitude_list
                                , 'address': address_list})
    df_coordinates.sort_values(['country', 'city'], inplace=True) # sort by country and city
    df_coordinates.reset_index(drop=True, inplace=True)

    return df_coordinates

In [ ]:
def export_coordinates_concat(df_coordinates):

# import the last df that contains the coordinates of the unique origins
    df_coordinates_scraped = pd.read_csv('Datasets/df_coordinates.csv')
    print(f"df_coordinates_scraped: {df_coordinates_scraped.shape}\n")

# concat with the df of the coordinates I just got
    df_coordinates_concat = pd.concat([df_coordinates_scraped, df_coordinates])
    df_coordinates_concat.sort_values(['country', 'city'], inplace=True) # sort by country and city
    df_coordinates_concat.reset_index(drop=True, inplace=True)

# look for duplicates in the origin, between the locations I had already gotten and the new ones
    check_duplicates_origins(df_coordinates_concat)
    new_origins = df_coordinates_concat.shape[0] - df_coordinates_scraped.shape[0]
    print(f"Merged artists with coordinates! Found {new_origins} new locations")

# save it in a csv file (the coordinates I had plus the ones from the new artists I just got)
    df_coordinates_concat.to_csv('Datasets/df_coordinates.csv', index=False)
    print('df_coordinates_concat exported to .csv')

In [140]:
def merge_origins_coordinates(df_new_artists):

# import the last df that contains the coordinates of the unique origins
    df_coordinates_concat = pd.read_csv('Datasets/df_coordinates.csv')

# merge with the previous df with the artists
    df_artists_origins_coordinates = pd.merge(df_new_artists, df_coordinates_concat, on=['origin'])
    df_artists_origins_coordinates.drop(columns=['origin', 'origin_clean_x', 'origin_clean_y'], inplace=True)

# import the df that contains info of the artists and the coordinates of their origins
    df_artists_origins_coordinates_scraped = pd.read_csv('Datasets/df_artists_origins_coordinates.csv')

# concat to get the df with all the artists, origins and their coordinates
    df_artists_origins_coordinates_concat = pd.concat([df_artists_origins_coordinates_scraped, df_artists_origins_coordinates])
    df_artists_origins_coordinates_concat.reset_index(drop=True, inplace=True)

# save it in a csv file
    df_artists_origins_coordinates_concat.to_csv('Datasets/df_artists_origins_coordinates.csv', index=False)
    print("Exported to a .csv file")

    return df_artists_origins_coordinates_concat

## Merge dataframes and look for the ``new_artists``

In [11]:
artists_blend = df_masters_blended['artist'].unique()
len(artists_blend)

4527

In [12]:
df_artists_origins = pd.read_csv('Datasets/df_artists_origins.csv')
artists = df_artists_origins['artist'].unique()
artists_usa = []

for artist in artists_blend:
    if artist not in df_artists_origins['artist'].values:
        artists_usa.append(artist)

len(artists_usa)

1555

In [13]:
artists_usa

['As Living Arrows',
 'Hidden Mothers',
 'Tiny Moving Parts',
 'Poppy',
 'State Champs',
 'Oso Oso',
 'Better Lovers',
 'Lowen',
 'Halsey',
 'Amyl and the Sniffers',
 'Delta Sleep',
 'High Vis',
 'Cemetery Skyline',
 'Goat',
 'Chat Pile',
 'Drug Church',
 'Origami Angel',
 'Heriot',
 'Nightwish',
 'Foxing',
 'Alora Crucible',
 'Wage War',
 'TURQUOISEDEATH',
 'Dawn Treader',
 'Boston Manor',
 'MJ Lenderman',
 'Fat Dog',
 'Kingcrow',
 'Leprous',
 'Wunderhorse',
 'thrown',
 'Horse Jumper of Love',
 'Within the Ruins',
 'Magdalena Bay',
 'Fontaines D.C.',
 'beabadoobee',
 'State Faults',
 'Graphic Nature',
 'The Home Team',
 'Speed',
 'Remi Wolf',
 'Clairo',
 'Crippling Alcoholism',
 'Cigarettes After Sex',
 'Abriction',
 'Pijn',
 'Outlander',
 'Imagine Dragons',
 'The Dangerous Summer',
 'Pond',
 'Hyperdontia',
 'Vredehammer',
 'Pedro the Lion',
 'Weston Super Maim',
 'Stand Still',
 'Mortal Wound',
 'Eye of Solitude',
 'Beth Gibbons',
 'Contention',
 'Knocked Loose',
 'Mdou Moctar',
 'The Lemon Twigs',
 'Mk.Gee',
 'Vennart',
 'Microwave',
 'Mastiff',
 'Skycamefalling',
 'SeeYouSpaceCowboy',
 'Jamie Lenman',
 'AVRALIZE',
 'Imminence',
 'Aaron West and The Roaring Twenties',
 'Lo Moon',
 'English Teacher',
 'Engulfed',
 'Khruangbin',
 'Coffin Storm',
 'Blanket',
 'Boundaries',
 'Adrianne Lenker',
 'samlrc',
 'Sticky Fingers',
 'Bleachers',
 'Stay Inside',
 'Mannequin Pussy',
 'Yard Act',
 'Faye Webster',
 'Little Kid',
 'Job For A Cowboy',
 'IDLES',
 'Ihsahn',
 'Laura Jane Grace',
 'The Chisel',
 'The Last Dinner Party',
 'NewDad',
 'Frank Carter and the Rattlesnakes',
 'Tapir!',
 'Neck Deep',
 'Casey',
 'Marika Hackman',
 'Slift',
 'Sprints',
 'Killing Me Softly',
 'Rannoch',
 'Termina',
 'Harp',
 'Empty Country',
 'Free Throw',
 'Psychedelic Porn Crumpets',
 'Dying Wish',
 'END',
 'Wargasm',
 'Maria BC',
 'Myrkur',
 'Knuckle Puck',
 'Creeper',
 'Beartooth',
 'Blood Command',
 'Rorcal',
 'Yeule',
 'Slow Pulp',
 'Dead and Dripping',
 'Koyo',
 'Shade Empire',
 'TesseracT',
 'Explosions in the Sky',
 'Cursetheknife',
 'Olivia Rodrigo',
 'Uada',
 'Pain of Truth',
 'Reverence To Paroxysm',
 'Royal Blood',
 'Celestial Sanctuary',
 'Empire State Bastard',
 'Jeff Rosenstock',
 'Spanish Love Songs',
 'Urne',
 'Movements',
 'Caskets',
 'Fiddlehead',
 'Sunami',
 'Teenage Wrist',
 'Deitus',
 'Mutoid Man',
 'Voyager',
 'Dawnwalker',
 'PVRIS',
 'Julie Byrne',
 'Blindfolded and Led to the Woods',
 'Nothing But Thieves',
 'Grian Chatten',
 'Model/Actriz',
 'Burner',
 'Death Goals',
 'King Krule',
 'feeble little horse',
 'Noah Kahan',
 'Squid',
 'Tigercub',
 'Pupil Slicer',
 'Protomartyr',
 'Phoxjaw',
 'Bully',
 'Wytch Hazel',
 'Water From Your Eyes',
 'Incendiary',
 'bar italia',
 'Sleep Token',
 'Mandy, Indiana',
 'Covet',
 'The Amity Affliction',
 'Veil of Maya',
 'Currents',
 'Crown the Empire',
 'There Will Be Fireworks',
 'Waterparks',
 'Blondshell',
 'HMLTD',
 'deathcrash',
 'Wednesday',
 'Gel',
 'Allfather',
 'Bury Tomorrow',
 'City and Colour',
 'Boygenius',
 "Dawn Ray'd",
 'BABYMETAL',
 'Mork',
 'Green Druid',
 'M83',
 '100 Gecs',
 'Periphery',
 'Sleaford Mods',
 'Acres',
 "Can't Swim",
 'Pest Control',
 'Host',
 'U.S. Girls',
 'Shame',
 'Avatar',
 'Hellripper',
 'Avey Tare',
 'A Wake in Providence',
 'Pigs Pigs Pigs Pigs Pigs Pigs Pigs',
 'Ihlo',
 'Narrow Head',
 'Emarosa',
 'Molly',
 'The Murder Capital',
 'Margo Price',
 'Weyes Blood',
 'Turnover',
 'Demon Hunter',
 "Arm's Length",
 'Fit for a King',
 'Dead Cross',
 'Abduction',
 'Brutus',
 'Dry Cleaning',
 'The 1975',
 'Lacuna Coil',
 'Gilla Band',
 'Alvvays',
 'Counterparts',
 'Vacuous',
 'Faceless Burial',
 'Drowning Pool',
 'Within Destruction',
 'Miss May I',
 'Escuela Grind',
 'No Devotion',
 'Holy Fawn',
 'Courting',
 'Tamino',
 'Horsey',
 'Inclination',
 'Rina Sawayama',
 'Electric Callboy',
 'Camping In Alaska',
 'Slaughterhouse',
 'YUNGBLUD',
 'Stella Donnelly',
 'Julia Jacklin',
 'Pale Waves',
 'The Halo Effect',
 'Sedimentum',
 'Pool Kids',
 'Ithaca',
 'Dance Gavin Dance',
 'Molder',
 'Black Midi',
 'Say Sue Me',
 'Viagra Boys',
 'Wormrot',
 'Momma',
 'Petrol Girls',
 'Saor',
 'Soccer Mommy',
 'Sunrise Patriot Motion',
 'Nova Twins',
 'Ataraxy',
 'Otoboke Beaver',
 'Motionless In White',
 'Corpsessed',
 'Blood Youth',
 'Horsegirl',
 'Just Mustard',
 'Malevolence',
 'Harry Styles',
 'Porridge Radio',
 'Toad',
 'Rolling Blackouts Coastal Fever',
 'Bodysnatcher',
 'Static Dress',
 'Halestorm',
 'Stand Atlantic',
 'Proper.',
 'Black Sheep Wall',
 'Hatchie',
 'Prince Daddy and The Hyena',
 'Undeath',
 'Epitaphe',
 'Envy of None',
 'Helpless',
 'Wet Leg',
 'PUP',
 'Camp Cope',
 'Ditz',
 'Aldous Harding',
 'Indian Summer',
 'Machine Gun Kelly',
 'Animals As Leaders',
 'Yumi Zouma',
 'Twelve Foot Ninja',
 'Belmont',
 'Messa',
 'Chalk Hands',
 'Ghost',
 'Cryptworm',
 'Mountaineer',
 'Ecchymosis',
 'Bloodywood',
 'Sasami',
 'Avril Lavigne',
 'Mom Jeans.',
 'Caroline',
 'Scorpions',
 'Evergreen',
 'Sea Power',
 'Big Thief',
 'As It Is',
 'Grivo',
 'Mitski',
 'Pinegrove',
 'Black Country, New Road',
 'Bad Omens',
 'Voices',
 'Comeback Kid',
 'Shadow Of Intent',
 'Vertebra Atlantis',
 'Slow Crush',
 'Unfurl',
 'Geese',
 'Papangu',
 'Damon Albarn',
 'Sermon of Flames',
 'Springtime',
 'Snail Mail',
 'Emma Ruth Rundle',
 'Courtney Barnett',
 'Black Veil Brides',
 'Frontierer',
 'Monolord',
 'Sulphurous',
 'Black Marble',
 'Ice Nine Kills',
 'I Feel Fine',
 'Sugar Horse',
 'Dean Blunt',
 'Sam Fender',
 "KK's Priest",
 'Full of Hell',
 'Tremonti',
 'LLNN',
 'Spiritbox',
 'Aborted',
 'Kacey Musgraves',
 'Trna',
 'Slaughter To Prevail',
 'sonhos tomam conta',
 'Bossk',
 'Indigo De Souza',
 'Deafheaven',
 'Wolves in the Throne Room',
 'Qrixkuor',
 'Trash Boat',
 'Galvanizer',
 'Yola',
 'Torres',
 'LUMP',
 'The Maine',
 'Ophidian I',
 'Diabolizer',
 'Descendents',
 'Lightning Bug',
 'Atvm',
 'Project 86',
 'Lovesliescrushing',
 'Hacktivist',
 'Lucy Dacus',
 'Portal',
 'Ceremonium',
 'Nexilva',
 'Fear Factory',
 'Morbific',
 'Marina',
 'Our Hollow, Our Home',
 'Wolf Alice',
 'Tilian',
 'Bachelor',
 'Noctule',
 'Japanese Breakfast',
 'Home Is Where',
 'Manchester Orchestra',
 'The Raging Nathans',
 'Holding Absence',
 'Flock of Dimes',
 "'68",
 'Genghis Tron',
 'Ominous Ruin',
 'Cassandra Jenkins',
 'Julien Baker',
 'Love and Death',
 'Defacement',
 'Divide And Dissolve',
 'TV Priest',
 'Lamp of Murmuur',
 'Goat Girl',
 'Soen',
 'Accept',
 'Pom Poko',
 'The Casket Lottery',
 'Parquet Courts',
 'Pearl Charles',
 'Respire',
 'Teenage Mutant Ninja Turtles',
 'Dominic Fike',
 'Undergang',
 'Edenic Past',
 'Red City Radio',
 'Palm Reader',
 'Bearings',
 'Seahaven',
 'Black Foxxes',
 'Scalp',
 'The Menzingers',
 'Kingdom of Giants',
 'Guitar Fight from Fooly Cooly',
 'Miasmatic Necrosis',
 'Black Stone Cherry',
 'Nothing',
 'The Fall of Troy',
 'Matt Berninger',
 'Gorephilia',
 'Joji',
 'Corey Taylor',
 'Fires in the Distance',
 'Obsidian Kingdom',
 'Svalbard',
 'The Ocean',
 'Into It. Over It.',
 'Fawn Limbs',
 'Vous Autres',
 'Carnation',
 'Special Interest',
 'Declan McKenna',
 'Xazraug',
 'Necrot',
 'Angel Olsen',
 "Luna's Call",
 'No Joy',
 'Pharmacist',
 'Duma',
 'Misery Signals',
 'Slightly Stoopid',
 'Aseitas',
 'Paara',
 'Greg Puciato',
 'The Beths',
 'Nation of Language',
 'Grey Daze',
 'Carach Angren',
 'Melt Yourself Down',
 'Pottery',
 'Sault',
 'Calligram',
 'Phoebe Bridgers',
 'Owen',
 'Justice For The Damned',
 'Make Them Suffer',
 'Westerman',
 'Sports Team',
 'Muzz',
 'Palaye Royale',
 "Caligula's Horse",
 'Infant Island',
 'VVilderness',
 'Car Seat Headrest',
 'Elephant Tree',
 'Molested Divinity',
 'Ellis',
 'Kontinuum',
 'Yves Tumor',
 'Telepathy',
 '5 Seconds of Summer',
 'Brian Fallon',
 'Sorry',
 'The Chats',
 'Malokarpatan',
 'Afterbirth',
 'Temple of Void',
 'Hot Mulligan',
 'Horse Lords',
 'The Districts',
 'Monsters',
 'Greg Dulli',
 'Panchiko',
 'Bambara',
 'Giver',
 'Loathe',
 'Shopping',
 'Leeched',
 'Lowrider',
 'Lovebites',
 'Vengeful Spectre',
 'Higher Power',
 'Slick Shoes',
 'Wolf Parade',
 'Mura Masa',
 'Garganjua',
 'Algiers',
 'Vomit the Soul',
 'The Last Ten Seconds Of Life',
 'Blood Incantation',
 'Dream State',
 'Stray from the Path',
 'Rex Orange County',
 'Sadisme',
 'Patrick Watson',
 'Common Holly',
 'Car Bomb',
 'We Lost the Sea',
 'Surf Curse',
 'Issues',
 'Kim Gordon',
 'Alarmist',
 'Dayseeker',
 'Renounced',
 'Post Malone',
 'Klone',
 'Void of Vision',
 'The Agonist',
 'Liam Gallagher',
 'The Hu',
 'Grayscale',
 'Chris Farren',
 'The Odious',
 'Sleeping With Sirens',
 'Nocturnal Departure',
 'Whitney',
 'Jay Som',
 'Tropical Fuck Storm',
 'King Gizzard and The Lizard Wizard',
 'Blanck Mass',
 'Richard Henshall',
 'Rosalie Cunningham',
 'Slaughter Beach, Dog',
 'iamthemorning',
 'Iniquitous Deeds',
 'Throes',
 'Abbath',
 'Ossuary',
 'Shirokuma',
 'Puppy',
 'Bill Callahan',
 'CHON',
 'Vanishing Twin',
 'Frank Iero and The Future Violents',
 'Novo Amor',
 'Death Angel',
 'Cate Le Bon',
 'Plastic Mermaids',
 'Black Mountain',
 'Alex Lahey',
 'Lewis Capaldi',
 'Holding Patterns',
 'Forests',
 'We Never Learned To Live',
 'Shin Guard',
 'Town Portal',
 'Trade Wind',
 'Kevin Morby',
 'Nucleus',
 'Wand',
 'Clowns',
 'The Raven Age',
 'Ceremony Of Silence',
 'The Dismemberment Plan',
 'CHAI',
 'Orville Peck',
 'Akasha',
 'Venom Prison',
 'Oozing Wound',
 'Baalsebub',
 'Tim Bowness',
 'Mammoth Weed Wizard Bastard',
 'Hozier',
 'Teeth Of The Sea',
 'Badflower',
 'Drenge',
 'Astronauts',
 'Homeshake',
 'Green Lung',
 'Set It Off',
 'Minors',
 'King 810',
 'Mystifier',
 'Jade Bird',
 'Press Club',
 'Mono',
 'Palisades',
 'Tallies',
 'Deuce',
 'Napoleon',
 'Normandie',
 'XXXTENTACION',
 'Ex:Re',
 'Bliss Signal',
 'Portrayal of Guilt',
 'The Good, The Bad and The Queen',
 'Toska',
 'Tenacious D',
 'Hippo Campus',
 'Mass of the Fermenting Dregs',
 'The Struts',
 'Frog',
 'The Dirty Nil',
 'Polyphia',
 'Hands Like Houses',
 'Tom Morello',
 'Pagan',
 'Black Peaks',
 'Kero Kero Bonito',
 'Monuments',
 'Exit North',
 'Against The Current',
 'Windhand',
 'All Them Witches',
 'Head with Wings',
 'Wstr',
 'Imperial Triumphant',
 'The Skull',
 'Gia Margaret',
 'Trophy Eyes',
 'Regal Worm',
 'Talons',
 'Like Pacific',
 'The Antichrist Imperium',
 'Mouse On The Keys',
 'Burial Invocation',
 'Morrow',
 'The Interrupters',
 'Panic! at the Disco',
 'Mark Kozelek',
 'Church of the Cosmic Skull',
 'Zeal and Ardor',
 'Jonathan Davis',
 'Tancred',
 'Lunatic Soul',
 'Flasher',
 'Graveyard',
 'Keiji Haino',
 'Body Void',
 'Middle Kids',
 'Pinkshinyultrablast',
 'Forth Wanderers',
 'Sectioned',
 'Speedy Ortiz',
 'Cassus',
 'Boss Keloid',
 'Tangled Hair',
 'Ruins',
 'Mastersystem',
 'Rainbow Kitten Surprise',
 'Autokrator',
 'Night Flowers',
 'Hinds',
 'Sunflower Bean',
 'Nervus',
 'George Ezra',
 'King Goat',
 'Dead!',
 'Moose Blood',
 "Ed Schrader's Music Beat",
 'Gleb Kolyadin',
 'Slugdge',
 'Conjurer',
 'Vundabar',
 'Dvne',
 'S. Carey',
 'Pianos Become the Teeth',
 'Band-Maid',
 'Legend of the Seagullmen',
 'Crywank',
 'The Plot In You',
 'Loma',
 'Ezra Furman',
 'Son Lux',
 'Alpha Male Tea Party',
 'Palm',
 'Philip H. Anselmo and The Illegals',
 'Marmozets',
 'Somali Yacht Club',
 'Anna Burch',
 'Dream Wife',
 'Thousand Below',
 'Of Mice and Men',
 "Leaves' Eyes",
 'Embodyment',
 'Five Iron Frenzy',
 'Yellow Days',
 'Death Toll 80k',
 'Sacred Son',
 'Peach Pit',
 'Beast In Black',
 'ROAM',
 'Turnpike Troubadours',
 'Ibeyi',
 'Grave Pleasures',
 'IDYLLS',
 'With the Dead',
 'Nothing More',
 'Prawn',
 'Seaway',
 'Ariel Pink',
 'Rostam',
 'The Contortionist',
 'Prophets of Rage',
 'White Moth Black Butterfly',
 'Hammock',
 'Hungry Ghosts',
 'Thy Art Is Murder',
 'ostraca',
 'Kesha',
 'Horrified',
 'Agents of Oblivion',
 'Sheer Mag',
 'Silverstein',
 'HAIM',
 'Public Service Broadcasting',
 'Spaceslug',
 'Floating Points',
 'Ex Eye',
 'Hey Violet',
 'Single Mothers',
 'Wode',
 'Flogging Molly',
 'Tricot',
 'Pumarosa',
 'Employed To Serve',
 'Gnarwolves',
 'Woods',
 'PWR BTTM',
 'i hate sex',
 'Spotlights',
 'Sundara Karma',
 'Hoops',
 'The Physics House Band',
 'Artificial Brain',
 'Falling in Reverse',
 'Jeromes Dream',
 'Richard Cheese',
 'Michelle Branch',
 'Timber Timbre',
 'I Declare War',
 'Chinese Football',
 'The Smith Street Band',
 'Phrenelith',
 'Hurray For The Riff Raff',
 'Circa Waves',
 'Temples',
 'Raspberry Bulbs',
 'Crystal Fairy',
 'Vagabon',
 'Peter Silberman',
 'Meat Wave',
 'The Orwells',
 'Andrew McMahon in the Wilderness',
 'Starset',
 'Mark Eitzel',
 'Foxygen',
 'The Mayfield Four',
 'Tycho',
 'Youth Funeral',
 '40 Watt Sun',
 'Attila',
 'You Blew It!',
 'Voices from the Fuselage',
 'Earth Moves',
 'D.D Dumbo',
 'Lewis Del Mar',
 'From Ashes To New',
 'Shawn Mendes',
 'Airbourne',
 'Merchandise',
 'Beach Slang',
 'Newsboys',
 'Preoccupations',
 'Okkervil River',
 'Dope Lemon',
 'Mild High Club',
 'David Brent',
 'Abhorrent Decimation',
 'Bayside',
 'SWMRS',
 'Gouge Away',
 'Young the Giant',
 'Monarch',
 'Coldrain',
 "Bear's Den",
 'Despised Icon',
 'Omni',
 'McCafferty',
 'Dikembe',
 'Nonpoint',
 'The Avalanches',
 'Big Business',
 'Martha',
 'Fates Warning',
 'Lonely the Brave',
 'British Theatre',
 'Thousand Foot Krutch',
 'Art Of Dying',
 'With Confidence',
 'Jake Bugg',
 'The Hotelier',
 'Rival Sons',
 'The Claypool Lennon Delirium',
 'Wicked Innocence',
 'Minor Victories',
 'Fear of Men',
 'Real Friends',
 'Catfish and the Bottlemen',
 'Pantha Du Prince',
 'Crystal Lake',
 'Kikagaku Moyo',
 'Schammasch',
 'Twin Peaks',
 'Destruction',
 'Eagulls',
 'RY X',
 'LUH',
 'ANOHNI',
 'Messenger',
 'Annisokay',
 'Dowsing',
 'Crooks',
 'Dehumanized',
 'Moonlit Sailor',
 'The Comet Is Coming',
 'Radical Face',
 'King Buffalo',
 'The Drones',
 'Plague Vendor',
 'Richmond Fontaine',
 'Sarah Neufeld',
 'Heck',
 'Wormed',
 'ee',
 'Guerilla Toss',
 'Big Ups',
 'Mothers',
 'Cindy Lee',
 'The Neighbourhood',
 'Porches',
 'Money',
 'Nevermen',
 'Savages',
 'Intervals',
 'Fit for an Autopsy',
 'Violet Cold',
 'Sam Hunt',
 'Nokturnel',
 'Good Tiger',
 'Sexwitch',
 'EL VY',
 'Love Lost But Not Forgotten',
 'Half Moon Run',
 'Shining',
 'Marietta',
 'Dilly Dally',
 'One Ok Rock',
 'Cruciamentum',
 'Kylesa',
 'Caspian',
 'Agent Fresco',
 'P.O.D.',
 'X Ambassadors',
 'Hills',
 'Soilwork',
 'Heartist',
 'The Sword',
 'Royal Headache',
 'Highly Suspect',
 'Kings Kaleidoscope',
 'Archivist',
 'Jason Isbell',
 'Dan Andriano in the Emergency Room',
 'Years and Years',
 'Ethereal Shroud',
 'God Damn',
 'August Burns Red',
 'Human Hands',
 'Iwrestledabearonce',
 'Mutiny On The Bounty',
 'Mylets',
 'Lucifer',
 'Zella Day',
 'FFS',
 'Jaga Jazzist',
 'Girlpool',
 'Pet Symmetry',
 'Charlie Simpson',
 'Johnny Rebel',
 'Surfer Blood',
 'Murmur',
 'We Are Harlot',
 'Nai Harvest',
 'Ghost Bath',
 'Alabama Shakes',
 'Bio-Cancer',
 'Neon Trees',
 'Say Lou Lou',
 'Until The Ribbon Breaks',
 'Shizune',
 'Lower Dens',
 'Ryley Walker',
 'James Bay',
 'AWOLNATION',
 'Ranger',
 'Trepalium',
 'Houndmouth',
 'The Sidekicks',
 'Pile',
 'Ghostpoet',
 'A Textbook Tragedy',
 'Colleen Green',
 'Butch Walker',
 'xRepentancex',
 'Peace',
 'The Arrogant Sons of Bitches',
 'Jessica Pratt',
 'This Is A Standoff',
 'Planet X',
 'Kodaline',
 'FACT',
 'Abstracter',
 'California X',
 'Cloakroom',
 'Swallowed',
 'Charli XCX',
 'Clouds',
 'TrenchRot',
 'Forever Came Calling',
 'The Ghost Inside',
 'Youngblood Hawke',
 'No Bragging Rights',
 'Disembarked',
 'The Jazz June',
 'Wildbirds and Peacedrums',
 'Crobot',
 'Miroist',
 'Climates',
 'Tweedy',
 'Adult Jazz',
 'Benjamin Booker',
 'My Brightest Diamond',
 'The Hell',
 'The Wytches',
 'Lay Down Rotten',
 'Owl John',
 'The Algorithm',
 'The Flex',
 'Bear Hands',
 'Totem Skin',
 'Breathe Carolina',
 'Braid',
 'Total Control',
 'Glass Animals',
 'White Lung',
 'Dreamshade',
 'Tombs',
 'Harry Pussy',
 'Vales',
 'Archspire',
 'Sickening Gore',
 'Mars Red Sky',
 'Lewis',
 'Sorority Noise',
 'Echosmith',
 'Brody Dalle',
 'Circles',
 'Ian Anderson',
 'The Mire',
 "Avey Tare's Slasher Flicks",
 'Chuck Ragan',
 'Scar the Martyr',
 'Owls',
 'Collide',
 'Laibach',
 'Tony Molina',
 'Adrenaline Mob',
 'I See Stars',
 'Pan.Thy.Monium',
 'Above and Beyond',
 'Cheatahs',
 'Sahg',
 'Harvey Danger',
 'Mutual Benefit',
 'Marvelous 3',
 'Pestilence',
 'Beastmilk',
 'Hell',
 'Steve Von Till',
 'Laughing Hyenas',
 'Yamantaka // Sonic Titan',
 'Sky Ferreira',
 'Kind of Like Spitting',
 'the GazettE',
 'San Fermin',
 ...]

In [110]:
# I have to import this df for the function to properly work
df = pd.read_csv('Datasets/df_blend_ratings.csv')
artists = df['artist'].unique()
len(artists)

4249

In [11]:
artists[-1]

'As Living Arrows'

In [12]:
df_artists_origins.index[-1]

3423

In [13]:
df_artists_origins.tail()

                     artist                            origin
3419             Cinderella  Philadelphia, Pennsylvania, U.S.
3420  Death From Above 1979          Toronto, Ontario, Canada
3421                Chicago  Chicago, Illinois, United States
3422  The Nation of Ulysses                  Washington, D.C.
3423             Strung Out     Simi Valley, California, U.S.

In [164]:
np.where(artists=='July Talk')

(array([2772], dtype=int64),)

In [163]:
artists[2772]

'July Talk'

# **Code to execute the functions from ``geopy_functions.py``**

In [3]:
artists_to_remove = ['Cemetery Skyline', 'Goat', 'Kingcrow', 'Speed', 'Hyperdontia', 'Vredehammer', 'Weston Super Maim',
                'Mdou Moctar', 'AVRALIZE', 'Engulfed', 'Coffin Storm', 'samlrc', 'Little Kid', 'Termina', 'Rorcal',
                'Reverence To Paroxysm', 'Voyager', 'Blindfolded and Led to the Woods', 'Mork', 'Yeule', 'Pond',
                'Empire State Bastard', 'Blood Command', 'Avatar', 'Brutus', 'Faceless Burial', 'Within Destruction',
                'Sedimentum', 'Ataraxy', 'Corpsessed', 'Epitaphe', 'Aldous Harding', 'Messa', 'Ghost', 'Ecchymosis',
                'Wormrot', 'Vertebra Atlantis', 'Papangu', 'Sermon of Flames', 'Springtime', 'Monolord', 'Sulphurous',
                'LLNN', 'Trna', 'Slaughter To Prevail', 'sonhos tomam conta', 'Galvanizer', 'Ophidian I', 'Diabolizer',
                'Morbific', 'Defacement', 'Divide And Dissolve', 'Soen', 'Scorpions', 'Accept', 'Respire', 'Undergang',
                'Bearings', 'Scalp', 'Miasmatic Necrosis', 'Teenage Mutant Ninja Turtles', 'Gorephilia', 'Vous Autres',
                'Carnation', 'Pharmacist', 'Paara', "Justice For The Damned", 'VVilderness', 'Molested Divinity', 'Ellis',
                'Kontinuum', 'Monsters', 'Giver', 'Lowrider', 'Vengeful Spectre', 'Vomit the Soul', 'Sadisme', 'Alarmist',
                'Klone', 'Nocturnal Departure', 'King Gizzard and The Lizard Wizard', 'Make Them Suffer', 'The Chats',
                'Patrick Watson', 'Shirokuma', 'Forests', 'Town Portal', 'Ceremony Of Silence', 'CHAI', 'Baalsebub',
                'Minors', 'Mono', 'Tallies', 'Normandie', 'Mouse On The Keys', 'Burial Invocation', 'Orville Peck',
                'Lunatic Soul', 'Alex Lahey', 'Hozier', 'Mystifier', 'Hands Like Houses', 'Ruins', 'Autokrator',
                'Legend of the Seagullmen', 'Death Toll 80k', 'IDYLLS', 'Spaceslug', 'i hate sex', 'Band-Maid',
                'With the Dead', 'Hungry Ghosts', 'Middle Kids', 'Gleb Kolyadin', "Leaves' Eyes", "Phrenelith",
                "David Brent", "Art Of Dying", "Minor Victories", "Pantha Du Prince", "Schammasch", 'LUH',
                'Violet Cold', 'EL VY', 'Shining', 'Hills', "Mutiny On The Bounty", 'Lucifer', 'FFS', 'Ranger',
                'Trepalium', 'A Textbook Tragedy', 'This Is A Standoff', 'FACT', 'Swallowed', 'Disembarked',
                'Wildbirds and Peacedrums', 'Archivist', 'Timber Timbre', 'Newsboys', 'Dope Lemon', 'Vagabon',
                'RY X', 'Moonlit Sailor', 'The Drones', 'Sarah Neufeld', 'Say Lou Lou', 'Cruciamentum', 'Lay Down Rotten',
                'Dreamshade', 'Sickening Gore', 'Circles', "Avey Tare's Slasher Flicks", 'Forest Silence',
                "One Eyed God Prophecy", 'Coffins', 'Osamu Kitajima', 'Living With Lions', 'Ansur', 'Parades',
                "Intestine Baalism", 'Comity', 'No Omega', 'Wolverine', 'Disavowed', 'Angel Dust', "!T.O.O.H.!",
                'Hypnosia', 'Hexenhaus', 'Paradox', 'Deathrow', 'Excruciate', 'FareWell Poetry', 'Sights and Sounds',
                'Supersister', "Birds Of Tokyo", 'Ark', "The Flower Kings", 'Beardfish', 'Graveworm', 'Acid',
                'Ladyhawke', 'Geddy Lee', 'Yngwie Malmsteen', "World's End Girlfriend", 'Totem Skin', 'Lewis',
                'I Hate Sally', "The Band", 'Lisa Hannigan', 'Lethal', 'Bubu', 'Van She', 'Mooncake', 'The Haunted',
                "Orphaned Land", 'Madder Mortem', 'Kataxu', 'Gilberto Gil', 'Vendetta', 'Kvist', 'Acrostichon', 'Pain',
                'Obliteration', 'Flames of Hell', 'Wombbath', 'Stone', 'Disgrace', 'Fionn Regan', 'Disastrous Murmur',
                'Urfaust', 'Sleepingdog', 'Island', 'Bethlehem', 'Subterranean Masquerade', 'After Dinner', 
                'Black Boned Angel', 'FM', 'Embrace', 'Solefald', 'Maneige', 'Amberian Dawn', 'OOIOO', 'Anekdoten',
                "Aphrodite's Child", 'Hollenthon', 'Lykke Li', 'Lenka', 'Sarah McLachlan', 'Owen Pallett',
                'Devin Townsend Project', 'Missy Higgins', 'The Devin Townsend Band', 'Selda', 'Massacra', "Rory Gallagher",
                'Taste', 'Celestial Season', 'Ida Maria', 'Dark Tranquillity', 'Cadaver', 'Pele', 'Exuma',
                'Great Lake Swimmers', 'Dawn', 'The Bats', 'Yoko Ono', 'Illogicist', 'The Saints', 'Final Fantasy',
                'Pendulum', 'Lunar Aurora', 'Bee Gees', 'Stars', "David Sylvian and Robert Fripp", 'Afflicted', 'Lengsel',
                'Extol', 'MDFMK', 'Univers Zero', 'Mortuary Drape', 'Zyklon', 'Winds', 'Zyklon-B', 'The Sins of Thy Beloved',
                'Lords of Acid', 'Devin Townsend', 'Diablo Swing Orchestra', 'Arcturus', 'Cornelius', 'Manu Chao',
                'Bryan Adams', 'Peaches', 'Doro', 'Kingdom Come', 'Pekka Pohjola', 'Shakira', 'Massacre', 'Subhumans',
                'Set Fire to Flames', 'Gorgoroth', 'Gandalf', 'Klaus Schulze', 'The Ecstasy of Saint Theresa',
                "Lou Reed and John Cale", 'Brian Eno and David Byrne', 'Bob Dylan and The Band', 'Era', 'Devil Doll',
                'Cauterize', 'Roadrunner United', 'Circus Maximus', 'Crowpath', 'Raunchy', 'Tad Morose', 'Kenna',
                'Head Control System', 'Torchbearer', 'Rosesdead', 'Angtoria', 'Nightrage', 'Necros Christos', 'Hypnos 69',
                'Wold', 'Andromeda', 'Chad VanGaalen', 'Melechesh', 'Spheric Universe Experience', 'Anubis Gate',
                'The Project Hate MCMXCIX', 'Myrath', 'Savage Circus', 'Hartfield', 'Evereve', 'Daturah', 'Ad Infinitum',
                'Tash Sultana', 'Tarja Turunen', 'Ram-Zet', 'Sweven', 'Arcane', 'Sons of Apollo', 'Celesty', 'Brainstorm',
                'Unleash The Archers', 'Prostitute Disfigurement', 'The Psyke Project', 'Dornenreich', 'Watain', 'Funeral',
                'Cultes Des Ghoules', 'Revolting', 'Igorrr', 'Symfonia', 'Darkestrah', 'Sarah Blasko', 'Fractal Universe',
                'The End', 'Apotheosis', 'Drautran', 'Monolithe', 'CrazyEightyEight', 'Black Hole', 'Polaris', 'Nug',
                'Klabautamann', 'James LaBrie', 'Vance Joy', 'Helena Deland', 'Authorize', 'Blazon Stone', 'Rapture',
                'Worship', 'Conqueror', 'Swan Lake', 'Yyrkoon', 'Inquisition', 'Kerli', 'Keldian', 'Wake', 'Megiddo',
                'Juanes', 'William Hung', 'Votum', 'Atramentus', 'Abysmal Torment', 'Paul Dempsey', 'Cytotoxin',
                'Vulture Industries', 'Entrails', 'Jorn', 'Conception', 'Centaurus-A', 'Gezan', 'Blood Tsunami',
                'Machinemade God', 'Proscription', 'Ragnarok', 'Zeromancer', 'Satariel', 'Circle of Ouroborus', 'Emeth',
                'Before The Dawn', 'Near Death Condition', 'Ignivomous', 'MEANS', 'Svart Crown', 'Alan Sorrenti', 'Chthonic',
                'Blues Pills', 'Majestica', 'Bedsore', 'Ravencult', 'William Shatner', 'Cheval De Frise', 'Emptiness',
                'WHOURKR', 'Jet Black Stare', 'Despondency', 'October Falls', 'Istapp', 'Slumber', 'Night in Gales',
                'Ov HELL', 'Aficionado', 'Old Silver Key', 'Junior Battles', 'Adversarial', 'Shugo Tokumaru', 'North',
                'Fuck on the Beach', 'Anoice', 'Viscera', 'Two Tongues', 'The Last Felony', 'Revenge', 'The Secret',
                'Cosmic Putrefaction', 'Miseration', 'Azusa', 'Stalaggh', 'Cerebral Effusion', 'Nekromantheon', 'Blasphemer',
                'Pyaemia', 'Inveracity', 'Orchidectomy', 'Kraanium', 'Human Mincer', 'Deformity', 'Kaospilot',
                'Abominable Putridity', 'Iskra', 'Das Oath', 'Torsofuck', 'Internal Suffering', 'Nerlich', 'Blasphemophagher',
                'Head Wound City', 'Inanna', 'Disperse', 'Dishammer', 'Damaar', 'Extortion', 'Starring Janet Leigh',
                'The Arcane Order', "D'espairsRay", 'Demians', "Dave Matthews"]

In [4]:
df_us_new_masters_clean = pd.read_csv('Datasets/df_us_new_masters_clean.csv')
unique_artists = df_us_new_masters_clean[df_us_new_masters_clean['year']<2011]['artist'].unique()

df_artists_origins = pd.read_csv('Datasets/df_artists_origins.csv')
artists = df_artists_origins['artist'].unique()
artists_to_do = []

for artist in unique_artists:
    if artist not in artists and artist not in artists_to_remove:
        artists_to_do.append(artist)

len(artists_to_do)

0

In [5]:
# show the first next 5 artists I'm going to scrape
artists_to_do[:5]

['Dark Castle',
 'The Pine',
 'Viral Load',
 'Turbid North',
 'Blood Has Been Shed']

In [6]:
# create the df with the origins scraped from Wikipedia

df = pd.read_csv('Datasets/df_us_new_masters_clean.csv')
start_index = 0
final_index = start_index+220

df_artists_origins = get_origins_wikipedia(df, start_index, final_index)

Bingo! df_coordinates.csv found

1/1 - Dark_Castle_(band): St. Augustine, Florida
1/2 - The Pine: error
1/3 - Viral Load: error
1/4 - Turbid North: error
2/5 - Blood_Has_Been_Shed: Granby, Connecticut
3/6 - Run_Kid_Run: Carmi, Illinois, U.S.
4/7 - Alda: Hellissandur, Iceland
5/8 - Derek_Sherinian (individual): Laguna Beach, California, U.S.GenresHard rockheavy metalprogressive metalprogressive rockjazz fusionneoclassical metal
5/9 - Palms: error
6/10 - The_Empire_Shall_Fall: Providence, Rhode Island, U.S.
7/11 - Pizzicato_Five: Tokyo, Japan
7/12 - Century: error
8/13 - Loma_Prieta_(band): San Francisco, California, U.S.
9/14 - A_Thorn_For_Every_Heart: Chino Hills, California
9/15 - Nerlich: error
10/16 - Latterman_(band): Huntington Station, New York, United States
11/17 - Heartsounds: al languageEnglishProductionExecutive producerNorman LearProducers
Fay Kanin
Fern Field
CinematographyRichard CiupkaEditorJohn WrightRunning time128 minutesProduction companyEmbassy Television
12/18 - Eagle_Twin_(band): Salt Lake City, Utah
13/19 - Suicide_Silence: Riverside, California, U.S.
13/20 - Age Sixteen: error
14/21 - This_Bike_Is_A_Pipe_Bomb: Pensacola, Florida, United States
14/22 - Rifles at Recess: error
14/23 - Ares Kingdom: error
15/24 - Only_Crime: U.S.
15/25 - Blasphemophagher: error
16/26 - Hail_of_Bullets: Rotterdam, Netherlands
16/27 - My Hero Is Me: error
16/28 - Head Wound City: error
16/29 - The Syncope Threshold: error
17/30 - PlayRadioPlay!: Aledo, Texas, United States
18/31 - DYS_(band): Boston, Massachusetts, U.S.
18/32 - Typhoon: error
19/33 - True_Widow: Dallas, Texas, United States
19/34 - Guns Up!: error
20/35 - Dave_Matthews (individual): Johannesburg, South AfricaGenres
Acoustic rock
jazz rock
alternative rock
blues rock
roots rock

21/36 - Heartless_Bastards: Cincinnati, Ohio, U.S.
22/37 - Miles_Away_(band): Perth, Western Australia
23/38 - Gates_of_Ishtar: Luleå, Sweden
23/39 - In First Person: error
24/40 - The_Rural_Alberta_Advantage: Toronto, Ontario, Canada
24/41 - An Embrace of Angels: error
25/42 - The_Company_Band: Los Angeles, California, U.S.
26/43 - Full_Blown_Chaos: Floral Park, Queens, New York, U.S.
27/44 - Burn_Halo: Orange County, California / Tulsa, Oklahoma, U.S.
28/45 - Ace_Enders_and_a_Million_Different_People: Hammonton, New Jersey, United States
29/46 - The_Sleeping: Long Island, New York, U.S.
29/47 - Inanna: error
29/48 - Disperse: error
29/49 - His Name Was Iron: error
29/50 - Continuance: error
30/51 - Gayngs: Minneapolis, MinnesotaEau Claire, Wisconsin
31/52 - Rosaline_(band): Chicago, Illinois
31/53 - Your Best Friend: error
32/54 - Shaman's_Harvest: Jefferson City, Missouri, U.S.
33/55 - Trapped_Under_Ice_(band): Baltimore, Maryland, U.S.
34/56 - The_Mint_Chicks: Auckland, New Zealand
34/57 - Battlefields: error
34/58 - Cloud Rat: error
34/59 - Aftershock: error
34/60 - Coke Bust: error
35/61 - Death_Before_Dishonor_(band): Boston, Massachusetts, U.S.
36/62 - Exmortus: Whittier, California, U.S.
37/63 - Jeff_Loomis (individual): Appleton, Wisconsin, U.S.GenresProgressive metal, melodic death metal, thrash metal, groove metal, neoclassical metal, death metal, instrumental rock, black metal
38/64 - Consider_the_Thief: Sacramento, California, United States
39/65 - Ankla: Los Angeles, California, United States
39/66 - Every Bridge Burned: error
40/67 - Gaza_(band): Salt Lake City, Utah, U.S.
41/68 - Sound_Tribe_Sector_9: Santa Cruz, CaliforniaAtlanta/Athens, Georgia
41/69 - Arizmenda: error
41/70 - Emptyself: error
41/71 - Her Demise My Rise: error
42/72 - This_Time_Next_Year_(band): Walnut Creek, California
43/73 - The_Dopamines: Cincinnati, Ohio
44/74 - Lions_Lions: Boston, Massachusetts
45/75 - Johnny_Hobo_and_the_Freight_Trains (individual): Brattleboro, Vermont, United StatesGenres
Anarcho-punk
folk punk[1]
riot-folk
Hip-Hop

46/76 - Sundowner_(band): Chicago, Illinois, U.S.
47/77 - Artifex_Pereo: Louisville, Kentucky, U.S.[1][2]
47/78 - Midsummer: error
47/79 - Cold World: error
47/80 - SQRM: error
48/81 - Infest_(band): Valencia, California, U.S.
49/82 - Kids_in_the_Way: Noblesville, Indiana, United States
50/83 - The_Rocket_Summer: Dallas–Fort Worth, Texas, United States
50/84 - Dishammer: error
51/85 - Dead_Hearts: Hemel Hempstead, England
51/86 - Evil Army: error
52/87 - Trampled_By_Turtles: Duluth, Minnesota, U.S.
53/88 - Viza: Los Angeles, California
54/89 - Outbreak_(band): Maine, U.S.
55/90 - Gregory_Alan_Isakov: Philadelphia, Pennsylvania, U.S.
55/91 - Samothrace: error
56/92 - My_American_Heart: San Diego, California, United States
57/93 - The_Carrier_(band): Boston, Massachusetts, U.S.
58/94 - Our_Last_Night: Hollis, New Hampshire, U.S.
58/95 - Hightide Hotel: error
58/96 - Total Abuse: error
59/97 - Cheap_Girls: Lansing, Michigan, United States
59/98 - Infant Sorrow: error
60/99 - This_Is_Hell_(band): Long Island, New York, U.S.
61/100 - Mansions_(band): Louisville, Kentucky
62/101 - His_Hero_Is_Gone_(band): Memphis, Tennessee, U.S.
63/102 - The_Color_of_Violence: Tampa, Florida, U.S.
64/103 - Brazil_(band): Indiana, USA
65/104 - Mitochondrion_(band): Victoria, British Columbia, Canada
66/105 - Reversal_Of_Man: Tampa, Florida, United States
67/106 - Barcelona_(band): Arlington, Virginia, U.S.
67/107 - The State Lottery: error
68/108 - Engel_(band): Gothenburg, Sweden
68/109 - Reign Supreme: error
69/110 - Automatic_Loveletter: Tampa, Florida, U.S.
70/111 - The_County_Medical_Examiners: Scotts Valley, California, U.S.
70/112 - Bone Awl: error
70/113 - Last Winter: error
70/114 - Outworld: error
71/115 - A_Great_Big_Pile_of_Leaves: Brooklyn, New York, U.S.
72/116 - Hooded_Menace_(band): Joensuu, Finland[1]
72/117 - Lack of Interest: error
73/118 - On_The_Last_Day: Seattle, Washington, U.S.
74/119 - Gama_Bomb: Newry, Northern Ireland
75/120 - Wild_Sweet_Orange: Homewood, Alabama, United States
75/121 - Cinemechanica: error
76/122 - Yesterdays_Rising: Murrieta, California, U.S.
76/123 - The Taxpayers: error
77/124 - Magrudergrind: Washington, D.C., United States
78/125 - Handguns_(band): Harrisburg, Pennsylvania, United States
78/126 - Rusted Shut: error
79/127 - Algernon_Cadwallader: Yardley, Pennsylvania, U.S.
80/128 - Bumblefoot (musician): Brooklyn, New York, U.S.GenresHard rockheavy metalgrungealternative rockavant garde musicprogressive rockfilm scores
81/129 - Those_Poor_Bastards: Madison, Wisconsin, United States
81/130 - Mind Eraser: error
81/131 - New Lows: error
81/132 - Oskoreien: error
82/133 - Helms_Alee: Seattle, Washington, U.S.
82/134 - Windmills By the Ocean: error
82/135 - Damaar: error
82/136 - Mother of Mercy: error
83/137 - Gal_Costa (individual): Salvador, Bahia, Brazil
83/138 - Rune: error
83/139 - Kolya: error
83/140 - Blaspherian: error
84/141 - Sleeping_People: San Diego, California
85/142 - Colour_Revolt: Oxford, Mississippi
85/143 - You and I: error
85/144 - The Effort: error
85/145 - Dekapitator: error
86/146 - Past_Lives_(band): Seattle, Washington, U.S.
87/147 - Driftless_Pony_Club: Chicago, Illinois, United States
88/148 - Make_Do_and_Mend_(band): West Hartford, Connecticut, United States
89/149 - Charles_Bronson_(band): DeKalb, Illinois, U.S.
89/150 - Lewd Acts: error
89/151 - Bracewar: error
90/152 - Carpathian_(band): Melbourne, Victoria, Australia
91/153 - D'espairsRay: Japan
92/154 - A_Pale_Horse_Named_Death: Brooklyn, New York, U.S.
93/155 - Paul_Baribeau: Grand Ledge, Michigan, U.S.
93/156 - Hexen: error
94/157 - Demians: Normandy,
95/158 - I_Shalt_Become: Illinois, United States
96/159 - Breather_Resist: Louisville, Kentucky, U.S.
97/160 - Dommin: Los Angeles, California, U.S.
98/161 - The_Protomen: Murfreesboro, Tennessee, U.S.
99/162 - Beyond_Twilight: Horsens, Denmark
99/163 - Wrath and Rapture: error
99/164 - Carry On: error
100/165 - Paper_Tongues: Charlotte, North Carolina
100/166 - House Boat: error
101/167 - Scars_of_Tomorrow: Orange County, California, United States
101/168 - Extortion: error
102/169 - Ill_Bill (individual): New York City, U.S.GenresHip hoprap metaldeath metal
103/170 - International_Superheroes_of_Hardcore: Coral Springs, Florida, U.S.
103/171 - Starring Janet Leigh: error
104/172 - Hala_Strana: Los Angeles, California
105/173 - Casey_Jones_(band): Jacksonville, Florida
106/174 - The_Killing_Tree: Chicago, Illinois, United States
107/175 - The_Flying_Luttenbachers: Chicago, Illinois, U.S.
108/176 - Hey_Mercedes: Milwaukee/Illinois, United States
109/177 - The_Bunny_The_Bear: Buffalo, New York
109/178 - Takaru: error
110/179 - The_Suicide_File: Boston
111/180 - Big_Kids: al languageEnglishNo. of series1No. of episodes13ProductionExecutive producerCas LesterProducerJacinta PeelEditorIan WilliamsCamera setupPeter WoodleyRunning time24 minutes
111/181 - Shipwreck A.D.: error
111/182 - Righteous Jams: error
112/183 - G.I.S.M.: Tokyo, Japan
112/184 - Howl: error
112/185 - Fueled by Fire: error
112/186 - Some Girls: error
113/187 - Baths_(band): Culver City, Los Angeles, California, United States
114/188 - Lifelover: Stockholm, Sweden
114/189 - With Dead Hands Rising: error
115/190 - Tickle_Me_Pink: Fort Collins, Colorado
116/191 - Home_Grown_(band): Orange County, California, U.S.
116/192 - Nechochwen: error
116/193 - Black Math Horseman: error
117/194 - Deathspell_Omega: Poitiers, France
117/195 - Broken Water: error
118/196 - The_Reign_of_Kindo: Buffalo, New York, U.S.
119/197 - The_Sorrow: Vorarlberg, Austria
119/198 - Cire: error
120/199 - Strictly_Ballroom_(band): Los Angeles, California
121/200 - Karl_Sanders (individual): San Francisco, California, U.S.GenresTechnical death metal, death metal, thrash metal, folk, ambient, post-rock
121/201 - The Arcane Order: error
121/202 - The Reptilian: error
122/203 - Secrets_of_the_Moon: Osnabrück, Germany
123/204 - The_Alter_Boys: Cleveland, Ohio, U.S.
124/205 - Damiera: Buffalo, New York
125/206 - P.S._Eliot: Birmingham, Alabama, U.S.
125/207 - The Riot Before: error
126/208 - While_Heaven_Wept: Virginia
126/209 - Brother Von Doom: error
126/210 - Orchid: error
126/211 - Addaura: error
127/212 - See_You_Next_Tuesday_(band): Bay City, Michigan, United States
128/213 - Saints_Never_Surrender: Fort Wayne, Indiana
129/214 - Northstar_(band): Huntsville, Alabama, U.S.
130/215 - Flake_Music: Albuquerque, New Mexico, U.S.
130/216 - Until Your Heart Stops: error
131/217 - Sleepercar: El Paso, Texas, USA
132/218 - Swamp_Thing_(band): Rotorua, New Zealand
133/219 - Tim_Kasher (individual): Omaha, Nebraska, US

In [7]:
# create a subset of the new artists I just got, and tell me if there are nulls
df_new_artists = get_new_artists(df_artists_origins)

# show the first new artists, if they were duplicates they have been dropped
df_new_artists.head()

86 nulls (39.27 %)

                artist                  origin
0          Dark Castle  St. Augustine, Florida
1             The Pine                     NaN
2           Viral Load                     NaN
3         Turbid North                     NaN
4  Blood Has Been Shed     Granby, Connecticut

### If there are null or weird values

In [158]:
# create a df with where origin is a null value
nulls = df_new_artists[df_new_artists['origin'].isna()]
nulls.shape

(10, 2)

**``np.where`` to replace the values for the real origins**

In [159]:
# so I can print the np.where and I save time
for artist in nulls['artist'].values:
    print(f'df_new_artists["origin"] = np.where(df_new_artists["artist"]=="{artist}", "England", df_new_artists["origin"])')

df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Black Math Horseman", "England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Broken Water", "England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Cire", "England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="The Arcane Order", "England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="The Reptilian", "England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="The Riot Before", "England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Brother Von Doom", "England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Orchid", "England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Addaura", "England", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Until Your Heart Stops", "England", df_new_artists["origin"])

**Looking in the internet for the real origins of these artists**

In [160]:
nulls.head(10) # so it's faster to copy the names of the artists to look for their origins on the internet

                     artist origin
192     Black Math Horseman    NaN
194            Broken Water    NaN
197                    Cire    NaN
200        The Arcane Order    NaN
201           The Reptilian    NaN
206         The Riot Before    NaN
208        Brother Von Doom    NaN
209                  Orchid    NaN
210                 Addaura    NaN
215  Until Your Heart Stops    NaN

In [184]:
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Black Math Horseman", "Los Angeles", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Broken Water", "Olympia, Washington", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Cire", "New Orleans, LA, United States", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="The Reptilian", "Kalamazoo, Michigan", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="The Riot Before", "Richmond, VA, United States", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Brother Von Doom", "Dayton, OH, United States", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Orchid", "Amherst, Massachusetts", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Addaura", "Seattle, Washington", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Until Your Heart Stops", "Oakland, CA, United States", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Only Crime", "Fort Collins, CO, United States", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="While Heaven Wept", "Dale City, VA, United States", df_new_artists["origin"])

In [178]:
# look for the albums of the artist in the original df to check it's the correct artist
df[df['artist']=="Only Crime	".strip()].sort_values('year').head()

,artist_id,master_id,main_release_id,release_country,artist,title,year,album_length,tracks,release_type,genres,styles,artist_profile
5619,305973,386259,3227765,US,Only Crime,Virulence,2007,0.0,12,['Album'],['Rock'],['Punk'],Melodic hardcore band formed by [a=Good Riddan...

In [179]:
# check if there's info of the artist origin in the column 'artist_profile'
import textwrap
artist_profile = df.loc[5619]['artist_profile']

splitted_string = textwrap.fill(artist_profile, width=120)
print(splitted_string)

Melodic hardcore band formed by [a=Good Riddance] singer [a=Russ Rankin] and [a=Bane (2)] guitarist [a=Aaron Dalbec] in
2003.

#### Changing the original dataframes in case needed (ex: two bands with the same name)

In [73]:
df.loc[11090, 'artist'] = 'Embrace (US)'
df.loc[6140, 'artist'] = 'Embrace (UK)'
df.loc[6141, 'artist'] = 'Embrace (UK)'

In [74]:
df.to_csv('Datasets/df_masters_blended.csv', index=False)

In [75]:
# look for the albums of the artist in the original df_ratings_20 to check it's the correct artist
df_ratings_20[df_ratings_20['artist']=="Embrace".strip()]

      album_id   artist              title  rating  votes
4485      7197  Embrace  The Good Will Out    3.56     24
4486      7198  Embrace     Out Of Nothing    3.39     27
8649     14575  Embrace            Embrace    3.99    309

In [76]:
df_ratings_20.loc[8649, 'artist'] = 'Embrace (US)'
df_ratings_20.loc[4486, 'artist'] = 'Embrace (UK)'
df_ratings_20.loc[4485, 'artist'] = 'Embrace (UK)'

In [77]:
df_ratings_20.to_csv('Datasets/df_ratings_20.csv', index=False)

In [214]:
df_new_artists['origin'].isna().sum()

0

#### **Drop artists that are not from the UK or the US** (or supergroups that don't have a clear origin)

In [ ]:
artists_to_remove = []

for artist in artists_to_remove:
    try:
        artists_usa.remove(artist)
        print(f'{artist} removed')
    except:
        pass

In [193]:
# I can drop single rows or I can just create a subset with the artists that I want to keep, the ones that are not in the list of artists to remove
print(f"Rows before dropping: {df_new_artists.shape[0]}")
df_new_artists = df_new_artists[~df_new_artists['artist'].isin(artists_to_remove)]
print(f"Rows after dropping: {df_new_artists.shape[0]}")

Rows before dropping: 207
Rows after dropping: 206

#### **Check short and long origins, probably wrong**

In [187]:
# print abnormally short origins and visually check if they are correct
for index, row in df_new_artists.iterrows():
    if len(row['origin']) < 10:
        print(index, row['origin'])

56 Fargo, ND
178 Boston

In [181]:
start_index = 207

end_index = start_index+5
df_new_artists.loc[start_index:end_index]

                     artist                             origin
207       While Heaven Wept                           Virginia
208        Brother Von Doom          Dayton, OH, United States
209                  Orchid             Amherst, Massachusetts
210                 Addaura                Seattle, Washington
211    See You Next Tuesday  Bay City, Michigan, United States
212  Saints Never Surrender                Fort Wayne, Indiana

In [204]:
# look for the albums of the artist in the original df to check it's the correct artist
df[df['artist']=="Big Kids	".strip()].sort_values('year').head()

,artist_id,master_id,main_release_id,release_country,artist,title,year,album_length,tracks,release_type,genres,styles,artist_profile
6396,152830,451305,2572483,US,Big Kids,Hoop Dreams,2010,0.0,8,['LP'],['Rock'],"['Rock & Roll', 'Punk']","Punk band from Oakland, CA, USA."

In [201]:
# check if there's info of the artist origin in the column 'artist_profile'
import textwrap
artist_profile = df.loc[5587]['artist_profile']

splitted_string = textwrap.fill(artist_profile, width=120)
print(splitted_string)

American melodic hardcore punk band from Oakland, CA.

**Genres**

In [188]:
genres = df_new_artists[df_new_artists['origin'].str.contains('Genres')]
genres.shape

(7, 2)

**``np.where`` to replace the values for the real origins**

In [ ]:
for artist in genres['artist'].values:
    print(f'df_new_artists["origin"] = np.where(df_new_artists["artist"]=="{artist}", "UK", df_new_artists["origin"])')

In [194]:
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Derek Sherinian", "Laguna Beach, California, U.S.", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Jeff Loomis", "Appleton, Wisconsin, U.S.", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Johnny Hobo and the Freight Trains", "Brattleboro, Vermont, United States", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Bumblefoot", "Brooklyn, New York, U.S.", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Ill Bill", "New York City, U.S.", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Karl Sanders", "San Francisco, California, U.S.", df_new_artists["origin"])

In [195]:
# print the df so I can copy the origin from the column (before 'Genres')
df_new_artists[df_new_artists['origin'].str.contains('Genres')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [206]:
# I create a new column to calculate the lenght of the origin, if it's long it probably didn't scrap correctly Wikipedia
df_new_artists["origin_length"] = df_new_artists["origin"].str.len()
long_strings = df_new_artists[df_new_artists["origin_length"]>40] # create a df based on these long origins
long_strings.shape # to see how many artists I have to take care of

(3, 3)

In [207]:
long_strings # display the df so I can copy the parts I am interested in

,artist,origin,origin_length
15,Latterman,"Huntington Station, New York, United States",43
147,Make Do and Mend,"West Hartford, Connecticut, United States",41
186,Baths,"Culver City, Los Angeles, California, United S...",51

In [ ]:
for artist in long_strings['artist'].values:
    print(f'df_new_artists["origin"] = np.where(df_new_artists["artist"]=="{artist}", "UK", df_new_artists["origin"])')

In [213]:
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Heartsounds", "Oakland, CA", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Burn Halo", "Costa Mesa", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Gayngs", "Minneapolis, MN, United States", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Sound Tribe Sector 9", "Snellville, GA, United States", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="Big Kids", "Oakland, CA", df_new_artists["origin"])
df_new_artists["origin"] = np.where(df_new_artists["artist"]=="SQRM", "Springfield, Massachusetts", df_new_artists["origin"])

In [209]:
# I drop the column I just created of 'origin_length'
df_new_artists = df_new_artists[['artist', 'origin']]

In [210]:
# bands from United Kingdom, wrong origin, poor level of detail
df_new_artists[df_new_artists['origin']==('United Kingdom')]

Empty DataFrame
Columns: [artist, origin]
Index: []

### **Changing easy values: individuals that didn't get the right origin in Wikipedia**

In [119]:
# individuals that didn't get the right origin in Wikipedia
df_new_artists[df_new_artists['origin'].str.contains(' and ')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [61]:
# bands from Cumbria, Geopy doesn't detect it
df_new_artists[df_new_artists['origin'].str.contains('Cumbria')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [62]:
df_new_artists['origin'] = df_new_artists['origin'].apply(lambda x: x.replace('Cumbria', 'Cumberland'))

In [63]:
# bands from Middlesex, Geopy doesn't detect it
df_new_artists[df_new_artists['origin'].str.contains('Middlesex')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [64]:
df_new_artists['origin'] = df_new_artists['origin'].apply(lambda x: x.replace(', Middlesex', ''))

In [65]:
# bands from Yorkshire, Geopy doesn't detect it
df_new_artists[df_new_artists['origin'].str.contains('West Riding of Yorkshire')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [66]:
df_new_artists['origin'] = df_new_artists['origin'].apply(lambda x: x.replace(', West Riding of Yorkshire', ''))

In [67]:
# bands from Merseyside, Geopy doesn't detect it
df_new_artists[df_new_artists['origin'].str.contains('Merseyside')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [68]:
df_new_artists['origin'] = df_new_artists['origin'].apply(lambda x: x.replace(', Merseyside', ''))

### **``np.where`` to replace the values for the real origins**

**Try a single origin in Geopy**

In [ ]:
# try to get the right origin of an origin that crashed
geolocator = Nominatim(user_agent="music_analysis")

origin = "Kirkland, Washington"

origin_clean = re.sub(r'\[\d+\]', '', origin).replace('.', '')
location = geolocator.geocode(origin_clean)
print(f"{location.address}")
print(location.latitude, location.longitude)

Kirkland, King County, Washington, United States
47.6765382 -122.2070775

In [212]:
start_index = 70

end_index = start_index+5
df_new_artists[start_index:end_index]

           artist                            origin
76  Artifex Pereo  Louisville, Kentucky, U.S.[1][2]
77      Midsummer    Los Angeles, CA, United States
78     Cold World                  Wilkes-Barre, PA
79           SQRM        Springfield, Massachussets
80         Infest        Valencia, California, U.S.

**Try all origins in Geopy**

In [214]:
# try to get the coordinates of the origins from Geopy and see if it crashes (wrong location that I have to change)
geolocator = Nominatim(user_agent="music_analysis", timeout=10)

initial_index = 70
count = initial_index-1

for origin in df_new_artists['origin'].str.replace('.', '').str.replace(r'\[\d+\]', '', regex=True)[initial_index:]:
    count+=1
    location = geolocator.geocode(origin)
    print(f"{count} - {location.address}")

70 - Louisville, Jefferson County, Kentucky, United States
71 - Los Angeles, Los Angeles County, California, United States
72 - Wilkes-Barre, Luzerne County, Pennsylvania, United States
73 - Springfield, Hampden County, Massachusetts, United States
74 - Valencia, Santa Clarita, Los Angeles County, California, 91355, United States
75 - Noblesville, Hamilton County, Indiana, 46060, United States
76 - Dallas/Fort Worth International Airport, 2400, Aviation Drive, Dallas, Tarrant County, Texas, 75261, United States
77 - Hemel Hempstead, Dacorum, Hertfordshire, England, HP1 1EW, United Kingdom
78 - Memphis, Shelby County, West Tennessee, Tennessee, United States
79 - Duluth, Saint Louis County, Minnesota, United States
80 - Los Angeles, Los Angeles County, California, United States
81 - Maine, United States
82 - Philadelphia, Philadelphia County, Pennsylvania, United States
83 - Seattle, King County, Washington, United States
84 - San Diego, San Diego County, California, United States
85 - Boston, Suffolk County, Massachusetts, United States
86 - Hollis, Hillsborough County, New Hampshire, United States
87 - Philadelphia, Philadelphia County, Pennsylvania, United States
88 - Austin, Travis County, Texas, United States
89 - Lansing, Ingham County, Michigan, United States
90 - Grays, Thurrock, Essex, England, RM17 6NP, United Kingdom
91 - Long Island, New York, United States
92 - Louisville, Jefferson County, Kentucky, United States
93 - Memphis, Shelby County, West Tennessee, Tennessee, United States
94 - Tampa, Hillsborough County, Florida, United States
95 - Indiana, United States
96 - Victoria, Capital Regional District, British Columbia, Canada
97 - Tampa, Hillsborough County, Florida, United States
98 - Arlington County, Virginia, United States
99 - Detroit, Wayne County, Michigan, United States
100 - Göteborg, Göteborgs Stad, Västra Götalands län, 411 10, Sverige
101 - Philadelphia, Philadelphia County, Pennsylvania, United States
102 - Tampa, Hillsborough County, Florida, United States
103 - Scotts Valley, Santa Cruz County, California, 95066, United States
104 - Novato, Marin County, California, United States
105 - Orlando, Orange County, Florida, United States
106 - Houston, Harris County, Texas, United States
107 - Brooklyn, Kings County, City of New York, New York, United States
108 - Joensuu, Joensuun seutukunta, Pohjois-Karjala, Manner-Suomi, Suomi / Finland
109 - Burbank, Los Angeles County, California, United States
110 - Seattle, King County, Washington, United States
111 - Newry, County Down, Northern Ireland / Tuaisceart Éireann, United Kingdom
112 - Homewood, Jefferson County, Alabama, United States
113 - Athens, Clarke County, Georgia, United States
114 - Murrieta, Riverside County, California, United States
115 - Portland, Multnomah County, Oregon, United States
116 - Washington, District of Columbia, United States
117 - Harrisburg, Dauphin County, Pennsylvania, United States
118 - Houston, Harris County, Texas, United States
119 - Yardley, Bucks County, Pennsylvania, United States
120 - Brooklyn, Kings County, City of New York, New York, United States
121 - Madison, Dane County, Wisconsin, United States
122 - Boston, Suffolk County, Massachusetts, United States
123 - Boston, Suffolk County, Massachusetts, United States
124 - Los Angeles, Los Angeles County, California, United States
125 - Seattle, King County, Washington, United States
126 - Boston, Suffolk County, Massachusetts, United States
127 - Doylestown, Bucks County, Pennsylvania, 18901, United States
128 - Salvador, Região Geográfica Imediata de Salvador, Região Metropolitana de Salvador, Região Geográfica Intermediária de Salvador, Bahia, Região Nordeste, Brasil
129 - Dayton, Montgomery County, Ohio, United States
130 - Cambridge, Middlesex County, Massachusetts, United States
131 - Houston, Harris County, Texas, United States
132 - San Diego, San Diego County, California, United States
133 - Oxford, Lafayette County, Mississippi, United States
134 - New Brunswick, Middlesex County, New Jersey, United States
135 - Boston, Suffolk County, Massachusetts, United States
136 - San Jose, Santa Clara County, California, United States
137 - Seattle, King County, Washington, United States
138 - Chicago, Cook County, Illinois, United States
139 - West Hartford, Capitol Planning Region, Connecticut, United States
140 - DeKalb County, Illinois, United States
141 - San Diego, San Diego County, California, United States
142 - Richmond, Virginia, United States
143 - Melbourne, City of Melbourne, Victoria, Australia
144 - Brooklyn, Kings County, City of New York, New York, United States
145 - Grand Ledge, Eaton County, Michigan, United States
146 - Los Angeles, Los Angeles County, California, United States
147 - Illinois, United States
148 - Louisville, Jefferson County, Kentucky, United States
149 - Los Angeles, Los Angeles County, California, United States
150 - Murfreesboro, Rutherford County, Middle Tennessee, Tennessee, United States
151 - Horsens, Horsens Kommune, Region Midtjylland, 8700, Danmark
152 - Winston-Salem, Forsyth County, North Carolina, United States
153 - Northridge, Northridge South Neighborhood Council District, Los Angeles, Los Angeles County, California, 91324, United States
154 - Charlotte, Mecklenburg County, North Carolina, United States
155 - Elmhurst, Queens, Queens County, City of New York, New York, 11373, United States
156 - Orange County, California, United States
157 - City of New York, New York, United States
158 - Coral Springs, Broward County, Florida, United States
159 - Los Angeles, Los Angeles County, California, United States
160 - Jacksonville, Duval County, Florida, United States
161 - Chicago, Cook County, Illinois, United States
162 - Chicago, Cook County, Illinois, United States
163 - Milwaukee, Lake County, Illinois, 60041, United States
164 - Buffalo, Erie County, New York, United States
165 - San Francisco, California, United States
166 - Boston, Suffolk County, Massachusetts, United States
167 - Oakland, Alameda County, California, United States
168 - Boston, Suffolk County, Massachusetts, United States
169 - Boston, Suffolk County, Massachusetts, United States
170 - 東京都, 日本
171 - Providence, Providence County, Rhode Island, United States
172 - Norwalk, Los Angeles County, California, 90650, United States
173 - San Diego, San Diego County, California, United States
174 - Culver City, Los Angeles County, California, 90232, United States
175 - Stockholm, Stockholms kommun, Stockholms län, 111 29, Sverige
176 - Minneapolis, Hennepin County, Minnesota, United States
177 - Fort Collins, Larimer County, Colorado, United States
178 - Orange County, California, United States
179 - Charleston, Kanawha County, West Virginia, United States
180 - Los Angeles, Los Angeles County, California, United States
181 - Poitiers, Vienne, Nouvelle-Aquitaine, France métropolitaine, 86000, France
182 - Olympia, Thurston County, Washington, United States
183 - Buffalo, Erie County, New York, United States
184 - Vorarlberg, Österreich
185 - New Orleans, Orleans Parish, Louisiana, United States
186 - Los Angeles, Los Angeles County, California, United States
187 - San Francisco, California, United States
188 - Kalamazoo, Kalamazoo County, Michigan, United States
189 - Osnabrück, Niedersachsen, Deutschland
190 - Cleveland, Cuyahoga County, Ohio, United States
191 - Buffalo, Erie County, New York, United States
192 - Birmingham, Jefferson County, Alabama, United States
193 - Richmond, Virginia, United States
194 - Dale City, Prince William County, Virginia, United States
195 - Dayton, Montgomery County, Ohio, United States
196 - Amherst, Hampshire County, Massachusetts, United States
197 - Seattle, King County, Washington, United States
198 - Bay City, Bay County, Michigan, 48708, United States
199 - Fort Wayne, Allen County, Indiana, United States
200 - Huntsville, Madison County, Alabama, United States
201 - Albuquerque, Bernalillo County, New Mexico, United States
202 - Oakland, Alameda County, California, United States
203 - El Paso, El Paso County, Texas, United States
204 - Rotorua, Rotorua Lakes District, Bay of Plenty, 3010, New Zealand / Aotearoa
205 - Omaha, Douglas County, Nebraska, United States

## **Export to .csv**

### GeoPy wrong locations

**In case GeoPy fails due to a wrong location, I have to delete the new locations, export again, change the location and run GeoPy again**

In [ ]:
#     # import the df with the artists' origins already scraped
# df_artists_origins_scraped = pd.read_csv('Datasets/df_artists_origins.csv')
# df_artists_origins_scraped = df_artists_origins_scraped[0:-20]
# df_artists_origins_scraped.to_csv('Datasets/df_artists_origins.csv', index=False)

In [215]:
df_new_artists.shape

(206, 2)

In [216]:
# in case I created by mistake already 'origin_clean' and I want to drop it
# df_new_artists = df_new_artists[['artist', 'origin']]
# df_new_artists

### **Export to .csv**

In [217]:
export_artists_origins_concat(df_new_artists)

df_artists_origins_concat exported to .csv
(6737, 2)

## **GeoPy**

In [218]:
df_coordinates = get_coordinates_geopy(df_new_artists)
df_coordinates

1/176 - Saint Augustine, Saint Johns County, Florida, 32084, United States
2/176 - Bakersfield, Kern County, California, United States
3/176 - Lufkin, Angelina County, Texas, United States
4/176 - Fort Worth, Tarrant County, Texas, United States
5/176 - Granby, Capitol Planning Region, Connecticut, United States
6/176 - Carmi, White County, Illinois, 62821, United States
7/176 - Hellissandur, Snæfellsbær, Vesturland, 360, Ísland
8/176 - Laguna Beach, Orange County, California, United States
9/176 - Los Angeles, Los Angeles County, California, United States
10/176 - Providence, Providence County, Rhode Island, United States
11/176 - 東京都, 日本
12/176 - Lancaster, Lancaster County, Pennsylvania, United States
13/176 - San Francisco, California, United States
14/176 - Chino Hills, San Bernardino County, California, United States
15/176 - Huntington Station, Town of Huntington, Suffolk County, New York, United States
16/176 - Oakland, Alameda County, California, United States
17/176 - Salt Lake City, Salt Lake County, Utah, United States
18/176 - Riverside, Riverside County, California, United States
19/176 - Baltimore, Maryland, United States
20/176 - Pensacola, Escambia County, Florida, United States
21/176 - Chattanooga, Hamilton County, East Tennessee, Tennessee, United States
22/176 - Kansas City, Jackson County, Missouri, United States
23/176 - Fort Collins, Larimer County, Colorado, United States
24/176 - Rotterdam, Zuid-Holland, Nederland
25/176 - Pfafftown, Forsyth County, North Carolina, 27040, United States
26/176 - La Verne, Los Angeles County, California, 91750, United States
27/176 - Aledo, Parker County, Texas, United States
28/176 - Boston, Suffolk County, Massachusetts, United States
29/176 - Portland, Multnomah County, Oregon, United States
30/176 - Dallas, Dallas County, Texas, United States
31/176 - Haverhill, Essex County, Massachusetts, United States
32/176 - Cincinnati, Hamilton County, Ohio, United States
33/176 - City of Perth, Western Australia, Australia
34/176 - Luleå, Luleå kommun, Norrbottens län, 971 28, Sverige
35/176 - New Brunswick, Middlesex County, New Jersey, United States
36/176 - Toronto, Golden Horseshoe, Ontario, Canada
37/176 - Owatonna, Steele County, Minnesota, 55060, United States
38/176 - Los Angeles, Los Angeles County, California, United States
39/176 - Floral Park Liquors, 259-09, Hillside Avenue, Queens, Queens County, City of New York, New York, 11040, United States
40/176 - Costa Mesa, Orange County, California, United States
41/176 - Hammonton, Atlantic County, New Jersey, 08037, United States
42/176 - Long Island, New York, United States
43/176 - Jacksonville, Duval County, Florida, United States
44/176 - Fort Wayne, Allen County, Indiana, United States
45/176 - Minneapolis, Hennepin County, Minnesota, United States
46/176 - Chicago, Cook County, Illinois, United States
47/176 - Saginaw, Saginaw County, Michigan, United States
48/176 - Jefferson City, Cole County, Missouri, United States
49/176 - Baltimore, Maryland, United States
50/176 - Auckland, Waitematā, Auckland, 1010, New Zealand / Aotearoa
51/176 - Fargo, Cass County, North Dakota, United States
52/176 - Mount Pleasant, Isabella County, Michigan, United States
53/176 - Westhampton, Hampshire County, Massachusetts, United States
54/176 - Washington, District of Columbia, United States
55/176 - Whittier, Los Angeles County, California, United States
56/176 - Appleton, Outagamie County, Wisconsin, United States
57/176 - Sacramento, Sacramento County, California, United States
58/176 - Los Angeles, Los Angeles County, California, United States
59/176 - Lima, Allen County, Ohio, United States
60/176 - Salt Lake City, Salt Lake County, Utah, United States
61/176 - Snellville, Gwinnett County, Georgia, United States
62/176 - Seal Beach, Orange County, California, United States
63/176 - New Orleans, Orleans Parish, Louisiana, United States
64/176 - Rancho Cucamonga, San Bernardino County, California, United States
65/176 - Walnut Creek, Contra Costa County, California, United States
66/176 - Cincinnati, Hamilton County, Ohio, United States
67/176 - Boston, Suffolk County, Massachusetts, United States
68/176 - Brattleboro, Windham County, Vermont, United States
69/176 - Chicago, Cook County, Illinois, United States
70/176 - Louisville, Jefferson County, Kentucky, United States
71/176 - Los Angeles, Los Angeles County, California, United States
72/176 - Wilkes-Barre, Luzerne County, Pennsylvania, United States
73/176 - Springfield, Hampden County, Massachusetts, United States
74/176 - Valencia, Santa Clarita, Los Angeles County, California, 91355, United States
75/176 - Noblesville, Hamilton County, Indiana, 46060, United States
76/176 - Dallas/Fort Worth International Airport, 2400, Aviation Drive, Dallas, Tarrant County, Texas, 75261, United States
77/176 - Hemel Hempstead, Dacorum, Hertfordshire, England, HP1 1EW, United Kingdom
78/176 - Memphis, Shelby County, West Tennessee, Tennessee, United States
79/176 - Duluth, Saint Louis County, Minnesota, United States
80/176 - Los Angeles, Los Angeles County, California, United States
81/176 - Maine, United States
82/176 - Philadelphia, Philadelphia County, Pennsylvania, United States
83/176 - Seattle, King County, Washington, United States
84/176 - San Diego, San Diego County, California, United States
85/176 - Hollis, Hillsborough County, New Hampshire, United States
86/176 - Philadelphia, Philadelphia County, Pennsylvania, United States
87/176 - Austin, Travis County, Texas, United States
88/176 - Lansing, Ingham County, Michigan, United States
89/176 - Grays, Thurrock, Essex, England, RM17 6NP, United Kingdom
90/176 - Louisville, Jefferson County, Kentucky, United States
91/176 - Memphis, Shelby County, West Tennessee, Tennessee, United States
92/176 - Tampa, Hillsborough County, Florida, United States
93/176 - Indiana, United States
94/176 - Victoria, Capital Regional District, British Columbia, Canada
95/176 - Tampa, Hillsborough County, Florida, United States
96/176 - Arlington County, Virginia, United States
97/176 - Detroit, Wayne County, Michigan, United States
98/176 - Göteborg, Göteborgs Stad, Västra Götalands län, 411 10, Sverige
99/176 - Philadelphia, Philadelphia County, Pennsylvania, United States
100/176 - Scotts Valley, Santa Cruz County, California, 95066, United States
101/176 - Novato, Marin County, California, United States
102/176 - Orlando, Orange County, Florida, United States
103/176 - Houston, Harris County, Texas, United States
104/176 - Brooklyn, Kings County, City of New York, New York, United States
105/176 - Joensuu, Joensuun seutukunta, Pohjois-Karjala, Manner-Suomi, Suomi / Finland
106/176 - Burbank, Los Angeles County, California, United States
107/176 - Seattle, King County, Washington, United States
108/176 - Newry, County Down, Northern Ireland / Tuaisceart Éireann, United Kingdom
109/176 - Homewood, Jefferson County, Alabama, United States
110/176 - Athens, Clarke County, Georgia, United States
111/176 - Murrieta, Riverside County, California, United States
112/176 - Washington, District of Columbia, United States
113/176 - Harrisburg, Dauphin County, Pennsylvania, United States
114/176 - Houston, Harris County, Texas, United States
115/176 - Yardley, Bucks County, Pennsylvania, United States
116/176 - Madison, Dane County, Wisconsin, United States
117/176 - Boston, Suffolk County, Massachusetts, United States
118/176 - Doylestown, Bucks County, Pennsylvania, 18901, United States
119/176 - Salvador, Região Geográfica Imediata de Salvador, Região Metropolitana de Salvador, Região Geográfica Intermediária de Salvador, Bahia, Região Nordeste, Brasil
120/176 - Dayton, Montgomery County, Ohio, United States
121/176 - Cambridge, Middlesex County, Massachusetts, United States
122/176 - San Diego, San Diego County, California, United States
123/176 - Oxford, Lafayette County, Mississippi, United States
124/176 - San Jose, Santa Clara County, California, United States
125/176 - Chicago, Cook County, Illinois, United States
126/176 - West Hartford, Capitol Planning Region, Connecticut, United States
127/176 - DeKalb County, Illinois, United States
128/176 - San Diego, San Diego County, California, United States
129/176 - Richmond, Virginia, United States
130/176 - Melbourne, City of Melbourne, Victoria, Australia
131/176 - Grand Ledge, Eaton County, Michigan, United States
132/176 - Illinois, United States
133/176 - Louisville, Jefferson County, Kentucky, United States
134/176 - Murfreesboro, Rutherford County, Middle Tennessee, Tennessee, United States
135/176 - Horsens, Horsens Kommune, Region Midtjylland, 8700, Danmark
136/176 - Winston-Salem, Forsyth County, North Carolina, United States
137/176 - Northridge, Northridge South Neighborhood Council District, Los Angeles, Los Angeles County, California, 91324, United States
138/176 - Charlotte, Mecklenburg County, North Carolina, United States
139/176 - Elmhurst, Queens, Queens County, City of New York, New York, 11373, United States
140/176 - Orange County, California, United States
141/176 - City of New York, New York, United States
142/176 - Coral Springs, Broward County, Florida, United States
143/176 - Jacksonville, Duval County, Florida, United States
144/176 - Milwaukee, Lake County, Illinois, 60041, United States
145/176 - Buffalo, Erie County, New York, United States
146/176 - San Francisco, California, United States
147/176 - Boston, Suffolk County, Massachusetts, United States
148/176 - Providence, Providence County, Rhode Island, United States
149/176 - Norwalk, Los Angeles County, California, 90650, United States
150/176 - Culver City, Los Angeles County, California, 90232, United States
151/176 - Stockholm, Stockholms kommun, Stockholms län, 111 29, Sverige
152/176 - Minneapolis, Hennepin County, Minnesota, United States
153/176 - Fort Collins, Larimer County, Colorado, United States
154/176 - Orange County, California, United States
155/176 - Charleston, Kanawha County, West Virginia, United States
156/176 - Los Angeles, Los Angeles County, California, United States
157/176 - Poitiers, Vienne, Nouvelle-Aquitaine, France métropolitaine, 86000, France
158/176 - Olympia, Thurston County, Washington, United States
159/176 - Buffalo, Erie County, New York, United States
160/176 - Vorarlberg, Österreich
161/176 - Kalamazoo, Kalamazoo County, Michigan, United States
162/176 - Osnabrück, Niedersachsen, Deutschland
163/176 - Cleveland, Cuyahoga County, Ohio, United States
164/176 - Birmingham, Jefferson County, Alabama, United States
165/176 - Richmond, Virginia, United States
166/176 - Dale City, Prince William County, Virginia, United States
167/176 - Amherst, Hampshire County, Massachusetts, United States
168/176 - Seattle, King County, Washington, United States
169/176 - Bay City, Bay County, Michigan, 48708, United States
170/176 - Fort Wayne, Allen County, Indiana, United States
171/176 - Huntsville, Madison County, Alabama, United States
172/176 - Albuquerque, Bernalillo County, New Mexico, United States
173/176 - Oakland, Alameda County, California, United States
174/176 - El Paso, El Paso County, Texas, United States
175/176 - Rotorua, Rotorua Lakes District, Bay of Plenty, 3010, New Zealand / Aotearoa
176/176 - Omaha, Douglas County, Nebraska, United States

,country,city,origin,origin_clean,latitude,longitude,address
0,Australia,Melbourne,"Melbourne, Victoria, Australia","Melbourne, Victoria, Australia",-37.814245,144.963173,"Melbourne, City of Melbourne, Victoria, Australia"
1,Australia,Perth,"Perth, Western Australia","Perth, Western Australia",-31.955893,115.860585,"City of Perth, Western Australia, Australia"
2,Brasil,Salvador,"Salvador, Bahia, Brazil","Salvador, Bahia, Brazil",-12.982250,-38.481277,"Salvador, Região Geográfica Imediata de Salvad..."
3,Canada,Toronto,"Toronto, Ontario, Canada","Toronto, Ontario, Canada",43.653482,-79.383935,"Toronto, Golden Horseshoe, Ontario, Canada"
4,Canada,Victoria,"Victoria, British Columbia, Canada","Victoria, British Columbia, Canada",48.428318,-123.364953,"Victoria, Capital Regional District, British C..."
...,...,...,...,...,...,...,...
171,United States,Yardley,"Yardley, Pennsylvania, U.S.","Yardley, Pennsylvania, US",40.245664,-74.845997,"Yardley, Bucks County, Pennsylvania, United St..."
172,United States,chattanooga,"chattanooga, tennessee","chattanooga, tennessee",35.045722,-85.309488,"Chattanooga, Hamilton County, East Tennessee, ..."
173,Ísland,Hellissandur,"Hellissandur, Iceland","Hellissandur, Iceland",64.917158,-23.882463,"Hellissandur, Snæfellsbær, Vesturland, 360, Ís..."
174,Österreich,Vorarlberg,"Vorarlberg, Austria","Vorarlberg, Austria",47.250000,9.916667,"Vorarlberg, Österreich"
175,日本,Tokyo,"Tokyo, Japan","Tokyo, Japan",35.676860,139.763895,"東京都, 日本"

In [219]:
export_coordinates_concat(df_coordinates)

df_coordinates_scraped: (2680, 7)

Found 84 duplicates:
               city        country
26        Melbourne      Australia
32            Perth      Australia
123         Toronto         Canada
127        Victoria         Canada
141         Horsens        Danmark
...             ...            ...
2627          Tampa  United States
2725     Washington  United States
2732  Washington DC  United States
2760       Whittier  United States
2853          Tokyo             日本

[84 rows x 2 columns]

Resulting dataset: (2772, 7)
Merged artists with coordinates! Found 92 new locations
df_coordinates_concat exported to .csv

In [220]:
# merge with the dataframe containing all the artists and their origins
df_artists_origins_coordinates_concat = merge_origins_coordinates(df_new_artists)
df_artists_origins_coordinates_concat.tail()

Exported to a .csv file

,artist,country,city,latitude,longitude,address
6699,Flake Music,United States,Albuquerque,35.084103,-106.650985,"Albuquerque, Bernalillo County, New Mexico, Un..."
6700,Until Your Heart Stops,United States,Oakland,37.804456,-122.271356,"Oakland, Alameda County, California, United St..."
6701,Sleepercar,United States,El Paso,31.760116,-106.487040,"El Paso, El Paso County, Texas, United States"
6702,Swamp Thing,New Zealand / Aotearoa,Rotorua,-38.138149,176.252922,"Rotorua, Rotorua Lakes District, Bay of Plenty..."
6703,Tim Kasher,United States,Omaha,41.258746,-95.938376,"Omaha, Douglas County, Nebraska, United States"

## **Statistics**

In [221]:
df_artists_origins_coordinates_concat = pd.read_csv('Datasets/df_artists_origins_coordinates.csv')
df_artists_origins_coordinates_concat.shape

(6704, 6)

In [192]:
brittish_cities = df_artists_origins_coordinates_concat[df_artists_origins_coordinates_concat['country']=='United Kingdom']
american_cities = df_artists_origins_coordinates_concat[df_artists_origins_coordinates_concat['country']=='United States']

In [193]:
order = df_artists_origins_coordinates_concat['country'].value_counts().index
print(df_artists_origins_coordinates_concat['country'].value_counts().head())

# plt.figure(figsize=(8,6))
# sns.countplot(df_artists_origins_coordinates_concat['country'], order=order)

country
United States     3952
United Kingdom    1493
Canada             213
Sverige            153
Australia          131
Name: count, dtype: int64

In [104]:
print(f"{brittish_cities.shape[0]} Brittish artists")
order = brittish_cities['city'].value_counts().index
print(f"{brittish_cities['city'].nunique()} Brittish cities\n")
print(brittish_cities['city'].value_counts().head(15))

# plt.figure(figsize=(9,45))
# sns.countplot(brittish_cities['city'], order=order)

1490 Brittish artists
428 Brittish cities

city
London         402
Birmingham      40
Glasgow         40
Manchester      39
Brighton        38
Leeds           36
Liverpool       30
Bristol         25
Nottingham      22
Sheffield       19
Edinburgh       16
Cardiff         16
Cambridge       15
Reading         13
Southampton     13
Name: count, dtype: int64

In [105]:
print(f"{american_cities.shape[0]} American artists")
order = american_cities['city'].value_counts().index
print(f"{american_cities['city'].nunique()} American cities\n")
print(american_cities['city'].value_counts().head(15))

# plt.figure(figsize=(5,55))
# sns.countplot(df_artists_origins_coordinates_concat[df_artists_origins_coordinates_concat['country']=='United States']['city'], order=order)

3703 American artists
868 American cities

city
Los Angeles      341
New York City    182
Chicago          138
San Francisco    112
Seattle           89
Boston            84
Brooklyn          74
Portland          63
Philadelphia      61
San Diego         56
Atlanta           43
Washington        41
Austin            41
Nashville         38
New York          38
Name: count, dtype: int64