In [1]:
import numpy as np
import pandas as pd
from pandas import json_normalize
import seaborn as sns
import matplotlib.pyplot as plt

from bs4 import BeautifulSoup
import requests 
import time
import re

# pip install geopy
from geopy.geocoders import Nominatim

import warnings
warnings.filterwarnings("ignore")

from geopy_functions import *
from my_functions import *

**YOB** te 5 albums a Sputnik, però nomes **2** a Discogs de UK, tot i que és una banda de UK. 

Si apareixen al df de US, hauré de fer un concat/merge

# **Locations Wikipedia scraping**

In [2]:
df_ratings = pd.read_csv('Datasets/df_ratings_top.csv', keep_default_na=False)

print(f"{df_ratings['artist'].nunique()} artists")
print(f"{df_ratings.shape[0]} albums")
print(f"Average of {round(df_ratings.shape[0] / df_ratings['artist'].nunique(), 2)} albums per artist in the df that has all the albums with any ratings")

23683 artists
79625 albums
Average of 3.36 albums per artist in the df that has all the albums with any ratings

In [53]:
df = pd.read_csv('Datasets/df_rock_ratings.csv', keep_default_na=False)

print(f"{df['artist'].nunique()} artists")
print(f"{df.shape[0]} albums")
print(f"Average of {round(df.shape[0] / df['artist'].nunique(), 2)} albums per artist in the subset with the (mostly UK) albums with more than 10 votes")

5094 artists
12059 albums
Average of 2.37 albums per artist in the subset with the (mostly UK) albums with more than 10 votes

## Testing

In [28]:
df.sample(5)

,artist,title,year,album_length,tracks,genres,styles,release_country,artist_profile
10580,The 1975,A Brief Inquiry into Online Relationships,2018,58.43,15,"['Rock', 'Pop']","['Indie Rock', 'Alternative Rock', 'Indie Pop']",UK & Europe,British indie rock band. \r\n\r\nPop-rock band...
9889,Le Butcherettes,A Raw Youth,2015,0.00,12,['Rock'],[],US,Formed by Teri Gender Bender and Auryn Jolene ...
6394,John Fogerty,Centerfield,1985,35.33,9,['Rock'],"['Pop Rock', 'Folk Rock', 'Country Rock']",US,"American musician, songwriter, and guitarist (..."
4498,L7,The Beauty Process: Triple Platinum,1997,41.57,12,['Rock'],"['Punk', 'Grunge']",US,American grunge punk/alternative rock band fro...
5742,The Fall,Are You Are Missing Winner,2001,47.68,10,['Rock'],"['Garage Rock', 'Punk', 'Rockabilly']",UK,"Post-punk band from Greater Manchester, UK. 19..."

In [125]:
artists = df['artist'].unique()
len(artists)

9616

In [106]:
artists[4155]

'Life at These Speeds'

In [116]:
artist = "AABSINTHE"
name_changed = artist.title().replace(' ', '_')
name_changed

'Aabsinthe'

In [658]:
artist = "John Grant"
name_changed = artist.replace(' ', '_')
name_changed_band = artist.replace(' ', '_') + ('_(band)')
name_changed_musician = name_changed + ('_(musician)')

url = f"https://en.wikipedia.org/wiki/{name_changed_musician}"
response = requests.get(url).content
soup = BeautifulSoup(response, "html.parser")
table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

try:
    text = table[0].text

    # Step 1: Extract the part after 'Born'
    after_born = text.split("Born", 1)[1]

    text_age = re.search("aged", after_born)

    if text_age:
        # This means the musician is dead
        location = re.split(r'(19\d{2})', after_born)[4].split('Died')[0].strip()
    else:
        try:
            text = re.split(r'(19\d{2})', after_born)[4].split(')')[1]

            if "Other\xa0names" in text:
                location = text.split('Other\xa0names')[0]
            else:
                if "Citizenship" in text:
                    location = text.split('Citizenship')[0]
                else:
                    if "Genres" in text:
                        location = text.split('Genres')[0]
                        print('Genres')
                    else:
                        if "Occupations" in text:
                            location = text.split('Occupations')[0]
                            print('Occupations')
                        else:
                            location = np.nan
        except:  
            location = np.nan
except:
    print('fuck')

Genres

In [659]:
location

'Buchanan, Michigan, U.S.'

In [652]:
name_changed_musician

'John_Grant_(musician)'

In [533]:
artist = "Stone Gossard"
name_changed = artist.replace(' ', '_')
name_changed_band = artist.replace(' ', '_') + ('_(band)')

url = f"https://en.wikipedia.org/wiki/{name_changed}"
response = requests.get(url).content
soup = BeautifulSoup(response, "html.parser")
table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

try:
    location = table[0].text.split('Origin')[1].split('Genres')[0]

# save info in lists
    print('origin')

except:
    text = table[0].text

    # Step 1: Extract the part after 'Born'
    after_born = text.split("Born", 1)[1]

    text_age = re.search("aged", after_born)

    if text_age:
        # This means the artist is dead
        print('dead')
        location = re.split(r'(19\d{2})', after_born)[4].split('Died')[0].strip()
    else:
        try:
            text = re.split(r'(19\d{2})', after_born)[4].split(')')[1]

            if "Other\xa0names" in text:
                location = text.split('Other\xa0names')[0]
            else:
                if "Citizenship" in text:
                    location = text.split('Citizenship')[0]
                else:
                    if "Occupations" in text:
                        location = text.split('Occupations')[0]
                    else:
                        if "Genres" in text:
                            location = text.split('Genres')[0]
                            print(repr(location))
                        else:
                            location = np.nan
        except:  
            location = np.nan

In [535]:
text

'Seattle, Washington, U.S.GenresAlternative rockgrungeglam punkpunk rockhard rockheavy metalglam metalOccupationsMusiciansongwriterInstrumentsGuitarvocalsYears active'

In [536]:
location

'Seattle, Washington, U.S.GenresAlternative rockgrungeglam punkpunk rockhard rockheavy metalglam metal'

In [118]:
df.head()

   album_id          artist               album  rating  votes
0        37  Less Than Jake       Losing Streak    3.90    414
1        40          Sparta       Wiretap Scars    3.79    431
2        41            Muse          Absolution    3.99   4411
3        42            Muse             Showbiz    3.50   2181
4        45           Finch  What It Is to Burn    3.69    864

## **Changing values**

In [49]:
df

,year,artist,title,rating,votes,album_length,tracks,styles,release_country,artist_profile
0,2002,Sparta,Wiretap Scars,3.79,431,47.62,12,"['Indie Rock', 'Alternative Rock']",US,"El Paso, Texas based band. Formed in 2001 afte..."
1,2003,Muse,Absolution,3.99,4411,52.18,14,['Alternative Rock'],Europe,"Muse are an English rock band from Teignmouth,..."
2,1999,Muse,Showbiz,3.50,2181,49.65,12,"['Alternative Rock', 'Prog Rock']",UK,"Muse are an English rock band from Teignmouth,..."
3,2002,Finch,What It Is to Burn,3.69,864,61.18,13,"['Emo', 'Post-Hardcore', 'Alternative Rock']",US,"Finch is a post-hardcore band from Temecula, C..."
4,2002,Transplants,Transplants,3.35,198,45.23,12,['Punk'],US,"Punk rock/rap rock band Los Angeles, CA, Unite..."
...,...,...,...,...,...,...,...,...,...,...
12054,2024,As Living Arrows,Hope and Ruin,3.80,47,0.00,8,['Post-Hardcore'],NaN,"Post-screamo band from Brighton, UK\r\n"
12055,2024,The Dopamines,80/20,3.92,13,0.00,13,"['Punk', 'Pop Punk']",US,"Punk band from Cincinnati, Ohio."
12056,2024,Dawnwalker,The Unknowing,3.68,11,0.00,9,['Prog Rock'],UK,"Post-Metal/Rock band from London, UK."
12057,2024,Tiny Moving Parts,Deep in the Blue,3.02,28,0.00,10,"['Emo', 'Math Rock', 'Pop Punk']",US,"Trio from Benson, Minnesota. The band takes in..."
12058,2024,Caelestra,Bastion,3.95,10,48.65,6,"['Progressive Metal', 'Post-Metal', 'Black Met...",UK,"Caelestra. Bristol, UK. The creation of Fever ..."

In [579]:
df[df['artist']=='Nucleus']

Empty DataFrame
Columns: [year, artist, title, rating, votes, album_length, tracks, styles, release_country, artist_profile]
Index: []

In [580]:
df[df['artist'].str.contains('Nucleus')]

,year,artist,title,rating,votes,album_length,tracks,styles,release_country,artist_profile
7537,1970,Nucleus (UK),Elastic Rock,3.55,20,0.00,13,"['Jazz-Rock', 'Fusion', 'Prog Rock']",UK,"Pioneering jazz-rock, progressive, psychedelic..."
7568,1971,Nucleus (UK),We'll Talk About It Later,3.79,21,0.00,7,"['Fusion', 'Jazz-Funk', 'Jazz-Rock', 'Prog Rock']",UK,"Pioneering jazz-rock, progressive, psychedelic..."
9833,2016,Nucleus (US),Sentient,3.29,29,37.92,9,['Death Metal'],US,"Death Metal band from Chicago, Illinois, USA. ..."
10933,2019,Nucleus (US),Entity,3.68,40,38.42,8,['Death Metal'],US,"Death Metal band from Chicago, Illinois, USA. ..."

In [578]:
df.loc[7537, 'artist'] = 'Nucleus (UK)'
df.loc[7568, 'artist'] = 'Nucleus (UK)'
df.loc[9833, 'artist'] = 'Nucleus (US)'
df.loc[10933, 'artist'] = 'Nucleus (US)'

In [869]:
df.drop([7660, 8037], axis=0, inplace=True)
df.shape

(12059, 10)

In [122]:
df['artist'] = np.where(df['artist']=='pg.99 / Majority Rule', 'Majority Rule', df['artist'])
df[df['artist']=='pg.99 / Majority Rule']

Empty DataFrame
Columns: [album_id, artist, album, rating, votes]
Index: []

In [582]:
df.to_csv('Datasets/df_rock_ratings.csv', index=False)

In [581]:
df.shape

(12059, 10)

### **Testing code for strange cases**

In [ ]:
df = pd.read_csv('Datasets/df_ratings.csv')
artists = df['artist'].unique()

artists_list = []
origin_list = []
count=0

for index in artists[140:150]:

    artists_list.append(index)
    name_changed = index.replace(' ', '_')
    name_changed_band = name_changed + ('_(band)')

    try:
        url = f"https://en.wikipedia.org/wiki/{name_changed_band}"
        response = requests.get(url).content
        soup = BeautifulSoup(response, "html.parser")

        origin = soup.select('table tr th', class_='infobox-label')

        if len(origin) > 0:
            try:
                if origin[2].text == 'Origin':
                    location = soup.select('table tr td', class_='infobox-data')[1].text
                elif origin[3].text == 'Origin':
                    location = soup.select('table tr td', class_='infobox-data')[2].text
                # else:
                    
                if 'multiple issues' in location:
                    location = soup.select('table tr td', class_='infobox-data')[7].text        
                    print(f'{count} - {name_changed_band}: multiple issues - {location}')
                    origin_list.append(location)
                elif 'additional citations' in location:
                    location = soup.select('table tr td', class_='infobox-data')[3].text        
                    print(f'{count} - {name_changed_band}: additional citations - {location}')
                    origin_list.append(location)

                else:
                    print(f'{count} - {name_changed_band}: {location}')
                    origin_list.append(location)
            except:
                print(f'{count} - {name_changed_band}: {location}')
                origin_list.append(location)      
        else:
            try:
                url = f"https://en.wikipedia.org/wiki/{name_changed}"
                response = requests.get(url).content
                soup = BeautifulSoup(response, "html.parser")

                origin = soup.select('table tr th', class_='infobox-label')

                if len(origin) > 0:
                    if origin[2].text == 'Origin':
                        location = soup.select('table tr td', class_='infobox-data')[1].text

                        if 'multiple issues' in location:
                            location = soup.select('table tr td', class_='infobox-data')[7].text        
                            print(f'{count} - {name_changed_band}: multiple issues - {location}')
                            origin_list.append(location)
                        elif 'additional citations' in location:
                            location = soup.select('table tr td', class_='infobox-data')[3].text        
                            print(f'{count} - {name_changed_band}: additional citations - {location}')
                            origin_list.append(location)
                        else:
                            print(f'{count} - {name_changed_band}: {location}')
                            origin_list.append(location)

                    elif origin[3].text == 'Origin':
                        location = soup.select('table tr td', class_='infobox-data')[2].text
                        print(f'{count} - {name_changed_band}: {location}')
                        origin_list.append(location) 

                    else:
                        print(f'{count} - {index}: no location found')
                        origin_list.append(np.nan)  
                else:
                    print(f'{count} - {index}: short length')
                    origin_list.append(np.nan)
            except:
                print(f'{count} - {index}: error')
                origin_list.append(np.nan)
    except:
        print(f'{count} - {index}: error')
        origin_list.append(np.nan)

    if len(artists_list) != len(origin_list):
        print('different lengths')
        break

    count+=1

0 - Funeral_for_a_Friend_(band): Bridgend, Wales
1 - Millencolin_(band): multiple issues - Örebro, Sweden
2 - The_Flaming_Lips_(band): Oklahoma City, Oklahoma, U.S.
3 - Feeder_(band): Feeder in 2008
4 - Descendents_(band): Manhattan Beach, California, U.S.
5 - PJ Harvey: no location found
6 - Godsmack_(band): Lawrence, Massachusetts U.S.
7 - Blind_Faith_(band): Ripley, Surrey, England
8 - Van_Halen_(band): Pasadena, California, U.S.
9 - Damageplan_(band): Dallas, Texas, U.S.

## Defining the functions

In [ ]:
def get_origins_wikipedia(df, start_index, final_index):
    df = pd.read_csv('Datasets/df_rock_ratings.csv')
    artists = df['artist'].unique()

    try:
    # import the DataFrame with the locations whose coordinates I already have
        df_coordinates_scraped = pd.read_csv('Datasets/df_coordinates.csv')
        print('Bingo! df_coordinates.csv found \n')
    except: 
        print('df_coordinates.csv not found \n')

    artists_list = []
    origin_list = []
    count=0
    scraped=0

    for index in artists[start_index:final_index]:

        name_changed = index.replace(' ', '_')
        name_changed_band = name_changed + ('_(band)')

        try:
            url = f"https://en.wikipedia.org/wiki/{name_changed_band}"
            response = requests.get(url).content
            soup = BeautifulSoup(response, "html.parser")

            table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

            location = table[0].text.split('Origin')[1].split('Genres')[0]
            city = location.split(', ')[0]
            count+=1
            
        # save info in lists
            artists_list.append(index)  
            origin_list.append(location)
            scraped+=1
            print(f'{scraped}/{count} - {name_changed_band}: {location}')

        except:
            try:
                url = f"https://en.wikipedia.org/wiki/{name_changed}"
                response = requests.get(url).content
                soup = BeautifulSoup(response, "html.parser")
                table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

                try:
                    location = table[0].text.split('Origin')[1].split('Genres')[0]
                    city = location.split(', ')[0]
                    count+=1 
    
                # save info in lists
                    artists_list.append(index)  
                    origin_list.append(location)
                    scraped+=1
                    print(f'{scraped}/{count} - {name_changed}: {location}')

                except:
                    location = table[0].text.split(')')[2].split('Genres')[0]
                    city = location.split(', ')[0]
                    count+=1

                # save info in lists
                    artists_list.append(index)  
                    origin_list.append(location)
                    scraped+=1
                    print(f'{scraped}/{count} - {name_changed} (individual): {location}')

            except:
                try:
                    url = f"https://es.wikipedia.org/wiki/{name_changed}"
                    response = requests.get(url).content
                    soup = BeautifulSoup(response, "html.parser")

                    table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')
                    location = table[0].text.split('Origen\n')[1].split(' Información')[0]
                    city = location.split(', ')[0]
                    count+=1    
    
                # save info in lists
                    artists_list.append(index)  
                    origin_list.append(location)
                    scraped+=1
                    print(f'{scraped}/{count} - {name_changed} (español): {location}')

                except:
                    scraped+=1
                    print(f'{scraped}/{count} - {index}: error')
                    artists_list.append(index) 
                    origin_list.append(np.nan)

        if len(artists_list) != len(origin_list):
            print('different lengths')
            break

    df_artists_origins = pd.DataFrame({'artist': artists_list
                             , 'origin': origin_list})
    
    return df_artists_origins

In [102]:
def get_new_artists(df_artists_origins):

# import the df with the artists' origins already scraped
    df_artists_origins_scraped = pd.read_csv('Datasets/df_artists_origins.csv')

    if df_artists_origins['origin'].isna().sum() == 0:        
        print("No null values, but let's take a look just in case there are weird locations")

    else: 
    # take a look at the df with the new artists and make sure there are non null values in origin (when it couldn't find it in Wikipedia)
        print(f'{round(df_artists_origins['origin'].isna().sum() / df_artists_origins.shape[0]*100, 2)} % of nulls')
    
# subset of the new artists I just got, wether there are null values or not
    df_new_artists = df_artists_origins[~df_artists_origins['artist'].isin(df_artists_origins_scraped['artist'].values)]

    print("Here is the dataframe with the new artists, without duplicates")
    return df_new_artists   # so I can take a look at it and then continue

In [ ]:
def export_artists_origins_concat(df_new_artists):

# import the df with the artists' origins already scraped
    df_artists_origins_scraped = pd.read_csv('Datasets/df_artists_origins.csv')

# concat with the df I just got
    df_artists_origins_concat = pd.concat([df_artists_origins_scraped, df_new_artists])
    df_artists_origins_concat.drop_duplicates(inplace=True)     # just in case
    df_artists_origins_concat.reset_index(drop=True, inplace=True)

# export all the artists and their origins to a .csv file (the ones I got plus the new artists)
    df_artists_origins_concat.to_csv('Datasets/df_artists_origins.csv', index=False)
    print('df_artists_origins_concat exported to .csv')
    print(df_artists_origins_concat.shape)

In [175]:
def get_coordinates_geopy(df_new_artists):
    
# replace special characters for spaces
    df_new_artists['origin_clean'] = df_new_artists['origin'].str.replace('.', '')
    df_new_artists['origin_clean'] = df_new_artists['origin_clean'].str.replace(r'\[\d+\]', '', regex=True)

# run the function that gets the coordinates from the origins from Geopy
    geolocator = Nominatim(user_agent="music_analysis", timeout=10)

# if they are 'dirty' origins that after the cleaning, they result in the same 'origin_clean'
    df_unique = df_new_artists[['origin', 'origin_clean']].drop_duplicates() 
    unique_origins = df_unique['origin'].values
    unique_origins_clean = df_unique['origin_clean'].values

    country_list = []
    city_list = []
    latitude_list = []
    longitude_list = []
    address_list = []
    lists = [country_list, city_list, latitude_list, longitude_list, address_list]
    count = 0

    for origin in unique_origins_clean:
        count+=1
        time.sleep(1)
        location = geolocator.geocode(origin)

        print(f'{count}/{len(unique_origins_clean)} - {location.address}')  

    # save the info in lists
        country_list.append(location.address.split(', ')[-1])
        city_list.append(origin.split(', ')[0])
        latitude_list.append(location.latitude)
        longitude_list.append(location.longitude)
        address_list.append(location.address)

        # # Check lengths
        # print(f"{count}/{len(unique_origins_clean)} - {origin}")
        # print(f"Current list lengths -> country: {len(country_list)}, city: {len(city_list)}, "
        #     f"lat: {len(latitude_list)}, lon: {len(longitude_list)}, address: {len(address_list)}")

    df_coordinates = pd.DataFrame({'country': country_list
                                , 'city': city_list
                                , 'origin': unique_origins
                                , 'origin_clean': unique_origins_clean
                                , 'latitude': latitude_list
                                , 'longitude': longitude_list
                                , 'address': address_list})
    df_coordinates.sort_values(['country', 'city'], inplace=True) # sort by country and city
    df_coordinates.reset_index(drop=True, inplace=True)

    return df_coordinates

In [ ]:
def export_coordinates_concat(df_coordinates):

# import the last df that contains the coordinates of the unique origins
    df_coordinates_scraped = pd.read_csv('Datasets/df_coordinates.csv')
    print(f"df_coordinates_scraped: {df_coordinates_scraped.shape}\n")

# concat with the df of the coordinates I just got
    df_coordinates_concat = pd.concat([df_coordinates_scraped, df_coordinates])
    df_coordinates_concat.sort_values(['country', 'city'], inplace=True) # sort by country and city
    df_coordinates_concat.reset_index(drop=True, inplace=True)

# look for duplicates in the origin, between the locations I had already gotten and the new ones
    check_duplicates_origins(df_coordinates_concat)
    new_origins = df_coordinates_concat.shape[0] - df_coordinates_scraped.shape[0]
    print(f"Merged artists with coordinates! Found {new_origins} new locations")

# save it in a csv file (the coordinates I had plus the ones from the new artists I just got)
    df_coordinates_concat.to_csv('Datasets/df_coordinates.csv', index=False)
    print('df_coordinates_concat exported to .csv')

In [140]:
def merge_origins_coordinates(df_new_artists):

# import the last df that contains the coordinates of the unique origins
    df_coordinates_concat = pd.read_csv('Datasets/df_coordinates.csv')

# merge with the previous df with the artists
    df_artists_origins_coordinates = pd.merge(df_new_artists, df_coordinates_concat, on=['origin'])
    df_artists_origins_coordinates.drop(columns=['origin', 'origin_clean_x', 'origin_clean_y'], inplace=True)

# import the df that contains info of the artists and the coordinates of their origins
    df_artists_origins_coordinates_scraped = pd.read_csv('Datasets/df_artists_origins_coordinates.csv')

# concat to get the df with all the artists, origins and their coordinates
    df_artists_origins_coordinates_concat = pd.concat([df_artists_origins_coordinates_scraped, df_artists_origins_coordinates])
    df_artists_origins_coordinates_concat.reset_index(drop=True, inplace=True)

# save it in a csv file
    df_artists_origins_coordinates_concat.to_csv('Datasets/df_artists_origins_coordinates.csv', index=False)
    print("Exported to a .csv file")

    return df_artists_origins_coordinates_concat

## **Code to execute the functions from ``geopy_functions.py``**

In [11]:
# I have to import this df for the function to properly work
df = pd.read_csv('Datasets/df_rock_ratings.csv')
artists = df['artist'].unique()
len(artists)

5094

In [12]:
df_artists_origins = pd.read_csv('Datasets/df_artists_origins.csv')
df_artists_origins.index[-1]

2317

In [13]:
df_artists_origins.tail()

                     artist                                    origin
2313           Broken Bells             Los Angeles, California, U.S.
2314  New Kids on the Block           Dorchester, Massachusetts, U.S.
2315              Joe Walsh                     Wichita, Kansas, U.S.
2316           City of Fire                         Vancouver, Canada
2317         Creeper Lagoon  San Francisco, California, United States

In [14]:
np.where(artists=='Creeper Lagoon')

(array([2443], dtype=int64),)

In [15]:
artists[2443]

'Creeper Lagoon'

In [20]:
np.where(artists=='Boz Scaggs')

(array([3439], dtype=int64),)

In [21]:
artists[3439]

'Boz Scaggs'

In [16]:
# create the df with the origins scraped from Wikipedia

df_artists_origins = pd.read_csv('Datasets/df_artists_origins.csv')
start_index = 2440
final_index = start_index+1000

df_artists_origins = get_origins_wikipedia(df, start_index, final_index)

Bingo! df_coordinates.csv found

1/1 - New_Kids_on_the_Block: Dorchester, Massachusetts, U.S.
2/2 - Joe_Walsh (individual): Wichita, Kansas, U.S.GenresHard rockblues rockpop rockprogressive rockcountry rock
3/3 - City_of_Fire_(band): Vancouver, Canada
4/4 - Creeper_Lagoon: San Francisco, California, United States
5/5 - Scanner_(band): Gelsenkirchen,  Germany
6/6 - The_Outfield: London
7/7 - Demonic_Resurrection: Mumbai, Maharashtra, India
8/8 - Between_the_Screams: Southend-on-Sea, Essex, England
8/9 - Flymore: error
9/10 - Get_Well_Soon_(band): Germany
10/11 - Take_That: Manchester, England
11/12 - Poster_Children: Champaign, Illinois, USA
12/13 - The_Soft_Pack: San Diego, United States
13/14 - Rickie_Lee_Jones (individual): Chicago, Illinois, United States
14/15 - We_Are_The_Ocean: Loughton, Essex, England
15/16 - Basia_Bulat: London, Ontario, Canada
16/17 - Calabrese_(band): Phoenix, Arizona, United States
17/18 - Soulwax_(band): Ghent, Belgium
18/19 - Oh_No_Ono: Aalborg, Denmark
19/20 - Hate_(band): Warsaw, Poland
20/21 - Valkyrja: Stockholm, Sweden
21/22 - The_Asteroids_Galaxy_Tour: Copenhagen, Denmark
21/23 - Wigwam: error
22/24 - Joan_Armatrading: Birmingham, England
23/25 - Day_of_Fire_(band): Nashville, Tennessee, United States
24/26 - Unsane_(band): New York City, U.S.
25/27 - Wormrot: Singapore
26/28 - Die_Apokalyptischen_Reiter: Weimar, Germany
27/29 - Pylon_(band): Athens, Georgia, United States
27/30 - The Bats: error
28/31 - Dead_Confederate: Augusta, Georgia, United States
29/32 - Duster_(band): San Jose, California, U.S.
30/33 - Redd_Kross: Hawthorne, California, U.S.
31/34 - High_Tide_(band): Northampton, Northamptonshire, England
32/35 - The_Olivia_Tremor_Control: Athens, Georgia
33/36 - Fireflight_(band): Orlando, Florida[1]
34/37 - The_Unwinding_Hours: Glasgow, Scotland
35/38 - Reef_(band): Glastonbury, England
35/39 - One Eyed God Prophecy: error
35/40 - Phoenix Bodies: error
36/41 - The_Waterboys: United Kingdom
36/42 - 3Ds: error
37/43 - Mortification_(band): Moorabbin, Victoria, Australia
38/44 - High_on_Fire: Oakland, California, U.S.
39/45 - The_Blue_Nile_(band): Glasgow, Scotland
40/46 - Moonlit_Sailor: Borås, SwedenYears active2006–presentLabelsDeep Elm Records, XTALMembersAdam TörnbladOscar GullbrandsenJoakim WiikMarkus Rundlöf
41/47 - Merciless_(band): Strängnäs, Sweden
42/48 - Ace_Frehley (individual): New York City, U.S.
42/49 - Misericordiam: error
43/50 - Brainiac_(band): Dayton, Ohio, United States
44/51 - Slash_(band): Los Angeles, California, U.S.
45/52 - tUnE-yArDs: New Canaan, Connecticut, United States
46/53 - Two_Door_Cinema_Club: Bangor, County Down, Northern Ireland
47/54 - Grotus: San Francisco, California, U.S.
48/55 - Fang_Island: Providence, Rhode Island; Brooklyn, NY, US
49/56 - No_Use_for_a_Name: Sunnyvale, California, U.S.
50/57 - The_Almighty_(band): Glasgow, Scotland
51/58 - Clan_of_Xymox: Nijmegen, Netherlands
52/59 - Nox_(band): Hungary
53/60 - Bardo_Pond: Philadelphia, Pennsylvania, United States
53/61 - Witch: error
54/62 - Holly_Miranda (individual): nan
55/63 - Ringo_Deathstarr: Austin, Texas, U.S.
56/64 - White_Hills_(band): New York City, New York, United States
57/65 - Reagan_Youth: New York City, U.S.
58/66 - Lair_of_the_Minotaur: Chicago, Illinois, U.S.
59/67 - The_Xcerts: Aberdeen, Scotland, UK
60/68 - Concrete_Blonde: Los Angeles, California
61/69 - Gonjasufi: San Diego, California, United States
62/70 - Psychic_TV: London, England
62/71 - The Breathing Process: error
63/72 - H-Blockx: Münster, Germany
64/73 - The_Summer_Set: Scottsdale, Arizona, U.S.
65/74 - Jean-Luc_Ponty (individual): Avranches, France
65/75 - Solstice: error
66/76 - Lloyd_Cole_and_the_Commotions: Glasgow, Scotland
67/77 - Peter_Criss (individual): Brooklyn, New York, U.S.
68/78 - The_Whigs_(band): Athens, Georgia, United States
69/79 - Rinoa_(band): Essex, England
70/80 - The_Vaselines: Glasgow, Scotland
71/81 - Abscess_(band): Oakland, California, United States
72/82 - Against_Me!: Naples, Florida, US
73/83 - Renaissance_(band): London, United Kingdom
74/84 - Dominus_(band): Ringsted, Denmark
75/85 - Plasmatics: New York City, U.S.
76/86 - Tina_Turner (individual): Brownsville, Tennessee, US
77/87 - Tom_Verlaine: Wilmington, Delaware, U.S.DiedJanuary 28, 2023(2023-01-28) (aged 73)New York City, U.S.
78/88 - Disco_Inferno_(band): Essex, England
79/89 - Frehley's_Comet: New York City, U.S.
80/90 - Acoustic_Ladyland: London, England
81/91 - Laura_Marling (individual):
82/92 - Free_Energy_(band): Philadelphia, Pennsylvania, U.S.
83/93 - Revolting_Cocks: BelgiumUnited States
84/94 - Spoken_(band): Nashville, Tennessee, U.S.
85/95 - John_Foxx (individual): Chorley, Lancashire, England
85/96 - Postmortem Promises: error
86/97 - Dum_Dum_Girls: Los Angeles, California
87/98 - Dragged_Into_Sunlight: Liverpool, England
88/99 - Veni_Domine: Sollentuna, Sweden
89/100 - General_Fiasco: Bellaghy, Northern IrelandYears active2007 (2007)–2013 (2013)2017 (2017)–presentLabelsInfectious Records (2009–2011)Liberation Music (2009–2011)Dirty Hit (2011–2013)MembersAndrew HayesStephen LeacockEnda StrathernOwen StrathernPast membersStuart BellShane DaveyWebsitegeneralfiasco.co.uk
90/101 - Lower_Than_Atlantis: Watford, Hertfordshire, England
91/102 - Emerson,_Lake_and_Powell: London, England
92/103 - Darwin_Deez: New York, New York, United States
93/104 - Confessor_(band): Raleigh, North Carolina, United States
94/105 - The_Leather_Nun: Gothenburg, Sweden
95/106 - Amenra_(band): Kortrijk, West Flanders, Belgium
95/107 - Obliteration: error
95/108 - Desecrator: error
95/109 - Desolated: error
96/110 - Twilight_(band): California, United States
97/111 - Black_Breath_(band): Bellingham, Washington, United States
97/112 - White Wizzard: error
97/113 - Rebuke: error
98/114 - My_Life_with_the_Thrill_Kill_Kult: Chicago, Illinois, U.S.
98/115 - Wiseblood: error
99/116 - David_Hasselhoff (individual): Baltimore, Maryland, U.S.
100/117 - Grinspoon: Lismore, New South Wales, Australia
101/118 - Kitchens_Of_Distinction: Tooting, England
102/119 - Harlem_(band): Tucson, Arizona, United States
103/120 - Godsmack: Lawrence, Massachusetts U.S.
104/121 - John_5 (individual): Grosse Pointe, Michigan, U.S.[1]Genres
Heavy metal
alternative metal
instrumental rock
industrial metal
bluegrass[2]

105/122 - Alternative_TV: London, England
106/123 - Steel_Pole_Bath_Tub: Bozeman, Montana, United States
107/124 - Adrenalin_O.D.: Elmwood Park, New Jersey, United States
108/125 - Delorean_(band): Zarautz, Spain
109/126 - Jakob_Dylan: Los Angeles, California, U.S.
110/127 - The_Flatliners: Richmond Hill, Ontario, Canada
111/128 - Errors_(band): Glasgow, Scotland
112/129 - Band_of_Horses: Seattle, Washington(now based in Charleston, South Carolina)
113/130 - Boredoms_(band): Osaka, Japan
114/131 - UNKLE: London, England
115/132 - Broken_Bones_(band): Stoke-on-Trent, England
116/133 - Gravity_Kills: St. Louis, Missouri, U.S.
117/134 - Anti_Cimex: Gothenburg, Sweden
118/135 - Twenty_One_Pilots: Columbus, Ohio, U.S.
119/136 - Acid_(band): Japan
119/137 - And Hell Followed With: error
120/138 - The_Morning_Of: Newburgh, New York
121/139 - Roky_Erickson (individual): Dallas, Texas, U.S.
122/140 - Alberta_Cross: East London, England
123/141 - John_Grant (individual): Buchanan, Michigan, U.S.GenresAlternative rockindie rockelectronic rocksynth-popnew wavesoft rock
124/142 - Serj_Tankian_(band): Los Angeles, California, U.S.
125/143 - Ariel_Pink's_Haunted_Graffiti (individual): Los Angeles, California, U.S.Genres
Lo-fi
hypnagogic pop
rock

126/144 - Sleigh_Bells_(band): Brooklyn, New York, US
127/145 - Egg_(band): London, England
128/146 - Pegboy: Chicago, Illinois
129/147 - CocoRosie: United States [where?]
130/148 - Beefeater_(band): Washington D.C.
131/149 - Smart_Went_Crazy: Washington DC, United States
132/150 - Badfinger: Swansea, Wales
133/151 - Dodgy_(band): Hounslow, London, England[1]
134/152 - Kyte_(band): Leicestershire, England
135/153 - Avi_Buffalo: Long Beach, California
136/154 - JEFF_the_Brotherhood: Nashville, Tennessee, United StatesYears active2001–presentLabelsInfinity Cat, Third Man, Warner Bros., Dine Alone Records (Worldwide Distributor)MembersJake Orrall Jamin OrrallWebsitewww.jeffthebrotherhood.com
136/155 - Parades: error
137/156 - The_Young_Veins: Topanga, California, U.S.
138/157 - Cast_(band): Liverpool, England
139/158 - Circle_of_Dead_Children: Pittsburgh, Pennsylvania, U.S.
140/159 - Bo_Diddley: ator
Born(1928-12-30)December 30, 1928McComb, Mississippi, U.S.DiedJune 2, 2008(2008-06-02) (aged 79)Archer, Florida, U.S.
141/160 - Girlschool: London, England
142/161 - Steve_Perry (individual): Hanford, California, U.S.GenresRock
142/162 - More Than Life: error
143/163 - Mantric: Oslo, Norway
144/164 - Born_Ruffians: Midland, Ontario, Canada
145/165 - Tame_Impala: Perth, Western Australia, Australia
146/166 - Strawbs: England
147/167 - John_Maus: Los Angeles, California, U.S.
148/168 - Male_Bonding_(band): London, England
149/169 - Slade_(band): Wolverhampton, Staffordshire, England
150/170 - OSI_(band): United States
151/171 - Blackmore's_Night: United Kingdom
152/172 - Nudeswirl: New Brunswick, New Jersey, United States
153/173 - Elf_(band): Cortland, New York, U.S.
153/174 - These Monsters: error
154/175 - Stornoway_(band): Oxford, Oxfordshire, England
154/176 - Nancy Sinatra and Lee Hazlewood: error
155/177 - Uzi_(band): Boston, Massachusetts, United States
156/178 - Guy_Clark (individual): Monahans, Texas, U.S.
157/179 - Eddie_Money: Berkeley, California
158/180 - The_Walkabouts: Seattle, Washington, U.S.
159/181 - The_Dudes: Calgary, Alberta, Canada
159/182 - Dyscarnate: error
159/183 - A Forest of Stars: error
159/184 - Sagittarius: error
159/185 - Sun Dial: error
160/186 - Cloud_Control: Blue Mountains, NSW, Australia
161/187 - Pavlov's_Dog_(band): St. Louis, Missouri, U.S.
162/188 - Brant_Bjork: Palm Springs, California, U.S.
163/189 - Internal_Bleeding_(band): Long Island, New York, U.S.
164/190 - Villagers_(band): Dún Laoghaire, Dublin, Ireland
164/191 - Flies Are Spies From Hell: error
164/192 - Moonshake: error
165/193 - Cenotaph_(band): Ankara, Turkey
166/194 - Suns_of_the_Tundra: London
167/195 - It_Bites: Egremont, Cumbria, England
168/196 - David_Thomas_Broughton: Otley, West Yorkshire, England
169/197 - Kvelertak_(band): Stavanger, Norway
170/198 - Ramesses_(band): Dorset, England, UK
171/199 - OOIOO_(band): Japan
172/200 - Hoodoo_Gurus: Sydney, New South Wales, Australia
172/201 - Morta Skuld: error
173/202 - Just_Surrender: Dover Plains, New York,  United States
174/203 - Brendan_Perry (individual): nan
175/204 - Bill_Fay (individual): [1][2]London, England
176/205 - Pulled_Apart_By_Horses: Leeds, England
177/206 - Sloan_(band): Halifax, Nova Scotia, Canada
178/207 - Ivy_(band): New York City, United States
178/208 - Buckingham Nicks: error
178/209 - Excruciate: error
179/210 - Gerry_Rafferty (individual): Paisley, Renfrewshire, Scotland
180/211 - Red_Red_Meat: Chicago, Illinois, United States
181/212 - Girls_Against_Boys: Washington, D.C., United States
182/213 - Gilberto_Gil (individual): nan
183/214 - Perfume_Genius (individual): [2][3]Des Moines, Iowa, U.S.Genres
Art pop
indie rock
baroque pop
indie pop
chamber pop
folk
modern classical

184/215 - Steve_Winwood (individual): Handsworth, Birmingham, EnglandGenres
Blue-eyed soul
R&B
rock
pop

185/216 - I_Am_Kloot: Manchester, England
186/217 - Plan_B_(band): Guayama, Puerto Rico
186/218 - The Head And The Heart: error
187/219 - Nedry_(band): London, England
188/220 - Best_Coast: Los Angeles, US
189/221 - Witchery_(band): Linköping, Sweden
190/222 - Everyone_Everywhere: Philadelphia, Pennsylvania, U.S.
190/223 - Warlord: error
191/224 - Meursault_(band): Edinburgh, Scotland
192/225 - Quiet_Sun (español): Canterbury, Inglaterra InglaterraInformación artísticaGénero(s)
Rock progresivoJazz fusiónPeríodo de actividad
1970 - 19721975Artistas relacionados
Roxy MusicMiembros


Phil ManzaneraBill MacCormickDave JarrettCharles Hayward
[editar datos en Wikidata]
193/226 - Conan_(band): Liverpool, England
193/227 - The Aliens: error
194/228 - Burning_Love_(band): Toronto, Ontario
195/229 - Los_Crudos: Pilsen, Chicago, Illinois, U.S.
196/230 - Chamberlain_(band): Bloomington, Indiana, U.S.
197/231 - Young_Guns_(band): High Wycombe, Buckinghamshire, England
198/232 - John_Fogerty: El Cerrito, California, U.S.[1]
198/233 - NAILS: error
199/234 - Man_Overboard_(band): Mt. Laurel/Williamstown, New Jersey, U.S
200/235 - Avenged_Sevenfold_(band): Huntington Beach, California, U.S.
201/236 - Lydia_Lunch (individual): [1]Rochester, New York, U.S.GenresNo wavepost-punkindustrialavant-gardespoken word
202/237 - Unitopia: Adelaide, South Australia, Australia
202/238 - Menace Ruine: error
202/239 - Eibon: error
203/240 - John_Farnham: Melbourne, Victoria, Australia
203/241 - Deteriorot: error
204/242 - Epitaph_(band): Dortmund, West Germany
204/243 - Korpse: error
205/244 - Stone_Sour: Des Moines, Iowa, U.S.
205/245 - Add N to: error
206/246 - Michael_Monroe (individual): Helsinki, Finland
207/247 - William_Elliott_Whitmore (individual): Lee County, Iowa, U.S.
208/248 - Christopher_Cross (individual): San Antonio, Texas, U.S.Genres
Rock
pop
soft rock
yacht rock

209/249 - Fukpig: Birmingham, England
209/250 - Kaddish: error
210/251 - Brandon_Flowers (individual): Henderson, Nevada, U.S.Genres
Alternative rock[1]
indie rock[2]
new wave[3][4]
heartland rock[5]
synth-pop[6]
pop rock[7]
post-punk revival[8][9]

211/252 - Bachman-Turner_Overdrive: Winnipeg, Manitoba, Canada
212/253 - The_Walkmen: New York City, U.S.
213/254 - Satan_(band): Newcastle upon Tyne, England
213/255 - YOB: error
213/256 - Diagonal: error
214/257 - Shit_and_Shine: London, United Kingdom
215/258 - Meliah_Rage: Boston, Massachusetts, U.S.
216/259 - Killers_(band): Las Vegas, Nevada, U.S.
217/260 - Lost_In_The_Trees: Chapel Hill, North Carolina
218/261 - Tubeway_Army_(band): London, England
219/262 - Bad_Books_(band): Atlanta, Georgia / Brooklyn, New York, United States
220/263 - Atomic_Rooster: United Kingdom
220/264 - Working For a Nuclear Free City: error
221/265 - The_Association_(band): Los Angeles, California, U.S.
222/266 - Pram_(band): Moseley, Birmingham, England
223/267 - Ceschi: New Haven, Connecticut, US
224/268 - Shadows_Chasing_Ghosts: Essex, England
225/269 - Everything_Everything_(band): Manchester, United Kingdom
226/270 - Magic_Kids: Memphis, Tennessee, USA
227/271 - The_Queers: Portsmouth, New Hampshire
228/272 - Carmen_(band): Los Angeles, California, U.S.
229/273 - The_Pretty_Reckless: New York City, U.S.
229/274 - December: error
230/275 - Jenny_and_Johnny: San Fernando Valley, California, U.S.
231/276 - Tim_Hardin (individual): Eugene, Oregon, U.S.
232/277 - Songs:_Ohia (individual): Oberlin, Ohio, U.S.
233/278 - J._Tillman (individual): Rockville, Maryland, U.S.
234/279 - Premiata_Forneria_Marconi: Milan, Italy
234/280 - God: error
235/281 - The_Black_Ryder: Sydney, Australia
235/282 - Father Befouled: error
235/283 - Fraction: error
236/284 - Robert_Plant: Halesowen, Worcestershire[1]
237/285 - Deerhunter_(band): Atlanta, Georgia, United States
238/286 - Morgen_(band): Long Island, New York, United States
239/287 - The_Afters: Dallas, Texas, U.S.
240/288 - Stina_Nordenstam (individual): Stockholm, Sweden
241/289 - The_Gloria_Record: Austin, Texas, U.S.
242/290 - Twin_Shadow: Bushwick, Brooklyn, New York, U.S.
242/291 - Rain Tree Crow: error
243/292 - Meredith_Brooks: Oregon City, Oregon, U.S.Occupations
Singer-songwriter
musician
producer
Instrument(s)Vocals, guitarYears active1976–2007 (as artist)LabelsCapitolGold CircleKissing Booth
AriolaWebsitehttps://meredithbrooks.com/
243/293 - Diskreet: error
244/294 - Billy_Bragg (individual): [1]Barking, Essex, EnglandGenresFolk punkfolk rockindie folkalternative rockAmericanaalternative countrycountry folk
245/295 - Modern_English_(band): Colchester, Essex, England
245/296 - Hydra Vein: error
245/297 - Mordred: error
246/298 - World's_End_Girlfriend (individual): Gotō Islands, Nagasaki Prefecture, Japan
247/299 - Colosseum_II (español): Gran BretañaInformación artísticaGénero(s)
Jazz rock, rock progresivoPeríodo de actividad
1968–1971, 1994–2015Discográfica(s)
Vertigo Records, Fontana Records, MCAArtistas relacionados
Soft Machine, Greenslade, Tempest

[editar datos en Wikidata]
247/300 - BBM: error
248/301 - Brand_X_(band): London, England
248/302 - The Legendary Pink Dots: error
249/303 - Methods_of_Mayhem: Los Angeles, California, U.S.
250/304 - The_Meteors: London, England
251/305 - Thou_Art_Lord: Athens, Greece
252/306 - The_Innocence_Mission: Lancaster, Pennsylvania, United States
253/307 - Crocodiles_(band): San Diego, California, United States
254/308 - Helium_(band): Boston, Massachusetts
255/309 - Witchfynde_(band): Chesterfield, Derbyshire, England[1]
256/310 - U.S._Christmas: Marion, North Carolina, United States
256/311 - Feed The Rhino: error
257/312 - Selda: Word/nameOld GermanMeaning"grey battle; dark battle", "strong woman'.Other namesAlternative spellingZelda
258/313 - Love_and_Rockets_(band): Northampton, England
259/314 - Curved_Air: London, England
260/315 - Jimmy_Page (individual): Heston, Middlesex, England
261/316 - Third_Day_(band): Marietta, Georgia, U.S.
262/317 - Cloven_Hoof_(band): Wolverhampton, West Midlands, England
263/318 - The_Nefilim: United Kingdom
264/319 - One_Night_Only_(band): Helmsley, England
265/320 - The_Neville_Brothers: New Orleans, Louisiana, U.S.
266/321 - The_Comsat_Angels: Sheffield, England
267/322 - Attack!_Attack! (español): Caerphilly, Wales, Reino UnidoInformación artísticaGénero(s)
rock alternativopop punkPeríodo de actividad
2006 - 2013Artistas relacionados
Adequate Seven, Pete's Sake, Dopamine, MidasunoWebSitio web
http://www.attackattack.netMiembros


Neil StarrRyan DayWill DaviesMike Griffiths
[editar datos en Wikidata]
268/323 - Woe_(band): Philadelphia, Pennsylvania, United States
269/324 - Dinosaur_Pile-Up: Leeds, West Yorkshire, England
270/325 - The_Black_Angels_(band): Austin, Texas, United States
271/326 - Michael_Franti_and_Spearhead: San Francisco, California, U.S.
272/327 - Molotov_(band): Mexico City, Mexico
273/328 - Iron_Chic: Long Island, New York, United States
274/329 - His_Name_Is_Alive: Livonia, Michigan, U.S.
275/330 - Warpaint_(band): Los Angeles, California, United States
276/331 - BulletBoys: Los Angeles, California, U.S.
277/332 - Sharon_Van_Etten (individual): [1]Belleville, New Jersey, U.S.GenresIndie rockindie folk
278/333 - The_Boys_Next_Door_(band): Melbourne, Victoria, Australia
279/334 - Josef_K_(band): Edinburgh, Scotland
280/335 - Epidemic_(band): Palo Alto, California, United States
281/336 - Listener_(band): Fayetteville, Arkansas, United States
282/337 - Lucifer's_Friend: Hamburg, West Germany
283/338 - Cloud_Nothings: Cleveland, Ohio, U.S.
283/339 - Realm: error
284/340 - Good_Charlotte_(band): Waldorf, Maryland, U.S.
285/341 - Glenn_Hughes (individual): Cannock, Staffordshire, EnglandGenresHard rockfunk rockblues rockblue-eyed soulprogressive rock
286/342 - Trapeze_(band): Cannock, England
287/343 - Hellogoodbye: Huntington Beach, California
287/344 - Cyclamen: error
288/345 - Buddy_Holly (individual): Lubbock, Texas, U.S.
289/346 - Foghat: London, England
290/347 - Fitz_and_the_Tantrums: Los Angeles, California, U.S.
291/348 - Me_vs_Hero: Blackpool, Lancashire, England, United Kingdom
291/349 - Hatfield And The North: error
292/350 - Penguin_Cafe_Orchestra: England
293/351 - The_Handsome_Family: Chicago, Illinois, US
294/352 - Krieg_(band): Philadelphia, Pennsylvania, U.S.
295/353 - Medicine_(band): Los Angeles, California, U.S.
296/354 - Cerebral_Bore: Glasgow, Scotland, United Kingdom
297/355 - Mini_Mansions: Los Angeles, California, U.S.
298/356 - Lizzy_Mercier_Descloux (individual): Paris, France
299/357 - Lynch_Mob_(band): California, United States
300/358 - Greenslade: London, England
300/359 - Weekend: error

In [17]:
# create a subset of the new artists I just got, and tell me if there are nulls
df_new_artists = get_new_artists(df_artists_origins)

# show the first new artists, if they were duplicates they have been dropped
df_new_artists.head()

172 nulls (17.2 %)

                 artist                           origin
4               Scanner          Gelsenkirchen,  Germany
5          The Outfield                           London
6  Demonic Resurrection       Mumbai, Maharashtra, India
7   Between the Screams  Southend-on-Sea, Essex, England
8               Flymore                              NaN

In [22]:
df_new_artists.shape

(996, 2)

### If there are null or weird values

In [474]:
df_new_artists['origin'].isna().sum()

20

**Drop artists that are not from the UK or the US**

In [685]:
# if they are not brittish or american, I can drop them
try:
    df_new_artists.drop([991], axis=0, inplace=True)
except:
    print("row/s not found")

In [525]:
# check if there's info of the artist origin in the column 'artist_profile'
df.loc[8264]['artist_profile']

'UK doom/death band. Formed in 2001, disbanded in 2015. '

In [524]:
# look for the albums of the artist in the original df to check it's the correct artist
df[df['artist']=="Indesinence".strip()].sort_values('votes', ascending=False).head()

,year,artist,title,rating,votes,album_length,tracks,styles,release_country,artist_profile
8264,2012,Indesinence,Vessels of Light and Decay,3.95,11,62.17,7,"['Doom Metal', 'Death Metal']",Canada,"UK doom/death band. Formed in 2001, disbanded ..."

In [527]:
df_new_artists[df_new_artists['origin'].isna()].head()

Empty DataFrame
Columns: [artist, origin]
Index: []

**``np.where`` to replace the values for the real origins**

In [ ]:
# looking in the internet for the real origins of these artists

df_new_artists['origin'] = np.where(df_new_artists['artist']=="Toy", "Brighton, England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Sting", "England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Sting", "England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Sting", "England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Sting", "England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Sting", "England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Sting", "England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Sting", "England", df_new_artists['origin'])

In [716]:
# check if there's info of the artist origin in the column 'artist_profile'
df.loc[6381]['artist_profile']

'British progressive rock band. A kind of seminal super-group Quiet Sun existed in two phases:the original band formed in 1969 who disbanded after Phil Manzanera joined Roxy Music, and then again in 1975 they reformed specially to record the music they had originally composed 5 years earlier.'

In [784]:
# look for the albums of the artist in the original df to check it's the correct artist
df[df['artist']=="Forest".strip()].sort_values('votes', ascending=False).head()

,year,artist,title,rating,votes,album_length,tracks,styles,release_country,artist_profile
7824,1978,Forest,Forest,3.6,10,32.0,8,"['AOR', 'Jazz-Funk', 'Soul']",US,US rock/funk band from the 70s

In [802]:
start_index = 41

end_index = start_index+5
df_new_artists[start_index:end_index]

               artist                                      origin
53             Grotus             San Francisco, California, U.S.
54        Fang Island  Providence, Rhode Island; Brooklyn, NY, US
55  No Use for a Name                 Sunnyvale, California, U.S.
56       The Almighty                           Glasgow, Scotland
57      Clan of Xymox                       Nijmegen, Netherlands

**Drop artists that are not from the UK or the US**

In [791]:
# if they are not brittish or american, I can drop them
print(df_new_artists.shape)
df_new_artists.drop([877], axis=0, inplace=True)
print(df_new_artists.shape)

(936, 2)
(935, 2)

In [795]:
df_new_artists.loc[978]

artist                                                  Toy
origin    Brighton, Inglaterra,  Reino UnidoEstado\nActi...
Name: 978, dtype: object

**Check long and short origins, probably wrong**

In [798]:
# print abnormally long origins and visually check if they are correct
for index, row in df_new_artists.iterrows():
    if len(row['origin']) > 50:
        print(index, row['origin'])

402 Saltburn-by-the-Sea, North Yorkshire, United Kingdom

In [799]:
# print abnormally short origins and visually check if they are correct
for index, row in df_new_artists.iterrows():
    if len(row['origin']) < 10:
        print(index, row['origin'])

193 London
472 Chicago
665 London
904 New York

**Drop artists that are not from the UK or the US**

In [882]:
# if they are not brittish or american, I can drop them
print(df_new_artists.shape)
df_new_artists.drop([935], axis=0, inplace=True)
print(df_new_artists.shape)

(934, 2)
(933, 2)

**Individuals that didn't get the right origin in Wikipedia**

In [ ]:
# individuals that didn't get the right origin in Wikipedia
df_new_artists[df_new_artists['origin'].str.contains('Genres')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [744]:
# individuals that didn't get the right origin in Wikipedia
df_new_artists[df_new_artists['origin'].str.contains(' and ')]

            artist                                             origin
425  Little Comets                             Tyne and Wear, England
545  Heart in Hand  Bournemouth, Dorset and Southampton, Hampshire...
711    Deaf Havana       Hunstanton and King's Lynn, Norfolk, England
960       Tysondog  Newcastle upon Tyne, Tyne and Wear, United Kin...
965  Great Big Sea      St. John's, Newfoundland and Labrador, Canada

In [813]:
# bands from Cumbria, Geopy doesn't detect it
df_new_artists[df_new_artists['origin'].str.contains('Cumbria')]

       artist                      origin
194  It Bites  Egremont, Cumbria, England

In [ ]:
df_new_artists['origin'] = df_new_artists['origin'].apply(lambda x: x.replace('Cumbria', 'Cumberland'))

In [831]:
# bands from Middlesex, Geopy doesn't detect it
df_new_artists[df_new_artists['origin'].str.contains('Middlesex')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [ ]:
df_new_artists['origin'] = df_new_artists['origin'].apply(lambda x: x.replace(', Middlesex', ''))

In [878]:
# bands from Yorkshire, Geopy doesn't detect it
df_new_artists[df_new_artists['origin'].str.contains('West Riding of Yorkshire')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [ ]:
df_new_artists['origin'] = df_new_artists['origin'].apply(lambda x: x.replace(', West Riding of Yorkshire', ''))

In [ ]:
# bands from Merseyside, Geopy doesn't detect it
df_new_artists[df_new_artists['origin'].str.contains('Merseyside')]

Empty DataFrame
Columns: [artist, origin]
Index: []

In [ ]:
df_new_artists['origin'] = df_new_artists['origin'].apply(lambda x: x.replace(', Merseyside', ''))

In [ ]:
# bands from United Kingdom, wrong origin, poor level of detail
df_new_artists[df_new_artists['origin']==('United Kingdom')]

**``np.where`` to replace the values for the real origins**

In [889]:
# looking in the internet for the real origins of these artists

df_new_artists['origin'] = np.where(df_new_artists['artist']=="Cressida", "London, England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Big Deal", "London, England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Storm Corrosion", "Hemel Hempstead, Hertfordshire, United Kingdom", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="The Lumineers", "Denver, Colorado, U.S.", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Allan Holdsworth", "Bradford, England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="AxeWound", "London, England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="We Came Out Like Tigers", "Liverpool, England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Paws", "Glasgow, Glasgow City, United Kingdom", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Sting", "England", df_new_artists['origin'])
df_new_artists['origin'] = np.where(df_new_artists['artist']=="Sting", "England", df_new_artists['origin'])

**Try a single origin in Geopy**

In [885]:
# try to get the right origin of an origin that crashed
geolocator = Nominatim(user_agent="music_analysis")

origin = "Liverpool, Merseyside, United Kingdom"

origin_clean = re.sub(r'\[\d+\]', '', origin).replace('.', '')
location = geolocator.geocode(origin_clean)
print(f"{location.address}")
print(location.latitude, location.longitude)

AttributeError: 'NoneType' object has no attribute 'address'

In [890]:
start_index = 917

end_index = start_index+5
df_new_artists[start_index:end_index]

                    artist                                     origin
984  Melody's Echo Chamber  Aix-en-Provence, Bouches-du-Rhône, France
985        Jonathan Wilson                 Laurel Canyon, Los Angeles
986                   Paws      Glasgow, Glasgow City, United Kingdom
987              Teen Daze       Abbotsford, British Columbia, Canada
988                  Binah                         Guildford, England

**Try all origins in Geopy**

In [891]:
# try to get the coordinates of the origins from Geopy and see if it crashes (wrong location that I have to change)
geolocator = Nominatim(user_agent="music_analysis", timeout=10)

initial_index = 917
count = initial_index-1

for origin in df_new_artists['origin'].str.replace('.', '').str.replace(r'\[\d+\]', '', regex=True)[initial_index:]:
    count+=1
    location = geolocator.geocode(origin)
    print(f"{count} - {location.address}")

917 - Aix-en-Provence, Bouches-du-Rhône, Provence-Alpes-Côte d'Azur, France métropolitaine, France
918 - Laurel Canyon, Chandler Boulevard, Garnsey, Valley Village Neighborhood Council District, Los Angeles, Los Angeles County, California, 91607, United States
919 - Glasgow, Glasgow City, Alba / Scotland, G2 1AL, United Kingdom
920 - Abbotsford, Fraser Valley Regional District, British Columbia, Canada
921 - Guildford, Surrey, England, United Kingdom
922 - Helsinki, Helsingin seutukunta, Uusimaa, Manner-Suomi, Suomi / Finland
923 - Los Angeles, Los Angeles County, California, United States
924 - Los Angeles, Los Angeles County, California, United States
925 - Hatfield, Welwyn Hatfield, Hertfordshire, England, United Kingdom
926 - Ottawa, Eastern Ontario, Ontario, Canada
927 - San Diego, San Diego County, California, United States
928 - London, Greater London, England, United Kingdom
929 - Hochschule München, 34, Lothstraße, Schwere-Reiter-Straße, Schwabing-West, München, Bayern, 80797, Deutschland
930 - 豊橋市, 愛知県, 日本
931 - Plano, Collin County, Texas, United States
932 - London, Greater London, England, United Kingdom

#### Changing df_ratings in case needed

In [ ]:
# df_ratings['artist'] = np.where(df_ratings['artist']=='Incubus (USA-CA)', 'Incubus', df_ratings['artist'])
# df_ratings[df_ratings['artist']=='Incubus (USA-CA)']

Empty DataFrame
Columns: [album_id, artist, album, rating, votes]
Index: []

In [ ]:
# df_ratings.to_csv('Datasets/df_ratings_top.csv', index=False)

## **Export to .csv**

### GeoPy wrong locations

**In case GeoPy fails due to a wrong location, I have to delete the new locations, export again, change the location and run GeoPy again**

In [ ]:
#     # import the df with the artists' origins already scraped
# df_artists_origins_scraped = pd.read_csv('Datasets/df_artists_origins.csv')
# df_artists_origins_scraped = df_artists_origins_scraped[0:-20]
# df_artists_origins_scraped.to_csv('Datasets/df_artists_origins.csv', index=False)

In [892]:
df_new_artists.shape

(933, 2)

In [90]:
# in case I created by mistake already 'origin_clean' and I want to drop it
# df_new_artists = df_new_artists[['artist', 'origin']]
# df_new_artists

### **Export to .csv**

In [893]:
export_artists_origins_concat(df_new_artists)

df_artists_origins_concat exported to .csv
(3251, 2)

## **GeoPy**

In [894]:
df_coordinates = get_coordinates_geopy(df_new_artists)
df_coordinates

1/580 - Gelsenkirchen, Nordrhein-Westfalen, Deutschland
2/580 - London, Greater London, England, United Kingdom
3/580 - Mumbai Suburban, Maharashtra, India
4/580 - Southend-on-Sea, Essex, England, United Kingdom
5/580 - Manchester, Greater Manchester, England, United Kingdom
6/580 - Champaign, Champaign County, Illinois, United States
7/580 - San Diego, San Diego County, California, United States
8/580 - Chicago, Cook County, Illinois, United States
9/580 - Loughton, Epping Forest, Essex, England, United Kingdom
10/580 - London, Southwestern Ontario, Ontario, Canada
11/580 - Phoenix, Maricopa County, Arizona, United States
12/580 - Gent, Oost-Vlaanderen, Vlaanderen, België / Belgique / Belgien
13/580 - Aalborg, Aalborg Kommune, Region Nordjylland, 9000, Danmark
14/580 - Warszawa, województwo mazowieckie, Polska
15/580 - Stockholm, Stockholms kommun, Stockholms län, 111 29, Sverige
16/580 - København, Københavns Kommune, Region Hovedstaden, 1357, Danmark
17/580 - Birmingham, West Midlands, England, United Kingdom
18/580 - Nashville, Davidson County, Middle Tennessee, Tennessee, United States
19/580 - City of New York, New York, United States
20/580 - Weimar, Thüringen, Deutschland
21/580 - Athens, Clarke County, Georgia, United States
22/580 - Augusta, Richmond County, Georgia, United States
23/580 - San Jose, Santa Clara County, California, United States
24/580 - Hawthorne, Los Angeles County, California, 90250, United States
25/580 - Northampton, West Northamptonshire, England, United Kingdom
26/580 - Athens, Clarke County, Georgia, United States
27/580 - Orlando, Orange County, Florida, United States
28/580 - Glasgow, Glasgow City, Alba / Scotland, G2 1AL, United Kingdom
29/580 - Glastonbury, Somerset, England, United Kingdom
30/580 - Southport, Marion County, Indiana, United States
31/580 - United Kingdom
32/580 - Moorabbin, Station Street, Moorabbin, Melbourne, City of Kingston, Victoria, 3189, Australia
33/580 - Oakland, Alameda County, California, United States
34/580 - Strängnäs, Strängnäs kommun, Södermanlands län, 645 31, Sverige
35/580 - Las Vegas, Clark County, Nevada, United States
36/580 - Dayton, Montgomery County, Ohio, United States
37/580 - Los Angeles, Los Angeles County, California, United States
38/580 - New Canaan, Western Connecticut Planning Region, Connecticut, 06840, United States
39/580 - Bangor, County Down, Northern Ireland / Tuaisceart Éireann, BT20 5AG, United Kingdom
40/580 - San Francisco, California, United States
41/580 - Providence, Providence County, Rhode Island, United States
42/580 - Sunnyvale, Santa Clara County, California, United States
43/580 - Nijmegen, Gelderland, Nederland
44/580 - Philadelphia, Philadelphia County, Pennsylvania, United States
45/580 - Brattleboro, Windham County, Vermont, United States
46/580 - Detroit, Wayne County, Michigan, United States
47/580 - Austin, Travis County, Texas, United States
48/580 - City of New York, New York, United States
49/580 - Chicago, Cook County, Illinois, United States
50/580 - Aberdeen City, Alba / Scotland, United Kingdom
51/580 - Los Angeles, Los Angeles County, California, United States
52/580 - San Diego, San Diego County, California, United States
53/580 - Pittsburgh, Allegheny County, Pennsylvania, United States
54/580 - Münster, Nordrhein-Westfalen, Deutschland
55/580 - Scottsdale, Maricopa County, Arizona, United States
56/580 - Avranches, Manche, Normandie, France métropolitaine, 50300, France
57/580 - Bradford, West Yorkshire, England, United Kingdom
58/580 - Brooklyn, Kings County, City of New York, New York, United States
59/580 - Essex, England, United Kingdom
60/580 - Oakland, Alameda County, California, United States
61/580 - Naples, Collier County, Florida, United States
62/580 - London, Greater London, England, United Kingdom
63/580 - Ringsted, Ringsted Kommune, Region Sjælland, 4100, Danmark
64/580 - Brownsville, Haywood County, West Tennessee, Tennessee, 38012, United States
65/580 - Wilmington, New Castle County, Delaware, United States
66/580 - Eversley, Eversley Centre, Hart, Hampshire, England, United Kingdom
67/580 - Philadelphia, Philadelphia County, Pennsylvania, United States
68/580 - Chicago, Cook County, Illinois, United States
69/580 - Nashville, Davidson County, Middle Tennessee, Tennessee, United States
70/580 - Chorley, Lancashire, England, United Kingdom
71/580 - Essex, England, United Kingdom
72/580 - Liverpool, Liverpool City Region, England, United Kingdom
73/580 - Sollentuna kommun, Stockholms län, Sverige
74/580 - Watford, Hertfordshire, England, United Kingdom
75/580 - City of New York, New York, United States
76/580 - Raleigh, Wake County, North Carolina, United States
77/580 - Göteborg, Göteborgs Stad, Västra Götalands län, 411 10, Sverige
78/580 - Kortrijk, West-Vlaanderen, België / Belgique / Belgien
79/580 - City of Nottingham, Nottinghamshire, East Midlands, England, United Kingdom
80/580 - Southampton, Bursledon Road, Old Netley, Bursledon, Hedge End, Southampton, Hampshire, England, SO19 8NJ, United Kingdom
81/580 - California, United States
82/580 - Bellingham, Whatcom County, Washington, United States
83/580 - Los Angeles, Los Angeles County, California, United States
84/580 - Baltimore, Maryland, United States
85/580 - Lismore, Lismore City Council, New South Wales, 2480, Australia
86/580 - Tooting, Greater London, England, SW17 0TF, United Kingdom
87/580 - Tucson, Pima County, Arizona, United States
88/580 - Lawrence, Essex County, Massachusetts, United States
89/580 - Grosse Pointe, Wayne County, Michigan, United States
90/580 - Bozeman, Gallatin County, Montana, United States
91/580 - Elmwood Park, Bergen County, New Jersey, 07407, United States
92/580 - Zarautz, Urola-Kosta, Gipuzkoa, Euskadi, 20800, España
93/580 - Richmond Hill, York Region, Golden Horseshoe, Ontario, Canada
94/580 - Seattle, King County, Washington, United States
95/580 - 大阪市, 大阪府, 日本
96/580 - Stoke-on-Trent, England, United Kingdom
97/580 - Saint Louis, Missouri, United States
98/580 - Columbus, Franklin County, Ohio, United States
99/580 - City of Newburgh, Orange County, New York, United States
100/580 - Dallas, Dallas County, Texas, United States
101/580 - East, Isambard Close, Cowley, London Borough of Hillingdon, London, Greater London, England, UB8 2DD, United Kingdom
102/580 - Buchanan, Berrien County, Michigan, United States
103/580 - Brooklyn, Kings County, City of New York, New York, United States
104/580 - Chicago, Cook County, Illinois, United States
105/580 - Lake Shetek, Murray County, Minnesota, United States
106/580 - Washington, District of Columbia, United States
107/580 - Washington, District of Columbia, United States
108/580 - Swansea, Cymru / Wales, SA1 3BN, United Kingdom
109/580 - Hounslow, Whitton Road, Inwood Business Park, Worton, London Borough of Hounslow, London, Greater London, England, TW3 2DQ, United Kingdom
110/580 - Leicestershire, England, United Kingdom
111/580 - Long Beach, Los Angeles County, California, United States
112/580 - Topanga, Los Angeles County, California, 90290, United States
113/580 - Pittsburgh, Allegheny County, Pennsylvania, United States
114/580 - McComb, Pike County, Mississippi, 39660, United States
115/580 - Hanford, Kings County, California, 93230, United States
116/580 - Bath, Bath and North East Somerset, West of England, England, United Kingdom
117/580 - Oslo, Norge
118/580 - Midland, Simcoe County, Central Ontario, Ontario, Canada
119/580 - City of Perth, Western Australia, Australia
120/580 - Wolverhampton Halfpenny Green Airport, Ruth Silk Way, Bobbington, Halfpenny Green, South Staffordshire, Staffordshire, England, DY7 5DY, United Kingdom
121/580 - United States
122/580 - New Brunswick, Middlesex County, New Jersey, United States
123/580 - Cortland County, New York, United States
124/580 - Leeds, West Yorkshire, England, United Kingdom
125/580 - Oxford, Oxfordshire, England, United Kingdom
126/580 - Toluca Lake, Greater Toluca Lake Neighborhood Council District, Los Angeles, Los Angeles County, California, 91602, United States
127/580 - Boston, Suffolk County, Massachusetts, United States
128/580 - Monahans, Ward County, Texas, 79756, United States
129/580 - Berkeley, Alameda County, California, United States
130/580 - Seattle, King County, Washington, United States
131/580 - Calgary, Alberta, Canada
132/580 - Horsham, West Sussex, England, United Kingdom
133/580 - Yorkshire, England, United Kingdom
134/580 - Blue Mountains, New South Wales, Australia
135/580 - Palm Springs, Riverside County, California, United States
136/580 - Long Island, New York, United States
137/580 - Dún Laoghaire, Dún Laoghaire-Rathdown, County Dublin, Leinster, A96 T860, Éire / Ireland
138/580 - Chichester, West Sussex, England, United Kingdom
139/580 - Ankara, Çankaya, Ankara, İç Anadolu Bölgesi, 06420, Türkiye
140/580 - London, Greater London, England, United Kingdom
141/580 - Egremont, Cumberland, England, United Kingdom
142/580 - Otley, West Yorkshire, England, United Kingdom
143/580 - Stavanger, Rogaland, Norge
144/580 - Dorset, England, United Kingdom
145/580 - Sydney, Council of the City of Sydney, New South Wales, Australia
146/580 - Milwaukee, Milwaukee County, Wisconsin, United States
147/580 - Dover Plains, Bains Corner, Dover Plains, Town of Dover, Dutchess County, New York, United States
148/580 - Whitechapel, London Borough of Tower Hamlets, London, Greater London, England, E1 1DT, United Kingdom
149/580 - London, Greater London, England, United Kingdom
150/580 - Leeds, West Yorkshire, England, United Kingdom
151/580 - Halifax, Halifax Regional Municipality, Halifax County, Nova Scotia, Canada
152/580 - City of New York, New York, United States
153/580 - Paisley, Renfrewshire, Alba / Scotland, PA1 1DG, United Kingdom
154/580 - Washington, District of Columbia, United States
155/580 - Des Moines, Polk County, Iowa, United States
156/580 - Handsworth, Birmingham, West Midlands, England, B21 9PR, United Kingdom
157/580 - Guayama, Puerto Rico, United States
158/580 - Los Angeles, Los Angeles County, California, United States
159/580 - Linköping, Linköpings kommun, Östergötlands län, 582 23, Sverige
160/580 - City of Edinburgh, Alba / Scotland, United Kingdom
161/580 - Canterbury, Kent, England, United Kingdom
162/580 - Fife, Alba / Scotland, United Kingdom
163/580 - Toronto, Golden Horseshoe, Ontario, Canada
164/580 - Pilsen, Lower West Side, Chicago, West Chicago Township, Cook County, Illinois, 60608, United States
165/580 - Bloomington, Monroe County, Indiana, United States
166/580 - High Wycombe, Buckinghamshire, England, United Kingdom
167/580 - El Cerrito, Contra Costa County, California, 94530, United States
168/580 - Oxnard, Ventura County, California, United States
169/580 - Williamstown, Monroe Township, Gloucester County, New Jersey, United States
170/580 - Huntington Beach, Orange County, California, United States
171/580 - City of Rochester, Monroe County, New York, United States
172/580 - Adelaide, Adelaide City Council, South Australia, Australia
173/580 - Melbourne, City of Melbourne, Victoria, Australia
174/580 - Paterson, Passaic County, New Jersey, United States
175/580 - Alt Dortmund, 118, Königsteiner Straße, Unterliederbach, West, Frankfurt am Main, Hessen, 65929, Deutschland
176/580 - Aberdeen, Guild Street, City Centre, Aberdeen City, Alba / Scotland, AB11 6LX, United Kingdom
177/580 - Helsinki, Helsingin seutukunta, Uusimaa, Manner-Suomi, Suomi / Finland
178/580 - Lee County, Iowa, United States
179/580 - San Antonio, Bexar County, Texas, United States
180/580 - Dundee, Dundee City, Alba / Scotland, DD1 1SA, United Kingdom
181/580 - Henderson, Clark County, Nevada, United States
182/580 - Winnipeg, Manitoba, Canada
183/580 - Newcastle upon Tyne, Tyne and Wear, North East, England, United Kingdom
184/580 - Eugene, Lane County, Oregon, United States
185/580 - Brighton Road, Nevill, Lewes, East Sussex, England, BN7 1EW, United Kingdom
186/580 - Boston, Suffolk County, Massachusetts, United States
187/580 - Las Vegas, Clark County, Nevada, United States
188/580 - Chapel Hill, Orange County, North Carolina, United States
189/580 - Atlanta, Fulton County, Georgia, United States
190/580 - Manchester, Greater Manchester, England, United Kingdom
191/580 - Moseley, Balsall Heath, Birmingham, West Midlands, England, B13 8DD, United Kingdom
192/580 - New Haven, South Central Connecticut Planning Region, Connecticut, United States
193/580 - Manchester, Greater Manchester, England, United Kingdom
194/580 - Memphis, Shelby County, West Tennessee, Tennessee, United States
195/580 - Portsmouth, Rockingham County, New Hampshire, United States
196/580 - Reno, Washoe County, Nevada, United States
197/580 - San Fernando Valley, Los Angeles, Los Angeles County, California, 91329, United States
198/580 - Eugene, Lane County, Oregon, United States
199/580 - Oberlin, Lorain County, Ohio, 44074, United States
200/580 - Rockville, Montgomery County, Maryland, United States
201/580 - Milano, Lombardia, Italia
202/580 - Sydney, Council of the City of Sydney, New South Wales, Australia
203/580 - Valdosta, Lowndes County, Georgia, United States
204/580 - Halesowen Road, Marlbrook, Catshill and North Marlbrook CP, Lydiate Ash, Bromsgrove, Worcestershire, England, B61 0QJ, United Kingdom
205/580 - Atlanta, Fulton County, Georgia, United States
206/580 - Long Island, New York, United States
207/580 - Bushwick, Brooklyn, Kings County, City of New York, New York, 11237, United States
208/580 - Oregon City, Clackamas County, Oregon, 97045, United States
209/580 - Topeka, Shawnee County, Kansas, United States
210/580 - Barking Place, Padham's Green, Mountnessing, Brentwood, Essex, England, CM4 9FQ, United Kingdom
211/580 - Colchester, Essex, England, United Kingdom
212/580 - San Francisco, California, United States
213/580 - Αθήνα, Δήμος Αθηναίων, Περιφερειακή Ενότητα Κεντρικού Τομέα Αθηνών, Περιφέρεια Αττικής, Αποκεντρωμένη Διοίκηση Αττικής, 105 57, Ελλάς
214/580 - Lancaster, Lancaster County, Pennsylvania, United States
215/580 - Boston, Suffolk County, Massachusetts, United States
216/580 - Chesterfield, Derbyshire, East Midlands, England, United Kingdom
217/580 - Marion, McDowell County, North Carolina, 28752, United States
218/580 - Rochester, Kent, England, United Kingdom
219/580 - Northampton, West Northamptonshire, England, United Kingdom
220/580 - Heston, Hounslow, London, Greater London, England, TW5 0RU, United Kingdom
221/580 - Marietta, Cobb County, Georgia, United States
222/580 - Wolverhampton, West Midlands, England, United Kingdom
223/580 - Helmsley, North Yorkshire, York and North Yorkshire, England, United Kingdom
224/580 - New Orleans, Orleans Parish, Louisiana, United States
225/580 - Sheffield, South Yorkshire, England, United Kingdom
226/580 - Caerphilly, Cymru / Wales, United Kingdom
227/580 - Leeds, West Yorkshire, England, United Kingdom
228/580 - Austin, Travis County, Texas, United States
229/580 - Ciudad de México, Cuauhtémoc, Ciudad de México, México
230/580 - Livonia, Wayne County, Michigan, United States
231/580 - Los Angeles, Los Angeles County, California, United States
232/580 - Belleville, Essex County, New Jersey, 07109, United States
233/580 - Palo Alto, Santa Clara County, California, United States
234/580 - Fayetteville, Washington County, Arkansas, United States
235/580 - AOK Rheinland/Hamburg, Johannes-Flintrop-Straße, Kaldenberg, Mettmann, Kreis Mettmann, Nordrhein-Westfalen, 40822, Deutschland
236/580 - Cleveland, Cuyahoga County, Ohio, United States
237/580 - Waldorf, White Plains, Charles County, Maryland, United States
238/580 - Cannock, Cannock Chase, Staffordshire, England, WS11 1AW, United Kingdom
239/580 - Cannock, Cannock Chase, Staffordshire, England, WS11 1AW, United Kingdom
240/580 - Huntington Beach, Orange County, California, United States
241/580 - Reading, Berkshire, England, United Kingdom
242/580 - Lubbock, Lubbock County, Texas, United States
243/580 - The Blackpool Sixth Form College, Blackpool Old Road, Little Carleton, Carleton, Blackpool, Lancashire, England, FY3 7LR, United Kingdom
244/580 - Canterbury, Kent, England, United Kingdom
245/580 - Chicago, Cook County, Illinois, United States
246/580 - Glasgow, Glasgow City, Alba / Scotland, G2 1AL, United Kingdom
247/580 - Paris, Île-de-France, France métropolitaine, France
248/580 - Münster St.Vitus, A 61, Hehnerholt, Holt, West, Mönchengladbach, Nordrhein-Westfalen, 41069, Deutschland
249/580 - Asker, Akershus, Norge
250/580 - Washington, A1(M), North Lodge, Gateshead, County Durham, North East, England, DH3 2HR, United Kingdom
251/580 - Rockford, Rockford Township, Winnebago County, Illinois, United States
252/580 - Stockton, San Joaquin County, California, United States
253/580 - Lansing, Ingham County, Michigan, United States
254/580 - Brownsville, Cameron County, Texas, United States
255/580 - Holloway, London Borough of Islington, London, Greater London, England, N7 6QD, United Kingdom
256/580 - Scranton, Lackawanna County, Pennsylvania, United States
257/580 - England, United Kingdom
258/580 - Water Orton, Birmingham Road, Water Orton CP, North Warwickshire, Warwickshire, England, B46 1TA, United Kingdom
259/580 - Memphis, Shelby County, West Tennessee, Tennessee, United States
260/580 - Dublin, County Dublin, Leinster, Éire / Ireland
261/580 - Lehigh Valley, Pennsylvania Turnpike Northeast Extension, Crackersport, South Whitehall Township, Lehigh County, Pennsylvania, 18106, United States
262/580 - Lawton, Comanche County, Oklahoma, United States
263/580 - Roswell, Chaves County, New Mexico, United States
264/580 - East Sussex Fire and Rescue Service, Church Lane, South Malling, Lewes, East Sussex, England, BN7 2HX, United Kingdom
265/580 - Guildford, Sydney, Cumberland City Council, New South Wales, 2161, Australia
266/580 - Philadelphia, Philadelphia County, Pennsylvania, United States
267/580 - Rock Island County, Illinois, United States
268/580 - London, Greater London, England, United Kingdom
269/580 - Vancouver, Metro Vancouver Regional District, British Columbia, Canada
270/580 - London Borough of Ealing, London, Greater London, England, United Kingdom
271/580 - Vaasa, Vaasan seutukunta, Österbotten, Manner-Suomi, Suomi / Finland
272/580 - Buffalo, Erie County, New York, United States
273/580 - Saltburn by the Sea, Redcar and Cleveland, Tees Valley, England, TS12 1EB, United Kingdom
274/580 - Denver, Colorado, United States
275/580 - Livingston, Essex County, New Jersey, 07039, United States
276/580 - Reading, Berkshire, England, United Kingdom
277/580 - Oxford, Oxfordshire, England, United Kingdom
278/580 - Saltsjöbaden, Nacka kommun, Stockholms län, 133 35, Sverige
279/580 - Whittier, Los Angeles County, California, United States
280/580 - Bedford, England, MK40 1SU, United Kingdom
281/580 - Santos, Região Imediata de Santos, Região Metropolitana da Baixada Santista, Região Geográfica Intermediária de São Paulo, São Paulo, Região Sudeste, Brasil
282/580 - Brighton, Brighton and Hove, England, BN1 1HH, United Kingdom
283/580 - Gaoth Dobhair, Glenties Municipal District, County Donegal, Ulster, F92 PKH9, Éire / Ireland
284/580 - Tyne and Wear, County Durham, North East, England, United Kingdom
285/580 - Norwalk, Western Connecticut Planning Region, Connecticut, United States
286/580 - Marghera, Venezia, Veneto, 30175, Italia
287/580 - Phoenix, Maricopa County, Arizona, United States
288/580 - San Francisco, California, United States
289/580 - Oberlin, Lorain County, Ohio, 44074, United States
290/580 - Bethesda, Gwynedd, Cymru / Wales, LL57 3AS, United Kingdom
291/580 - Birmingham, West Midlands, England, United Kingdom
292/580 - Seattle, King County, Washington, United States
293/580 - Stourbridge, Dudley, West Midlands, England, DY8 1DN, United Kingdom
294/580 - New Jersey, United States

,country,city,origin,origin_clean,latitude,longitude,address
0,Australia,Adelaide,"Adelaide, South Australia, Australia","Adelaide, South Australia, Australia",-34.928181,138.599931,"Adelaide, Adelaide City Council, South Austral..."
1,Australia,Blue Mountains,"Blue Mountains, NSW, Australia","Blue Mountains, NSW, Australia",-33.609741,150.405224,"Blue Mountains, New South Wales, Australia"
2,Australia,Brisbane,"Brisbane, Queensland, Australia","Brisbane, Queensland, Australia",-27.468968,153.023499,"City of Brisbane, Queensland, Australia"
3,Australia,Guildford,"Guildford, New South Wales, Australia","Guildford, New South Wales, Australia",-33.856105,150.993923,"Guildford, Sydney, Cumberland City Council, Ne..."
4,Australia,Lismore,"Lismore, New South Wales, Australia","Lismore, New South Wales, Australia",-28.807761,153.279188,"Lismore, Lismore City Council, New South Wales..."
...,...,...,...,...,...,...,...
575,日本,Kyoto,"Kyoto, Japan","Kyoto, Japan",35.021041,135.755607,"京都市, 京都府, 日本"
576,日本,Kōchi City,"Kōchi City, Japan","Kōchi City, Japan",34.673829,135.496971,"高知銀行, 四つ橋筋, 北堀江一丁目, 西区, 大阪市, 大阪府, 542-0086, 日本"
577,日本,Osaka,"Osaka, Japan","Osaka, Japan",34.693757,135.501454,"大阪市, 大阪府, 日本"
578,日本,Tokyo,"Tokyo, Japan","Tokyo, Japan",35.676860,139.763895,"東京都, 日本"
579,日本,Toyohashi,"Toyohashi, Aichi, Japan","Toyohashi, Aichi, Japan",34.769123,137.391461,"豊橋市, 愛知県, 日本"

In [895]:
export_coordinates_concat(df_coordinates)

df_coordinates_scraped: (1144, 7)

Found 197 duplicates:
            city         country
2       Adelaide       Australia
5       Brisbane       Australia
15     Melbourne       Australia
16     Melbourne       Australia
22         Perth       Australia
...          ...             ...
1655  Washington   United States
1695      Dublin  Éire / Ireland
1711      Athens           Ελλάς
1720       Osaka              日本
1722       Tokyo              日本

[197 rows x 2 columns]

Resulting dataset: (1527, 7)
Merged artists with coordinates! Found 383 new locations
df_coordinates_concat exported to .csv

In [896]:
# merge with the dataframe containing all the artists and their origins
df_artists_origins_coordinates_concat = merge_origins_coordinates(df_new_artists)
df_artists_origins_coordinates_concat.tail()

Exported to a .csv file

,artist,country,city,latitude,longitude,address
3246,Indesinence,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
3247,Embryo,Deutschland,Munich,48.154141,11.556248,"Hochschule München, 34, Lothstraße, Schwere-Re..."
3248,Far East Family Band,日本,Toyohashi,34.769123,137.391461,"豊橋市, 愛知県, 日本"
3249,Boz Scaggs,United States,Plano,33.013676,-96.692510,"Plano, Collin County, Texas, United States"
3250,Nucleus (UK),United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"

## **Statistics**

In [897]:
brittish_cities = df_artists_origins_coordinates_concat[df_artists_origins_coordinates_concat['country']=='United Kingdom']
american_cities = df_artists_origins_coordinates_concat[df_artists_origins_coordinates_concat['country']=='United States']

In [898]:
order = df_artists_origins_coordinates_concat['country'].value_counts().index
print(df_artists_origins_coordinates_concat['country'].value_counts().head())

# plt.figure(figsize=(8,6))
# sns.countplot(df_artists_origins_coordinates_concat['country'], order=order)

country
United States     1595
United Kingdom    1126
Canada             101
Sverige             84
Australia           72
Name: count, dtype: int64

In [899]:
print(f"{brittish_cities.shape[0]} Brittish artists")
order = brittish_cities['city'].value_counts().index
print(f"{brittish_cities['city'].nunique()} Brittish cities\n")
print(brittish_cities['city'].value_counts().head(15))

# plt.figure(figsize=(9,45))
# sns.countplot(brittish_cities['city'], order=order)

1126 Brittish artists
372 Brittish cities

city
London            290
Glasgow            36
Birmingham         33
Manchester         27
Liverpool          23
Leeds              22
Brighton           18
United Kingdom     17
Bristol            16
Sheffield          14
Cardiff            11
Nottingham         11
Reading            10
Edinburgh          10
Essex               9
Name: count, dtype: int64

In [900]:
print(f"{american_cities.shape[0]} American artists")
order = american_cities['city'].value_counts().index
print(f"{american_cities['city'].nunique()} American cities\n")
print(american_cities['city'].value_counts().head(15))

# plt.figure(figsize=(5,55))
# sns.countplot(df_artists_origins_coordinates_concat[df_artists_origins_coordinates_concat['country']=='United States']['city'], order=order)

1595 American artists
494 American cities

city
Los Angeles      175
New York City    116
San Francisco     55
Chicago           53
Seattle           38
Brooklyn          36
Boston            28
Philadelphia      25
Portland          23
San Diego         21
Phoenix           18
Austin            18
Detroit           16
Washington        16
New York          15
Name: count, dtype: int64

# All separate codes without functions

## Actual code to get the origins from Wikipedia

In [42]:
artists_list, origin_list = get_origins_wikipedia(df, 20, 50)

Bingo! df_coordinates.csv found

1/1 - The_New_Pornographers: Vancouver, British Columbia, Canada
2/2 - Regurgitator_(band): Brisbane, Queensland, Australia
3/3 - Sunny_Day_Real_Estate: Seattle, Washington, U.S.
4/4 - ...And_You_Will_Know_Us_by_the_Trail_of_Dead: Austin, Texas, U.S.
5/5 - Children_of_Bodom_(band): Espoo, Finland
6/6 - Audioslave: Glendale, California, U.S.
7/7 - Led_Zeppelin_(band): London, England
8/8 - Less_Than_Jake_(band): Gainesville, Florida, U.S.
9/9 - Alexisonfire: St. Catharines, Ontario, Canada
10/10 - Rammstein: Berlin, Germany
11/11 - Thrice_(band): Irvine, California, U.S.
12/12 - Lostprophets: Pontypridd, Wales
13/13 - New_Found_Glory_(band): Coral Springs, Florida, U.S.
14/14 - Placebo_(band): London, England
15/15 - Box_Car_Racer: San Diego, California, U.S.
16/16 - Thursday_(band): New Brunswick, New Jersey, U.S.
17/17 - Million_Dead: London, England
18/18 - The_Jesus_Lizard: Austin, Texas, U.S.
19/19 - The_Offspring_(band): Garden Grove, California, U.S.[2]
20/20 - Taproot_(band): Ann Arbor, Michigan, U.S.
21/21 - Television_(band): New York City, New York, U.S.
22/22 - Emery_(band): Rock Hill, South Carolina, U.S.
23/23 - Damien_Rice: Celbridge, Ireland
24/24 - Hatebreed_(band): Bridgeport, Connecticut, U.S.
25/25 - Cradle_of_Filth_(band): Suffolk, England
26/26 - KISS_(band): New York City, U.S.
27/27 - The_Polyphonic_Spree: Dallas, Texas, United States
28/28 - Cake_(band): Sacramento, California, U.S.
29/29 - Dinosaur_Jr.: Amherst, Massachusetts, U.S.
30/30 - U2_(band): Dublin, Ireland

## Saving the data into a dataframe

In [43]:
df_artists_origins = pd.DataFrame({'artist': artists_list
                             , 'origin': origin_list})
df_artists_origins.shape

(30, 2)

In [44]:
df_artists_origins

,artist,origin
0,The New Pornographers,"Vancouver, British Columbia, Canada"
1,Regurgitator,"Brisbane, Queensland, Australia"
2,Sunny Day Real Estate,"Seattle, Washington, U.S."
3,...And You Will Know Us by the Trail of Dead,"Austin, Texas, U.S."
4,Children of Bodom,"Espoo, Finland"
5,Audioslave,"Glendale, California, U.S."
6,Led Zeppelin,"London, England"
7,Less Than Jake,"Gainesville, Florida, U.S."
8,Alexisonfire,"St. Catharines, Ontario, Canada"
9,Rammstein,"Berlin, Germany"
10,Thrice,"Irvine, California, U.S."
11,Lostprophets,"Pontypridd, Wales"
12,New Found Glory,"Coral Springs, Florida, U.S."
13,Placebo,"London, England"
14,Box Car Racer,"San Diego, California, U.S."
15,Thursday,"New Brunswick, New Jersey, U.S."
16,Million Dead,"London, England"
17,The Jesus Lizard,"Austin, Texas, U.S."
18,The Offspring,"Garden Grove, California, U.S.[2]"
19,Taproot,"Ann Arbor, Michigan, U.S."
20,Television,"New York City, New York, U.S."
21,Emery,"Rock Hill, South Carolina, U.S."
22,Damien Rice,"Celbridge, Ireland"
23,Hatebreed,"Bridgeport, Connecticut, U.S."
24,Cradle of Filth,"Suffolk, England"
25,KISS,"New York City, U.S."
26,The Polyphonic Spree,"Dallas, Texas, United States"
27,Cake,"Sacramento, California, U.S."
28,Dinosaur Jr.,"Amherst, Massachusetts, U.S."
29,U2,"Dublin, Ireland"

In [ ]:
# import the df with the artists' origins already scraped
df_artists_origins_scraped = pd.read_csv('Datasets/df_artists_origins.csv')
df_artists_origins_scraped.shape

(20, 2)

In [ ]:
# subset of the new artists I just got
df_new_artists = df_artists_origins[~df_artists_origins['artist'].isin(df_artists_origins_scraped['artist'].values)]
df_new_artists

,artist,origin
0,The New Pornographers,"Vancouver, British Columbia, Canada"
1,Regurgitator,"Brisbane, Queensland, Australia"
2,Sunny Day Real Estate,"Seattle, Washington, U.S."
3,...And You Will Know Us by the Trail of Dead,"Austin, Texas, U.S."
4,Children of Bodom,"Espoo, Finland"
5,Audioslave,"Glendale, California, U.S."
6,Led Zeppelin,"London, England"
7,Less Than Jake,"Gainesville, Florida, U.S."
8,Alexisonfire,"St. Catharines, Ontario, Canada"
9,Rammstein,"Berlin, Germany"
10,Thrice,"Irvine, California, U.S."
11,Lostprophets,"Pontypridd, Wales"
12,New Found Glory,"Coral Springs, Florida, U.S."
13,Placebo,"London, England"
14,Box Car Racer,"San Diego, California, U.S."
15,Thursday,"New Brunswick, New Jersey, U.S."
16,Million Dead,"London, England"
17,The Jesus Lizard,"Austin, Texas, U.S."
18,The Offspring,"Garden Grove, California, U.S.[2]"
19,Taproot,"Ann Arbor, Michigan, U.S."
20,Television,"New York City, New York, U.S."
21,Emery,"Rock Hill, South Carolina, U.S."
22,Damien Rice,"Celbridge, Ireland"
23,Hatebreed,"Bridgeport, Connecticut, U.S."
24,Cradle of Filth,"Suffolk, England"
25,KISS,"New York City, U.S."
26,The Polyphonic Spree,"Dallas, Texas, United States"
27,Cake,"Sacramento, California, U.S."
28,Dinosaur Jr.,"Amherst, Massachusetts, U.S."
29,U2,"Dublin, Ireland"

In [ ]:
# concat with the df I just got
df_artists_origins_concat = pd.concat([df_artists_origins_scraped, df_new_artists])
df_artists_origins_concat.reset_index(drop=True, inplace=True)
df_artists_origins_concat.shape

(50, 2)

I want to already export it to a .csv file so that later I can check the ``origin`` the next time I run the function and compare if I have scraped that origin already or not.

In [ ]:
# export all the artists and their origins to a .csv file (the ones I got plus the new artists)
df_artists_origins_concat.to_csv('Datasets/df_artists_origins.csv', index=False)

## ``origin`` cleaning: dots, [ ]...

The next thing I'm gonna do is cleaning the origin, because Geopy doesn't read correctly characters like "U.S.".

**Clean the ``origin`` column of all the artists, so I can look for the coordinates with Geopy**

In [50]:
df_new_artists.shape

(30, 2)

In [52]:
# replace special characters for spaces
df_new_artists['origin_clean'] = df_new_artists['origin'].str.replace('.', '')
df_new_artists['origin_clean'] = df_new_artists['origin_clean'].str.replace(r'\[\d+\]', '', regex=True)

# show the df to check it has been changed correctly
df_new_artists.tail()

,artist,origin,origin_clean
25,KISS,"New York City, U.S.","New York City, US"
26,The Polyphonic Spree,"Dallas, Texas, United States","Dallas, Texas, United States"
27,Cake,"Sacramento, California, U.S.","Sacramento, California, US"
28,Dinosaur Jr.,"Amherst, Massachusetts, U.S.","Amherst, Massachusetts, US"
29,U2,"Dublin, Ireland","Dublin, Ireland"

## Concat with the previous df

In [59]:
# import the last df that contains the coordinates of the unique origins
df_coordinates_scraped = pd.read_csv('Datasets/df_coordinates.csv')
df_coordinates_scraped.shape

(42, 7)

In [62]:
df_coordinates_scraped.head()

,country,city,origin,origin_clean,latitude,longitude,address
0,Australia,Brisbane,"Brisbane, Queensland, Australia","Brisbane, Queensland, Australia",-27.468968,153.023499,"City of Brisbane, Queensland, Australia"
1,Canada,St Catharines,"St. Catharines, Ontario, Canada","St Catharines, Ontario, Canada",43.157981,-79.244100,"St. Catharines, Niagara Region, Golden Horsesh..."
2,Canada,Vancouver,"Vancouver, British Columbia, Canada","Vancouver, British Columbia, Canada",49.260872,-123.113952,"Vancouver, Metro Vancouver Regional District, ..."
3,Deutschland,Berlin,"Berlin, Germany","Berlin, Germany",52.510885,13.398937,"Berlin, Pankow, Deutschland"
4,Suomi / Finland,Espoo,"Espoo, Finland","Espoo, Finland",60.204965,24.655981,"Espoo, Helsingin seutukunta, Uusimaa, Manner-S..."

In [ ]:
# concat with the df of the coordinates I just got
df_coordinates_concat = pd.concat([df_coordinates_scraped, df_coordinates])
df_coordinates_concat.sort_values(['country', 'city'], inplace=True) # sort by country and city
df_coordinates_concat.reset_index(drop=True, inplace=True)
df_coordinates_concat.shape

(43, 7)

In [59]:
# look for duplicates in the origin, between the locations I had already gotten and the new ones
check_duplicates_origins(df_coordinates_concat)

Found 1 duplicates:
     city         country
9  London  United Kingdom

Resulting dataset: (42, 7)

In [60]:
# save it in a csv file (the coordinates I had plus the ones from the new artists I just got)
df_coordinates_concat.to_csv('Datasets/df_coordinates.csv', index=False)

## **Merge ``origin`` with ``coordinates``**

In [66]:
df_new_artists

,artist,origin,origin_clean
0,The Clash,"London, England","London, England"
1,Darkthrone,"Kolbotn, Akershus, Norway","Kolbotn, Akershus, Norway"
2,Ramones,"Forest Hills, Queens, New York, U.S.","Forest Hills, Queens, New York, US"
3,Comets on Fire,"Santa Cruz, California, U.S.","Santa Cruz, California, US"
4,Fenix TX,"Houston, Texas, U.S.","Houston, Texas, US"
5,Incubus,"Calabasas, California, U.S.","Calabasas, California, US"
6,Feeder,"Newport, Wales","Newport, Wales"
7,PJ Harvey,"Bridport, Dorset, England","Bridport, Dorset, England"
8,Sebadoh,"Northampton, Massachusetts, U.S.","Northampton, Massachusetts, US"
9,Blind Faith,"Ripley, Surrey, England","Ripley, Surrey, England"

In [62]:
# merge with the previous df with the artists
df_artists_origins_coordinates = pd.merge(df_new_artists, df_coordinates_concat, on=['origin'])
df_artists_origins_coordinates.drop(columns=['origin', 'origin_clean_x', 'origin_clean_y'], inplace=True)

df_artists_origins_coordinates

,artist,country,city,latitude,longitude,address
0,The New Pornographers,Canada,Vancouver,49.260872,-123.113952,"Vancouver, Metro Vancouver Regional District, ..."
1,Regurgitator,Australia,Brisbane,-27.468968,153.023499,"City of Brisbane, Queensland, Australia"
2,Sunny Day Real Estate,United States,Seattle,47.603832,-122.330062,"Seattle, King County, Washington, United States"
3,...And You Will Know Us by the Trail of Dead,United States,Austin,30.271129,-97.743700,"Austin, Travis County, Texas, United States"
4,Children of Bodom,Suomi / Finland,Espoo,60.204965,24.655981,"Espoo, Helsingin seutukunta, Uusimaa, Manner-S..."
5,Audioslave,United States,Glendale,34.146942,-118.247847,"Glendale, Los Angeles County, California, Unit..."
6,Led Zeppelin,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
7,Less Than Jake,United States,Gainesville,29.651968,-82.324985,"Gainesville, Alachua County, Florida, United S..."
8,Alexisonfire,Canada,St Catharines,43.157981,-79.244100,"St. Catharines, Niagara Region, Golden Horsesh..."
9,Rammstein,Deutschland,Berlin,52.510885,13.398937,"Berlin, Pankow, Deutschland"
10,Thrice,United States,Irvine,33.685697,-117.825981,"Irvine, Orange County, California, United States"
11,Lostprophets,United Kingdom,Pontypridd,51.600105,-3.344936,"Pontypridd, Rhondda Cynon Taf, Cymru / Wales, ..."
12,New Found Glory,United States,Coral Springs,26.271192,-80.270604,"Coral Springs, Broward County, Florida, United..."
13,Placebo,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
14,Box Car Racer,United States,San Diego,32.717420,-117.162772,"San Diego, San Diego County, California, Unite..."
15,Thursday,United States,New Brunswick,40.495137,-74.443925,"New Brunswick, Middlesex County, New Jersey, U..."
16,Million Dead,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
17,The Jesus Lizard,United States,Austin,30.271129,-97.743700,"Austin, Travis County, Texas, United States"
18,The Offspring,United States,Garden Grove,33.774629,-117.946372,"Garden Grove, Orange County, California, Unite..."
19,Taproot,United States,Ann Arbor,42.281372,-83.748462,"Ann Arbor, Washtenaw County, Michigan, United ..."
20,Television,United States,New York City,40.712728,-74.006015,"City of New York, New York, United States"
21,Emery,United States,Rock Hill,34.924867,-81.025078,"Rock Hill, York County, South Carolina, United..."
22,Damien Rice,Éire / Ireland,Celbridge,53.338300,-6.539622,"Celbridge, The Municipal District of Celbridge..."
23,Hatebreed,United States,Bridgeport,41.179269,-73.188786,"Bridgeport, Connecticut, United States"
24,Cradle of Filth,United Kingdom,Suffolk,52.241001,1.046572,"Suffolk, England, United Kingdom"
25,KISS,United States,New York City,40.712728,-74.006015,"City of New York, New York, United States"
26,The Polyphonic Spree,United States,Dallas,32.776272,-96.796856,"Dallas, Dallas County, Texas, United States"
27,Cake,United States,Sacramento,38.581061,-121.493895,"Sacramento, Sacramento County, California, Uni..."
28,Dinosaur Jr.,United States,Amherst,42.373195,-72.519876,"Amherst, Hampshire County, Massachusetts, Unit..."
29,U2,Éire / Ireland,Dublin,53.349379,-6.260559,"Dublin, County Dublin, Leinster, Éire / Ireland"

In [63]:
# locations of the new artists
df_artists_origins_coordinates['country'].value_counts()

country
United States      18
United Kingdom      5
Canada              2
Éire / Ireland      2
Australia           1
Suomi / Finland     1
Deutschland         1
Name: count, dtype: int64

In [ ]:
# import the df that contains info of the artists and the coordinates of their origins
df_artists_origins_coordinates_scraped = pd.read_csv('Datasets/df_artists_origins_coordinates.csv')
df_artists_origins_coordinates_scraped

,artist,country,city,latitude,longitude,address
0,Sparta,United States,El Paso,31.760116,-106.487040,"El Paso, El Paso County, Texas, United States"
1,Muse,United Kingdom,Teignmouth,50.546338,-3.495780,"Teignmouth, Teignbridge, Devon, England, Unite..."
2,Finch,United States,Temecula,33.494635,-117.147366,"Temecula, Riverside County, California, United..."
3,Transplants,United States,Los Angeles,34.053691,-118.242766,"Los Angeles, Los Angeles County, California, U..."
4,Rooney,United States,Los Angeles,34.053691,-118.242766,"Los Angeles, Los Angeles County, California, U..."
5,The Cure,United Kingdom,Crawley,51.110344,-0.180109,"Crawley, West Sussex, England, United Kingdom"
6,AFI,United States,Ukiah,39.150166,-123.207786,"Ukiah, Mendocino County, California, 95482, Un..."
7,Jimmy Eat World,United States,Mesa,33.415101,-111.831455,"Mesa, Maricopa County, Arizona, United States"
8,Black Sabbath,United Kingdom,Birmingham,52.479699,-1.902691,"Birmingham, West Midlands, England, United Kin..."
9,Yes,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
10,Joe Satriani,United States,Westbury,40.755656,-73.587627,"Village of Westbury, Town of North Hempstead, ..."
11,Iron Maiden,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
12,NOFX,United States,Los Angeles,34.053691,-118.242766,"Los Angeles, Los Angeles County, California, U..."
13,Coheed and Cambria,United States,Nyack,41.091121,-73.919679,"Village of Nyack, Town of Orangetown, Rockland..."
14,King Crimson,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
15,Radiohead,United Kingdom,Abingdon,51.671484,-1.277972,"Abingdon, Vale of White Horse, Oxfordshire, En..."
16,Big Black,United States,Evanston,42.047004,-87.684605,"Evanston, Evanston Township, Cook County, Illi..."
17,Filter,United States,Cleveland,41.499657,-81.693677,"Cleveland, Cuyahoga County, Ohio, United States"
18,Melvins,United States,Montesano,46.981206,-123.602662,"Montesano, Grays Harbor County, Washington, Un..."
19,Pink Floyd,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"

In [ ]:
df_artists_origins_coordinates_concat = pd.concat([df_artists_origins_coordinates_scraped, df_artists_origins_coordinates])
df_artists_origins_coordinates_concat.reset_index(drop=True, inplace=True)
df_artists_origins_coordinates_concat

,artist,country,city,latitude,longitude,address
0,Sparta,United States,El Paso,31.760116,-106.487040,"El Paso, El Paso County, Texas, United States"
1,Muse,United Kingdom,Teignmouth,50.546338,-3.495780,"Teignmouth, Teignbridge, Devon, England, Unite..."
2,Finch,United States,Temecula,33.494635,-117.147366,"Temecula, Riverside County, California, United..."
3,Transplants,United States,Los Angeles,34.053691,-118.242766,"Los Angeles, Los Angeles County, California, U..."
4,Rooney,United States,Los Angeles,34.053691,-118.242766,"Los Angeles, Los Angeles County, California, U..."
5,The Cure,United Kingdom,Crawley,51.110344,-0.180109,"Crawley, West Sussex, England, United Kingdom"
6,AFI,United States,Ukiah,39.150166,-123.207786,"Ukiah, Mendocino County, California, 95482, Un..."
7,Jimmy Eat World,United States,Mesa,33.415101,-111.831455,"Mesa, Maricopa County, Arizona, United States"
8,Black Sabbath,United Kingdom,Birmingham,52.479699,-1.902691,"Birmingham, West Midlands, England, United Kin..."
9,Yes,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
10,Joe Satriani,United States,Westbury,40.755656,-73.587627,"Village of Westbury, Town of North Hempstead, ..."
11,Iron Maiden,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
12,NOFX,United States,Los Angeles,34.053691,-118.242766,"Los Angeles, Los Angeles County, California, U..."
13,Coheed and Cambria,United States,Nyack,41.091121,-73.919679,"Village of Nyack, Town of Orangetown, Rockland..."
14,King Crimson,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
15,Radiohead,United Kingdom,Abingdon,51.671484,-1.277972,"Abingdon, Vale of White Horse, Oxfordshire, En..."
16,Big Black,United States,Evanston,42.047004,-87.684605,"Evanston, Evanston Township, Cook County, Illi..."
17,Filter,United States,Cleveland,41.499657,-81.693677,"Cleveland, Cuyahoga County, Ohio, United States"
18,Melvins,United States,Montesano,46.981206,-123.602662,"Montesano, Grays Harbor County, Washington, Un..."
19,Pink Floyd,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
20,The New Pornographers,Canada,Vancouver,49.260872,-123.113952,"Vancouver, Metro Vancouver Regional District, ..."
21,Regurgitator,Australia,Brisbane,-27.468968,153.023499,"City of Brisbane, Queensland, Australia"
22,Sunny Day Real Estate,United States,Seattle,47.603832,-122.330062,"Seattle, King County, Washington, United States"
23,...And You Will Know Us by the Trail of Dead,United States,Austin,30.271129,-97.743700,"Austin, Travis County, Texas, United States"
24,Children of Bodom,Suomi / Finland,Espoo,60.204965,24.655981,"Espoo, Helsingin seutukunta, Uusimaa, Manner-S..."
25,Audioslave,United States,Glendale,34.146942,-118.247847,"Glendale, Los Angeles County, California, Unit..."
26,Led Zeppelin,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
27,Less Than Jake,United States,Gainesville,29.651968,-82.324985,"Gainesville, Alachua County, Florida, United S..."
28,Alexisonfire,Canada,St Catharines,43.157981,-79.244100,"St. Catharines, Niagara Region, Golden Horsesh..."
29,Rammstein,Deutschland,Berlin,52.510885,13.398937,"Berlin, Pankow, Deutschland"
30,Thrice,United States,Irvine,33.685697,-117.825981,"Irvine, Orange County, California, United States"
31,Lostprophets,United Kingdom,Pontypridd,51.600105,-3.344936,"Pontypridd, Rhondda Cynon Taf, Cymru / Wales, ..."
32,New Found Glory,United States,Coral Springs,26.271192,-80.270604,"Coral Springs, Broward County, Florida, United..."
33,Placebo,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
34,Box Car Racer,United States,San Diego,32.717420,-117.162772,"San Diego, San Diego County, California, Unite..."
35,Thursday,United States,New Brunswick,40.495137,-74.443925,"New Brunswick, Middlesex County, New Jersey, U..."
36,Million Dead,United Kingdom,London,51.489334,-0.144055,"London, Greater London, England, United Kingdom"
37,The Jesus Lizard,United States,Austin,30.271129,-97.743700,"Austin, Travis County, Texas, United States"
38,The Offspring,United States,Garden Grove,33.774629,-117.946372,"Garden Grove, Orange County, California, Unite..."
39,Taproot,United States,Ann Arbor,42.281372,-83.748462,"Ann Arbor, Washtenaw County, Michigan, United ..."
40,Television,United States,New York City,40.712728,-74.006015,"City of New York, New York, United States"
41,Emery,United States,Rock Hill,34.924867,-81.025078,"Rock Hill, York County, South Carolina, United..."
42,Damien Rice,Éire / Ireland,Celbridge,53.338300,-6.539622,"Celbridge, The Municipal District of Celbridge..."
43,Hatebreed,United States,Bridgeport,41.179269,-73.188786,"Bridgeport, Connecticut, United States"
44,Cradle of Filth,United Kingdom,Suffolk,52.241001,1.046572,"Suffolk, England, United Kingdom"
45,KISS,United States,New York City,40.712728,-74.006015,"City of New York, New York, United States"
46,The Polyphonic Spree,United States,Dallas,32.776272,-96.796856,"Dallas, Dallas County, Texas, United States"
47,Cake,United States,Sacramento,38.581061,-121.493895,"Sacramento, Sacramento County, California, Uni..."
48,Dinosaur Jr.,United States,Amherst,42.373195,-72.519876,"Amherst, Hampshire County, Massachusetts, Unit..."
49,U2,Éire / Ireland,Dublin,53.349379,-6.260559,"Dublin, County Dublin, Leinster, Éire / Ireland"

In [66]:
# save it in a csv file
df_artists_origins_coordinates_concat.to_csv('Datasets/df_artists_origins_coordinates.csv', index=False)

In [67]:
df_artists_origins_coordinates_concat.country.value_counts()

country
United States      30
United Kingdom     13
Canada              2
Éire / Ireland      2
Australia           1
Suomi / Finland     1
Deutschland         1
Name: count, dtype: int64