In [3]:
import numpy as np
import pandas as pd
from pandas import json_normalize

from bs4 import BeautifulSoup
import requests 
import time

from selenium import webdriver 
from selenium.webdriver.common.keys import Keys 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from geopy.geocoders import Nominatim

import warnings
warnings.filterwarnings("ignore")

from my_functions import *

In [106]:
# pip install geopy

**WRONG ORIGINS**

Nick Drake = not Myanmar

Frank Turner = not Bahrain

# **Locations Wikipedia scraping**

In [ ]:
df_ratings = pd.read_csv('Datasets/df_ratings_top.csv', keep_default_na=False)

print(f"{df_ratings['artist'].nunique()} artists")
print(f"{df_ratings.shape[0]} albums")
print(f"Average of {round(df_ratings.shape[0] / df_ratings['artist'].nunique(), 2)} albums per artist")

23683 artists
79626 albums
Average of 3.36 albums per artist

In [ ]:
df = pd.read_csv('Datasets/df_rock_ratings.csv', keep_default_na=False)

print(f"{df['artist'].nunique()} artists")
print(f"{df.shape[0]} albums")
print(f"Average of {round(df.shape[0] / df['artist'].nunique(), 2)} albums per artist")

5094 artists
12061 albums
Average of 2.37 albums per artist

In [133]:
df.head(1)

,year,artist,title,rating,votes,album_length,tracks,styles,release_country,artist_profile
0,2002,Sparta,Wiretap Scars,3.79,431,47.62,12,"['Indie Rock', 'Alternative Rock']",US,"El Paso, Texas based band. Formed in 2001 afte..."

## Testing

In [28]:
df.sample(5)

,artist,title,year,album_length,tracks,genres,styles,release_country,artist_profile
10580,The 1975,A Brief Inquiry into Online Relationships,2018,58.43,15,"['Rock', 'Pop']","['Indie Rock', 'Alternative Rock', 'Indie Pop']",UK & Europe,British indie rock band. \r\n\r\nPop-rock band...
9889,Le Butcherettes,A Raw Youth,2015,0.00,12,['Rock'],[],US,Formed by Teri Gender Bender and Auryn Jolene ...
6394,John Fogerty,Centerfield,1985,35.33,9,['Rock'],"['Pop Rock', 'Folk Rock', 'Country Rock']",US,"American musician, songwriter, and guitarist (..."
4498,L7,The Beauty Process: Triple Platinum,1997,41.57,12,['Rock'],"['Punk', 'Grunge']",US,American grunge punk/alternative rock band fro...
5742,The Fall,Are You Are Missing Winner,2001,47.68,10,['Rock'],"['Garage Rock', 'Punk', 'Rockabilly']",UK,"Post-punk band from Greater Manchester, UK. 19..."

In [125]:
artists = df['artist'].unique()
len(artists)

9616

In [106]:
artists[4155]

'Life at These Speeds'

In [109]:
artist = "AGENT FRESCO"
name_changed = artist.capitalize.replace(' ', '_')
name_changed_band = artist.capitalize.replace(' ', '_') + ('_(band)')
url = f"https://en.wikipedia.org/wiki/{name_changed_band}"

response = requests.get(url).content
soup = BeautifulSoup(response, "html.parser")
origin = soup.select('table tr th', class_='infobox-label')[2].text
location = soup.select('table tr td', class_='infobox-data')[1].text
location

AttributeError: 'builtin_function_or_method' object has no attribute 'replace'

In [116]:
artist = "AABSINTHE"
name_changed = artist.title().replace(' ', '_')
name_changed

'Aabsinthe'

In [116]:
# 0 - Less_Than_Jake_(band): Gainesville, Florida, U.S.
# 1 - Sparta_(band): El Paso, Texas
# 2 - Muse_(band): Teignmouth, Devon, England
# 3 - Finch: no location found
# 4 - Queens_of_the_Stone_Age: Seattle, Washington, U.S.
# 5 - Transplants_(band): additional citations - Los Angeles, California, United States[1]
# 6 - Dream_Theater_(band): Boston, Massachusetts, United States
# 7 - A_Perfect_Circle: Los Angeles, California, U.S.
# 8 - Rooney_(band): additional citations - Los Angeles, California, U.S.
# 9 - AFI_(band): Ukiah, California, U.S.
# 10 - Sublime_(band): Long Beach, California, U.S.
# 11 - The_Cure_(band): Crawley, England
# 12 - blink-182: Poway, California, U.S.
# 13 - Weezer_(band): Los Angeles, California, U.S.
# 14 - Deftones_(band): Sacramento, California, U.S.
# 15 - Jimmy_Eat_World: Mesa, Arizona, U.S.
# 16 - NOFX: Los Angeles, California, U.S.
# 17 - The_Mars_Volta: El Paso, Texas, U.S.
# 18 - Black_Sabbath_(band): Birmingham, England
# 19 - Raised_Fist: Luleå, Norrbotten, Sweden

In [143]:
artist = "Sugarcult"
name_changed = artist.replace(' ', '_')
name_changed_band = artist.replace(' ', '_') + ('_(band)')
url = f"https://en.wikipedia.org/wiki/{name_changed}"

response = requests.get(url).content
soup = BeautifulSoup(response, "html.parser")

# origin = soup.select('table tr th', class_='infobox-label')[2].text
# # location = soup.select('table tr td', class_='infobox-data')[7].text
# location = soup.select('table tr td', class_='infobox-data')[1].text
# location

table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

table[0].text.split('Origin')[1].split('Genres')[0]
# table[0].text.split(')')[2].split('Genres')[0]
# table[0].text

'Santa Barbara, California, United States'

In [118]:
df.head()

   album_id          artist               album  rating  votes
0        37  Less Than Jake       Losing Streak    3.90    414
1        40          Sparta       Wiretap Scars    3.79    431
2        41            Muse          Absolution    3.99   4411
3        42            Muse             Showbiz    3.50   2181
4        45           Finch  What It Is to Burn    3.69    864

## Changing values

In [127]:
df[df['artist']=='pg.99 / Majority Rule']

Empty DataFrame
Columns: [album_id, artist, album, rating, votes]
Index: []

In [122]:
df['artist'] = np.where(df['artist']=='pg.99 / Majority Rule', 'Majority Rule', df['artist'])
df[df['artist']=='pg.99 / Majority Rule']

Empty DataFrame
Columns: [album_id, artist, album, rating, votes]
Index: []

In [ ]:
df.to_csv('Datasets/df_ratings.csv', index=False)

### **Testing code for strange cases**

In [ ]:
df = pd.read_csv('Datasets/df_ratings.csv')
artists = df['artist'].unique()

artists_list = []
origin_list = []
count=0

for index in artists[140:150]:

    artists_list.append(index)
    name_changed = index.replace(' ', '_')
    name_changed_band = name_changed + ('_(band)')

    try:
        url = f"https://en.wikipedia.org/wiki/{name_changed_band}"
        response = requests.get(url).content
        soup = BeautifulSoup(response, "html.parser")

        origin = soup.select('table tr th', class_='infobox-label')

        if len(origin) > 0:
            try:
                if origin[2].text == 'Origin':
                    location = soup.select('table tr td', class_='infobox-data')[1].text
                elif origin[3].text == 'Origin':
                    location = soup.select('table tr td', class_='infobox-data')[2].text
                # else:
                    
                if 'multiple issues' in location:
                    location = soup.select('table tr td', class_='infobox-data')[7].text        
                    print(f'{count} - {name_changed_band}: multiple issues - {location}')
                    origin_list.append(location)
                elif 'additional citations' in location:
                    location = soup.select('table tr td', class_='infobox-data')[3].text        
                    print(f'{count} - {name_changed_band}: additional citations - {location}')
                    origin_list.append(location)

                else:
                    print(f'{count} - {name_changed_band}: {location}')
                    origin_list.append(location)
            except:
                print(f'{count} - {name_changed_band}: {location}')
                origin_list.append(location)      
        else:
            try:
                url = f"https://en.wikipedia.org/wiki/{name_changed}"
                response = requests.get(url).content
                soup = BeautifulSoup(response, "html.parser")

                origin = soup.select('table tr th', class_='infobox-label')

                if len(origin) > 0:
                    if origin[2].text == 'Origin':
                        location = soup.select('table tr td', class_='infobox-data')[1].text

                        if 'multiple issues' in location:
                            location = soup.select('table tr td', class_='infobox-data')[7].text        
                            print(f'{count} - {name_changed_band}: multiple issues - {location}')
                            origin_list.append(location)
                        elif 'additional citations' in location:
                            location = soup.select('table tr td', class_='infobox-data')[3].text        
                            print(f'{count} - {name_changed_band}: additional citations - {location}')
                            origin_list.append(location)
                        else:
                            print(f'{count} - {name_changed_band}: {location}')
                            origin_list.append(location)

                    elif origin[3].text == 'Origin':
                        location = soup.select('table tr td', class_='infobox-data')[2].text
                        print(f'{count} - {name_changed_band}: {location}')
                        origin_list.append(location) 

                    else:
                        print(f'{count} - {index}: no location found')
                        origin_list.append(np.nan)  
                else:
                    print(f'{count} - {index}: short length')
                    origin_list.append(np.nan)
            except:
                print(f'{count} - {index}: error')
                origin_list.append(np.nan)
    except:
        print(f'{count} - {index}: error')
        origin_list.append(np.nan)

    if len(artists_list) != len(origin_list):
        print('different lengths')
        break

    count+=1

0 - Funeral_for_a_Friend_(band): Bridgend, Wales
1 - Millencolin_(band): multiple issues - Örebro, Sweden
2 - The_Flaming_Lips_(band): Oklahoma City, Oklahoma, U.S.
3 - Feeder_(band): Feeder in 2008
4 - Descendents_(band): Manhattan Beach, California, U.S.
5 - PJ Harvey: no location found
6 - Godsmack_(band): Lawrence, Massachusetts U.S.
7 - Blind_Faith_(band): Ripley, Surrey, England
8 - Van_Halen_(band): Pasadena, California, U.S.
9 - Damageplan_(band): Dallas, Texas, U.S.

## Defining the function to get the origins from Wikipedia

In [16]:
def get_origins_wikipedia(df, start_index, final_index):
    # df = pd.read_csv('Datasets/df_rock_ratings.csv')
    artists = df['artist'].unique()

    try:
        # import the DataFrame with the locations whose coordinates I already have
        df_coordinates_scrapped = pd.read_csv('Datasets/df_coordinates.csv')
        print('Bingo! df_coordinates.csv found')
    except: 
        print('df_coordinates.csv not found')

    artists_list = []
    origin_list = []
    count=0
    scrapped=0

    for index in artists[start_index:final_index]:

        name_changed = index.replace(' ', '_')
        name_changed_band = name_changed + ('_(band)')

        try:
            url = f"https://en.wikipedia.org/wiki/{name_changed_band}"
            response = requests.get(url).content
            soup = BeautifulSoup(response, "html.parser")

            table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

            location = table[0].text.split('Origin')[1].split('Genres')[0]
            city = location.split(', ')[0]
            count+=1
            
            try:
                if city in df_coordinates_scrapped['city'].values:
                    print(f'{scrapped}/{count} - {name_changed_band}: {location} - city already scrapped')
                else: # if it's a new city, append the information
                    artists_list.append(index)  
                    origin_list.append(location)
                    scrapped+=1
                    print(f'{scrapped}/{count} - {name_changed_band}: {location}')
            except:
                    artists_list.append(index)  
                    origin_list.append(location)
                    scrapped+=1
                    print(f'{scrapped}/{count} - {name_changed_band}: {location}')

        except:
            try:
                url = f"https://en.wikipedia.org/wiki/{name_changed}"
                response = requests.get(url).content
                soup = BeautifulSoup(response, "html.parser")
                table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

                try:
                    location = table[0].text.split('Origin')[1].split('Genres')[0]
                    city = location.split(', ')[0]
                    count+=1 
    
                    try:
                        if city in df_coordinates_scrapped['city'].values:
                            print(f'{scrapped}/{count} - {name_changed}: {location} - city already scrapped')
                        else: # if it's a new city, append the information
                            artists_list.append(index) 
                            origin_list.append(location)
                            scrapped+=1
                            print(f'{scrapped}/{count} - {name_changed}: {location}')
                    except:
                            artists_list.append(index)  
                            origin_list.append(location)
                            scrapped+=1
                            print(f'{scrapped}/{count} - {name_changed}: {location}')

                except:
                    location = table[0].text.split(')')[2].split('Genres')[0]
                    city = location.split(', ')[0]
                    count+=1

                    try:
                        if city in df_coordinates_scrapped['city'].values:
                            print(f'{scrapped}/{count} - {name_changed} (individual): {location} - city already scrapped')
                        else: # if it's a new city, append the information
                            artists_list.append(index) 
                            origin_list.append(location)
                            scrapped+=1
                            print(f'{scrapped}/{count} - {name_changed} (individual): {location}')
                    except:
                            artists_list.append(index)  
                            origin_list.append(location)
                            scrapped+=1
                            print(f'{scrapped}/{count} - {name_changed} (individual): {location}')

            except:
                try:

                    url = f"https://es.wikipedia.org/wiki/{name_changed}"
                    response = requests.get(url).content
                    soup = BeautifulSoup(response, "html.parser")

                    table = soup.select('#mw-content-text > div.mw-content-ltr.mw-parser-output > table.infobox')

                    location = table[0].text.split('Origen\n')[1].split(' Información')[0]
                    city = location.split(', ')[0]
                    count+=1    
    
                    try:
                        if city in df_coordinates_scrapped['city'].values:
                            print(f'{scrapped}/{count} - {name_changed} (español): {location} - city already scrapped')
                        else: # if it's a new city, append the information
                            artists_list.append(index)  
                            origin_list.append(location)
                            scrapped+=1
                            print(f'{scrapped}/{count} - {name_changed} (español): {location}')
                    except:
                            artists_list.append(index)  
                            origin_list.append(location)
                            scrapped+=1
                            print(f'{scrapped}/{count} - {name_changed} (español): {location}')

                except:
                    scrapped+=1
                    print(f'{scrapped}/{count} - {index}: error')
                    artists_list.append(index) 
                    origin_list.append(np.nan)

        if len(artists_list) != len(origin_list):
            print('different lengths')
            break

    return artists_list, origin_list  # Return the lists at the end

    # df_locations = pd.DataFrame({'artist': artists_list
    #                          , 'origin': origin_list})

## **Actual code to get the origins from Wikipedia**

In [17]:
df = pd.read_csv('Datasets/df_rock_ratings.csv')

In [ ]:
artists_list, origin_list = get_origins_wikipedia(df, 80, 90)

Bingo! df_coordinates.csv found
1/1 - Dark_Angel_(band): Downey, California, U.S.
2/2 - Sepultura: Belo Horizonte, Minas Gerais, Brazil
3/3 - Exodus_(band): Richmond, California, U.S.
4/4 - Big_Star_(band): Memphis, Tennessee, U.S.
5/5 - Silverchair_(band): Newcastle, New South Wales, Australia
6/6 - Adolescents_(band): Fullerton, California, United States
7/7 - Meat_Puppets: Phoenix, Arizona, U.S.
8/8 - Van_Morrison (individual): Belfast, Northern Ireland
9/9 - The_Flaming_Lips: Oklahoma City, Oklahoma, U.S.
9/10 - Foo_Fighters_(band): Seattle, Washington, U.S. - city already scrapped

## **Saving the data into a dataframe**

In [20]:
df_locations = pd.DataFrame({'artist': artists_list
                             , 'origin': origin_list})
df_locations.shape

(9, 2)

In [21]:
df_locations

             artist                                 origin
0        Dark Angel               Downey, California, U.S.
1         Sepultura   Belo Horizonte, Minas Gerais, Brazil
2            Exodus             Richmond, California, U.S.
3          Big Star               Memphis, Tennessee, U.S.
4       Silverchair  Newcastle, New South Wales, Australia
5       Adolescents   Fullerton, California, United States
6      Meat Puppets                 Phoenix, Arizona, U.S.
7      Van Morrison              Belfast, Northern Ireland
8  The Flaming Lips          Oklahoma City, Oklahoma, U.S.

## **Null or wrong values**

In [112]:
df_locations['origin'].isna().sum()

0

In [83]:
# percentage of nulls
print(f'{round(df_locations['origin'].isna().sum() / df_locations.shape[0]*100, 2)} % of nulls')

0.0 % of nulls

In [14]:
df_locations[df_locations['origin'].isna()]

Empty DataFrame
Columns: [artist, origin]
Index: []

**Let's search for these bands manually**

In [20]:
# df_ratings[df_ratings['artist']=='Incubus (USA-CA)']

In [35]:
df_locations['origin'] = np.where(df_locations['artist']=='The Flower Kings', 'Uppsala, Sweden', df_locations['origin'])

In [46]:
# now there should be no more null values
df_locations['origin'].isna().sum()

0

### Changing df_ratings in case needed

In [ ]:
# df_ratings['artist'] = np.where(df_ratings['artist']=='Incubus (USA-CA)', 'Incubus', df_ratings['artist'])
# df_ratings[df_ratings['artist']=='Incubus (USA-CA)']

Empty DataFrame
Columns: [album_id, artist, album, rating, votes]
Index: []

In [ ]:
# df_ratings.to_csv('Datasets/df_ratings_top.csv', index=False)

## **Create ``city``**

In [113]:
df_locations['city'] = df_locations['origin'].apply(lambda x: str(x).split(', ')[0])
df_locations

,artist,origin,city
0,Television,"New York City, New York, U.S.",New York City
1,Emery,"Rock Hill, South Carolina, U.S.",Rock Hill
2,Damien Rice,"Celbridge, Ireland",Celbridge
3,Hatebreed,"Bridgeport, Connecticut, U.S.",Bridgeport
4,Cradle of Filth,"Suffolk, England",Suffolk
5,KISS,"New York City, U.S.",New York City
6,The Polyphonic Spree,"Dallas, Texas, United States",Dallas
7,Dinosaur Jr.,"Amherst, Massachusetts, U.S.",Amherst
8,U2,"Dublin, Ireland",Dublin
9,Darkthrone,"Kolbotn, Akershus, Norway",Kolbotn
10,Ramones,"Forest Hills, Queens, New York, U.S.",Forest Hills
11,Comets on Fire,"Santa Cruz, California, U.S.",Santa Cruz
12,Fenix TX,"Houston, Texas, U.S.",Houston
13,Feeder,"Newport, Wales",Newport
14,PJ Harvey,"Bridport, Dorset, England",Bridport
15,Sebadoh,"Northampton, Massachusetts, U.S.",Northampton
16,Blind Faith,"Ripley, Surrey, England",Ripley
17,Van Halen,"Pasadena, California, U.S.",Pasadena
18,Damageplan,"Dallas, Texas, U.S.",Dallas
19,Sugarcult,"Santa Barbara, California, United States",Santa Barbara
20,Devo,"Akron, Ohio, U.S.",Akron
21,Yeah Yeah Yeahs,"New York City, U.S.",New York City
22,Sum 41,"Ajax, Ontario, Canada",Ajax
23,Fall Out Boy,"Wilmette, Illinois, U.S.",Wilmette
24,R.E.M.,"Athens, Georgia, U.S.",Athens
25,Steve Vai,"Carle Place, New York, U.S.",Carle Place
26,MC5,"Lincoln Park, Michigan, U.S.",Lincoln Park
27,Taking Back Sunday,"Amityville, New York, U.S.",Amityville
28,Oasis,"Manchester, England",Manchester
29,Lynyrd Skynyrd,"Jacksonville, Florida, U.S.",Jacksonville
30,Clinic,"Crosby, Liverpool, England",Crosby
31,The Allman Brothers Band,"Jacksonville, Florida, U.S.",Jacksonville
32,Iced Earth,"Tampa, Florida, U.S.",Tampa
33,Phish,"Burlington, Vermont, U.S.",Burlington
34,Electric Six,"Detroit, Michigan, U.S.",Detroit

In [114]:
print(f'{df_locations['origin'].nunique()} origins')
print(f'{df_locations['city'].nunique()} cities')

33 origins
31 cities

## **``origin`` cleaning: dots, [ ]...**

In [115]:
df_locations.sort_values('city')

,artist,origin,city
22,Sum 41,"Ajax, Ontario, Canada",Ajax
20,Devo,"Akron, Ohio, U.S.",Akron
7,Dinosaur Jr.,"Amherst, Massachusetts, U.S.",Amherst
27,Taking Back Sunday,"Amityville, New York, U.S.",Amityville
24,R.E.M.,"Athens, Georgia, U.S.",Athens
3,Hatebreed,"Bridgeport, Connecticut, U.S.",Bridgeport
14,PJ Harvey,"Bridport, Dorset, England",Bridport
33,Phish,"Burlington, Vermont, U.S.",Burlington
25,Steve Vai,"Carle Place, New York, U.S.",Carle Place
2,Damien Rice,"Celbridge, Ireland",Celbridge
30,Clinic,"Crosby, Liverpool, England",Crosby
18,Damageplan,"Dallas, Texas, U.S.",Dallas
6,The Polyphonic Spree,"Dallas, Texas, United States",Dallas
34,Electric Six,"Detroit, Michigan, U.S.",Detroit
8,U2,"Dublin, Ireland",Dublin
10,Ramones,"Forest Hills, Queens, New York, U.S.",Forest Hills
12,Fenix TX,"Houston, Texas, U.S.",Houston
29,Lynyrd Skynyrd,"Jacksonville, Florida, U.S.",Jacksonville
31,The Allman Brothers Band,"Jacksonville, Florida, U.S.",Jacksonville
9,Darkthrone,"Kolbotn, Akershus, Norway",Kolbotn
26,MC5,"Lincoln Park, Michigan, U.S.",Lincoln Park
28,Oasis,"Manchester, England",Manchester
0,Television,"New York City, New York, U.S.",New York City
5,KISS,"New York City, U.S.",New York City
21,Yeah Yeah Yeahs,"New York City, U.S.",New York City
13,Feeder,"Newport, Wales",Newport
15,Sebadoh,"Northampton, Massachusetts, U.S.",Northampton
17,Van Halen,"Pasadena, California, U.S.",Pasadena
16,Blind Faith,"Ripley, Surrey, England",Ripley
1,Emery,"Rock Hill, South Carolina, U.S.",Rock Hill
19,Sugarcult,"Santa Barbara, California, United States",Santa Barbara
11,Comets on Fire,"Santa Cruz, California, U.S.",Santa Cruz
4,Cradle of Filth,"Suffolk, England",Suffolk
32,Iced Earth,"Tampa, Florida, U.S.",Tampa
23,Fall Out Boy,"Wilmette, Illinois, U.S.",Wilmette

In [116]:
# replace special characters for spaces
df_locations['origin'] = df_locations['origin'].str.replace('.', '')
df_locations['origin'] = df_locations['origin'].str.replace(r'\[\d+\]', '', regex=True)

# show the df to check it has been changed correctly
df_locations.sort_values('city')

,artist,origin,city
22,Sum 41,"Ajax, Ontario, Canada",Ajax
20,Devo,"Akron, Ohio, US",Akron
7,Dinosaur Jr.,"Amherst, Massachusetts, US",Amherst
27,Taking Back Sunday,"Amityville, New York, US",Amityville
24,R.E.M.,"Athens, Georgia, US",Athens
3,Hatebreed,"Bridgeport, Connecticut, US",Bridgeport
14,PJ Harvey,"Bridport, Dorset, England",Bridport
33,Phish,"Burlington, Vermont, US",Burlington
25,Steve Vai,"Carle Place, New York, US",Carle Place
2,Damien Rice,"Celbridge, Ireland",Celbridge
30,Clinic,"Crosby, Liverpool, England",Crosby
18,Damageplan,"Dallas, Texas, US",Dallas
6,The Polyphonic Spree,"Dallas, Texas, United States",Dallas
34,Electric Six,"Detroit, Michigan, US",Detroit
8,U2,"Dublin, Ireland",Dublin
10,Ramones,"Forest Hills, Queens, New York, US",Forest Hills
12,Fenix TX,"Houston, Texas, US",Houston
29,Lynyrd Skynyrd,"Jacksonville, Florida, US",Jacksonville
31,The Allman Brothers Band,"Jacksonville, Florida, US",Jacksonville
9,Darkthrone,"Kolbotn, Akershus, Norway",Kolbotn
26,MC5,"Lincoln Park, Michigan, US",Lincoln Park
28,Oasis,"Manchester, England",Manchester
0,Television,"New York City, New York, US",New York City
5,KISS,"New York City, US",New York City
21,Yeah Yeah Yeahs,"New York City, US",New York City
13,Feeder,"Newport, Wales",Newport
15,Sebadoh,"Northampton, Massachusetts, US",Northampton
17,Van Halen,"Pasadena, California, US",Pasadena
16,Blind Faith,"Ripley, Surrey, England",Ripley
1,Emery,"Rock Hill, South Carolina, US",Rock Hill
19,Sugarcult,"Santa Barbara, California, United States",Santa Barbara
11,Comets on Fire,"Santa Cruz, California, US",Santa Cruz
4,Cradle of Filth,"Suffolk, England",Suffolk
32,Iced Earth,"Tampa, Florida, US",Tampa
23,Fall Out Boy,"Wilmette, Illinois, US",Wilmette

## **Concat with the df_locations already scrapped**

In [117]:
df_locations_scrapped = pd.read_csv('Datasets/df_locations.csv')
df_locations_scrapped.shape

(53, 3)

In [118]:
df_locations_concat = pd.concat([df_locations_scrapped, df_locations])
df_locations_concat.reset_index(drop=True, inplace=True)
df_locations_concat.shape

(88, 3)

In [119]:
df_locations_concat.duplicated().sum()

0

### **Exporting to .csv**

In [120]:
df_locations_concat.to_csv('Datasets/df_locations.csv', index=False)

## **GeoPy**

In [121]:
geolocator = Nominatim(user_agent="music_analysis")

unique_origins = df_locations['origin'].unique()

country_list = []
city_list = []
latitude_list = []
longitude_list = []
address_list = []
count = 0

for origin in unique_origins:
  count+=1
  time.sleep(1)
  location = geolocator.geocode(origin)

  print(f'{count}/{len(unique_origins)} - {location.address}')  

# save the info in lists
  country_list.append(location.address.split(', ')[-1])
  city_list.append(origin.split(', ')[0])
  latitude_list.append(location.latitude)
  longitude_list.append(location.longitude)
  address_list.append(location.address)

1/33 - City of New York, New York, United States
2/33 - Rock Hill, York County, South Carolina, United States
3/33 - Celbridge, The Municipal District of Celbridge — Leixlip, County Kildare, Leinster, Éire / Ireland
4/33 - Bridgeport, Greater Bridgeport Planning Region, Connecticut, United States
5/33 - Suffolk, England, United Kingdom
6/33 - City of New York, New York, United States
7/33 - Dallas, Dallas County, Texas, United States
8/33 - Amherst, Hampshire County, Massachusetts, United States
9/33 - Dublin, County Dublin, Leinster, Éire / Ireland
10/33 - Kolbotn, Kolbotnveien, Rasten, Kullebund, Kolbotn, Nordre Follo, Akershus, 1410, Norge
11/33 - Forest Hills, Queens, Queens County, City of New York, New York, United States
12/33 - Santa Cruz County, California, United States
13/33 - Houston, Harris County, Texas, United States
14/33 - Newport, Cymru / Wales, United Kingdom
15/33 - Bridport, Dorset, England, United Kingdom
16/33 - Northampton, Hampshire County, Massachusetts, United States
17/33 - Ripley, Guildford, Surrey, England, United Kingdom
18/33 - Pasadena, Los Angeles County, California, United States
19/33 - Dallas, Dallas County, Texas, United States
20/33 - Santa Barbara, Santa Barbara County, California, United States
21/33 - Akron, Summit County, Ohio, United States
22/33 - Ajax, Durham Region, Golden Horseshoe, Ontario, Canada
23/33 - Wilmette, New Trier Township, Cook County, Illinois, 60091, United States
24/33 - Athens, Clarke County, Georgia, United States
25/33 - Carle Place, Town of North Hempstead, Nassau County, New York, 11514, United States
26/33 - Lincoln Park, Wayne County, Michigan, 48146, United States
27/33 - Village of Amityville, Town of Babylon, Suffolk County, New York, United States
28/33 - Manchester, Greater Manchester, England, United Kingdom
29/33 - Jacksonville, Duval County, Florida, United States
30/33 - Crosby, Sefton, Liverpool City Region, England, L23 3DL, United Kingdom
31/33 - Tampa, Hillsborough County, Florida, United States
32/33 - Burlington, Chittenden County, Vermont, United States
33/33 - Detroit, Wayne County, Michigan, United States

### **Save it into a dataframe**

In [122]:
df = pd.DataFrame({'country': country_list
                               , 'city': city_list
                               , 'origin': unique_origins
                               , 'latitude': latitude_list
                               , 'longitude': longitude_list
                               , 'address': address_list})
df.sort_values(['country', 'longitude'])

,country,city,origin,latitude,longitude,address
21,Canada,Ajax,"Ajax, Ontario, Canada",43.850529,-79.020881,"Ajax, Durham Region, Golden Horseshoe, Ontario..."
9,Norge,Kolbotn,"Kolbotn, Akershus, Norway",59.810882,10.800800,"Kolbotn, Kolbotnveien, Rasten, Kullebund, Kolb..."
29,United Kingdom,Crosby,"Crosby, Liverpool, England",53.484439,-3.029176,"Crosby, Sefton, Liverpool City Region, England..."
13,United Kingdom,Newport,"Newport, Wales",51.588233,-2.997497,"Newport, Cymru / Wales, United Kingdom"
14,United Kingdom,Bridport,"Bridport, Dorset, England",50.733785,-2.758901,"Bridport, Dorset, England, United Kingdom"
27,United Kingdom,Manchester,"Manchester, England",53.479489,-2.245115,"Manchester, Greater Manchester, England, Unite..."
16,United Kingdom,Ripley,"Ripley, Surrey, England",51.300208,-0.492679,"Ripley, Guildford, Surrey, England, United Kin..."
4,United Kingdom,Suffolk,"Suffolk, England",52.241001,1.046572,"Suffolk, England, United Kingdom"
11,United States,Santa Cruz,"Santa Cruz, California, US",37.050096,-121.990590,"Santa Cruz County, California, United States"
19,United States,Santa Barbara,"Santa Barbara, California, United States",34.422132,-119.702667,"Santa Barbara, Santa Barbara County, Californi..."
17,United States,Pasadena,"Pasadena, California, US",34.147651,-118.144155,"Pasadena, Los Angeles County, California, Unit..."
6,United States,Dallas,"Dallas, Texas, United States",32.776272,-96.796856,"Dallas, Dallas County, Texas, United States"
18,United States,Dallas,"Dallas, Texas, US",32.776272,-96.796856,"Dallas, Dallas County, Texas, United States"
12,United States,Houston,"Houston, Texas, US",29.758938,-95.367697,"Houston, Harris County, Texas, United States"
22,United States,Wilmette,"Wilmette, Illinois, US",42.075732,-87.719377,"Wilmette, New Trier Township, Cook County, Ill..."
23,United States,Athens,"Athens, Georgia, US",33.959768,-83.376398,"Athens, Clarke County, Georgia, United States"
25,United States,Lincoln Park,"Lincoln Park, Michigan, US",42.250594,-83.178536,"Lincoln Park, Wayne County, Michigan, 48146, U..."
32,United States,Detroit,"Detroit, Michigan, US",42.331551,-83.046640,"Detroit, Wayne County, Michigan, United States"
30,United States,Tampa,"Tampa, Florida, US",27.947760,-82.458444,"Tampa, Hillsborough County, Florida, United St..."
28,United States,Jacksonville,"Jacksonville, Florida, US",30.332184,-81.655651,"Jacksonville, Duval County, Florida, United St..."
20,United States,Akron,"Akron, Ohio, US",41.083064,-81.518485,"Akron, Summit County, Ohio, United States"
1,United States,Rock Hill,"Rock Hill, South Carolina, US",34.924867,-81.025078,"Rock Hill, York County, South Carolina, United..."
0,United States,New York City,"New York City, New York, US",40.712728,-74.006015,"City of New York, New York, United States"
5,United States,New York City,"New York City, US",40.712728,-74.006015,"City of New York, New York, United States"
10,United States,Forest Hills,"Forest Hills, Queens, New York, US",40.723101,-73.846613,"Forest Hills, Queens, Queens County, City of N..."
24,United States,Carle Place,"Carle Place, New York, US",40.750055,-73.611826,"Carle Place, Town of North Hempstead, Nassau C..."
26,United States,Amityville,"Amityville, New York, US",40.678989,-73.417067,"Village of Amityville, Town of Babylon, Suffol..."
31,United States,Burlington,"Burlington, Vermont, US",44.476160,-73.212906,"Burlington, Chittenden County, Vermont, United..."
3,United States,Bridgeport,"Bridgeport, Connecticut, US",41.179269,-73.188786,"Bridgeport, Greater Bridgeport Planning Region..."
15,United States,Northampton,"Northampton, Massachusetts, US",42.317899,-72.631101,"Northampton, Hampshire County, Massachusetts, ..."
7,United States,Amherst,"Amherst, Massachusetts, US",42.373195,-72.519876,"Amherst, Hampshire County, Massachusetts, Unit..."
2,Éire / Ireland,Celbridge,"Celbridge, Ireland",53.338300,-6.539622,"Celbridge, The Municipal District of Celbridge..."
8,Éire / Ireland,Dublin,"Dublin, Ireland",53.349379,-6.260559,"Dublin, County Dublin, Leinster, Éire / Ireland"

### **Concat with the previous df**

In [123]:
# import the last df
df_coordinates_scrapped = pd.read_csv('Datasets/df_coordinates.csv')
df_coordinates_scrapped.shape

(48, 6)

In [124]:
# concat with the df of the coordinates I just got
df_coordinates_concat = pd.concat([df_coordinates_scrapped, df])
df_coordinates_concat.reset_index(drop=True, inplace=True)
df_coordinates_concat.shape

(81, 6)

In [125]:
check_duplicates_coordinates(df_coordinates_concat)

Found 2 duplicates:
             city        country
53  New York City  United States
66         Dallas  United States

Resulting dataset: (79, 6)

In [126]:
# save it in a csv file
df_coordinates_concat.to_csv('Datasets/df_coordinates.csv', index=False)

## **Statistics**

In [127]:
df_coordinates_concat['country'].value_counts()

country
United States      54
United Kingdom     13
Canada              3
Sverige             2
Éire / Ireland      2
Danmark             1
Australia           1
Suomi / Finland     1
Deutschland         1
Norge               1
Name: count, dtype: int64

### Merge with the previous df

In [128]:
df_locations = pd.read_csv('Datasets/df_locations.csv')
df_locations

,artist,origin,city
0,Less Than Jake,"Gainesville, Florida, US",Gainesville
1,Sparta,"El Paso, Texas",El Paso
2,Muse,"Teignmouth, Devon, England",Teignmouth
3,Finch,"Temecula, California, Estados Unidos",Temecula
4,Queens of the Stone Age,"Seattle, Washington, US",Seattle
...,...,...,...
83,Clinic,"Crosby, Liverpool, England",Crosby
84,The Allman Brothers Band,"Jacksonville, Florida, US",Jacksonville
85,Iced Earth,"Tampa, Florida, US",Tampa
86,Phish,"Burlington, Vermont, US",Burlington
87,Electric Six,"Detroit, Michigan, US",Detroit

In [103]:
df_coordinates_concat

,country,city,origin,latitude,longitude,address
0,United States,Gainesville,"Gainesville, Florida, US",29.651968,-82.324985,"Gainesville, Alachua County, Florida, United S..."
1,United States,El Paso,"El Paso, Texas",31.760116,-106.487040,"El Paso, El Paso County, Texas, United States"
2,United Kingdom,Teignmouth,"Teignmouth, Devon, England",50.546338,-3.495780,"Teignmouth, Teignbridge, Devon, England, Unite..."
3,United States,Temecula,"Temecula, California, Estados Unidos",33.494635,-117.147366,"Temecula, Riverside County, California, United..."
4,United States,Seattle,"Seattle, Washington, US",47.603832,-122.330062,"Seattle, King County, Washington, United States"
5,United States,Los Angeles,"Los Angeles, California, United States",34.053691,-118.242766,"Los Angeles, Los Angeles County, California, U..."
6,United States,Boston,"Boston, Massachusetts, United States",42.355433,-71.060511,"Boston, Suffolk County, Massachusetts, United ..."
7,United States,Ukiah,"Ukiah, California, US",39.150166,-123.207786,"Ukiah, Mendocino County, California, 95482, Un..."
8,United States,Long Beach,"Long Beach, California, US",33.769016,-118.191604,"Long Beach, Los Angeles County, California, Un..."
9,United Kingdom,Crawley,"Crawley, England",51.110344,-0.180109,"Crawley, West Sussex, England, United Kingdom"
10,United States,Poway,"Poway, California, US",32.962823,-117.035864,"Poway, San Diego County, California, 92064, Un..."
11,United States,Sacramento,"Sacramento, California, US",38.581061,-121.493895,"Sacramento, Sacramento County, California, Uni..."
12,United States,Mesa,"Mesa, Arizona, US",33.415101,-111.831455,"Mesa, Maricopa County, Arizona, United States"
13,United Kingdom,Birmingham,"Birmingham, England",52.479699,-1.902691,"Birmingham, West Midlands, England, United Kin..."
14,Sverige,Luleå,"Luleå, Norrbotten, Sweden",65.583119,22.145954,"Luleå, Luleå kommun, Norrbottens län, 971 28, ..."
15,United Kingdom,London,"London, England",51.507446,-0.127765,"London, Greater London, England, United Kingdom"
16,United States,Dayton,"Dayton, Ohio, United States",39.758948,-84.191607,"Dayton, Montgomery County, Ohio, United States"
17,United States,Chicago,"Chicago, Illinois, US",41.875562,-87.624421,"Chicago, Cook County, Illinois, United States"
18,United States,Westbury,"Westbury, New York, US",40.755656,-73.587627,"Village of Westbury, Town of North Hempstead, ..."
19,United States,New Brunswick,"New Brunswick, New Jersey, United States",40.495137,-74.443925,"New Brunswick, Middlesex County, New Jersey, U..."
20,United States,Rockville,"Rockville, Maryland, United States",39.081798,-77.151684,"Rockville, Montgomery County, Maryland, United..."
21,United Kingdom,Liverpool,"Liverpool, England",53.407199,-2.991680,"Liverpool, Liverpool City Region, England, Uni..."
22,United States,Calabasas,"Calabasas, California, US",34.144664,-118.644097,"Calabasas, Los Angeles County, California, 913..."
23,Sverige,Uppsala,"Uppsala, Sweden",59.858613,17.638744,"Uppsala, Uppsala kommun, Uppsala län, 753 20, ..."
24,United States,Nyack,"Nyack, New York, US",41.091121,-73.919679,"Village of Nyack, Town of Orangetown, Rockland..."
25,United States,Arlington,"Arlington, Texas, US",32.735582,-97.107119,"Arlington, Tarrant County, Texas, United States"
26,United States,Long Island,"Long Island, New York, US",40.851497,-73.099430,"Long Island, New York, United States"
27,United States,Carbondale,"Carbondale, Illinois, US",37.727469,-89.216655,"Carbondale, Jackson County, Illinois, 62901, U..."
28,United States,East Brunswick,"East Brunswick, New Jersey, US",40.427884,-74.415984,"East Brunswick Township, Middlesex County, New..."
29,United Kingdom,Abingdon,"Abingdon, Oxfordshire, England",51.671484,-1.277972,"Abingdon, Vale of White Horse, Oxfordshire, En..."
30,United States,Rodeo,"Rodeo, California, US",38.028274,-122.237312,"Rodeo, Hercules, Contra Costa County, Californ..."
31,United States,Evanston,"Evanston, Illinois, US",42.047004,-87.684605,"Evanston, Evanston Township, Cook County, Illi..."
32,United States,Cleveland,"Cleveland, Ohio, US",41.499657,-81.693677,"Cleveland, Cuyahoga County, Ohio, United States"
33,United States,Montesano,"Montesano, Washington, US",46.981206,-123.602662,"Montesano, Grays Harbor County, Washington, Un..."
34,United States,Coral Springs,"Coral Springs, Florida, United States",26.271192,-80.270604,"Coral Springs, Broward County, Florida, United..."
35,Danmark,Copenhagen,"Copenhagen, Denmark",55.686724,12.570072,"København, Københavns Kommune, Region Hovedsta..."
36,Canada,Vancouver,"Vancouver, British Columbia, Canada",49.260872,-123.113952,"Vancouver, Metro Vancouver Regional District, ..."
37,Australia,Brisbane,"Brisbane, Queensland, Australia",-27.468968,153.023499,"City of Brisbane, Queensland, Australia"
38,United States,Austin,"Austin, Texas, US",30.271129,-97.743700,"Austin, Travis County, Texas, United States"
39,Suomi / Finland,Espoo,"Espoo, Finland",60.204965,24.655981,"Espoo, Helsingin seutukunta, Uusimaa, Manner-S..."
40,United States,Glendale,"Glendale, California, US",34.146942,-118.247847,"Glendale, Los Angeles County, California, Unit..."
41,Canada,St Catharines,"St Catharines, Ontario, Canada",43.157981,-79.244100,"St. Catharines, Niagara Region, Golden Horsesh..."
42,Deutschland,Berlin,"Berlin, Germany",52.510885,13.398937,"Berlin, Pankow, Deutschland"
43,United States,Irvine,"Irvine, California, US",33.685697,-117.825981,"Irvine, Orange County, California, United States"
44,United Kingdom,Pontypridd,"Pontypridd, Wales",51.600105,-3.344936,"Pontypridd, Rhondda Cynon Taf, Cymru / Wales, ..."
45,United States,San Diego,"San Diego, California, US",32.717420,-117.162772,"San Diego, San Diego County, California, Unite..."
46,United States,Garden Grove,"Garden Grove, California, US",33.774629,-117.946372,"Garden Grove, Orange County, California, Unite..."
47,United States,Ann Arbor,"Ann Arbor, Michigan, US",42.281372,-83.748462,"Ann Arbor, Washtenaw County, Michigan, United ..."

In [129]:
# merge with the previous df with the artists
df_locations_merged = pd.merge(df_locations, df_coordinates_concat, on=['origin'])
df_locations_merged.drop(columns=['origin', 'city_x'], inplace=True)
df_locations_merged.rename(columns={'city_y': 'city'}, inplace=True)
df_locations_merged.sort_values(['country'])

,artist,country,city,latitude,longitude,address
39,Regurgitator,Australia,Brisbane,-27.468968,153.023499,"City of Brisbane, Queensland, Australia"
38,The New Pornographers,Canada,Vancouver,49.260872,-123.113952,"Vancouver, Metro Vancouver Regional District, ..."
43,Alexisonfire,Canada,St Catharines,43.157981,-79.244100,"St. Catharines, Niagara Region, Golden Horsesh..."
70,Sum 41,Canada,Ajax,43.850529,-79.020881,"Ajax, Durham Region, Golden Horseshoe, Ontario..."
37,The Raveonettes,Danmark,Copenhagen,55.686724,12.570072,"København, Københavns Kommune, Region Hovedsta..."
...,...,...,...,...,...,...
26,Pantera,United States,Arlington,32.735582,-97.107119,"Arlington, Tarrant County, Texas, United States"
33,Big Black,United States,Evanston,42.047004,-87.684605,"Evanston, Evanston Township, Cook County, Illi..."
82,Electric Six,United States,Detroit,42.331551,-83.046640,"Detroit, Wayne County, Michigan, United States"
58,U2,Éire / Ireland,Dublin,53.349379,-6.260559,"Dublin, County Dublin, Leinster, Éire / Ireland"
53,Damien Rice,Éire / Ireland,Celbridge,53.338300,-6.539622,"Celbridge, The Municipal District of Celbridge..."

In [130]:
# save it in a csv file
df_locations_merged.to_csv('Datasets/df_locations_merged.csv', index=False)

### Selenium

In [ ]:
url = "https://en.wikipedia.org/wiki/"

PATH = ("C:/Program Files (x86)/chromedriver.exe")
driver = webdriver.Chrome(PATH)
driver.get(url)

time.sleep(2)

search = driver.select('')

NameError: name 'time' is not defined